src/sfdc/force-app/main/default/flows/B2C_Commerce_Order_On_Behalf_Of.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BusinessManagerGrant_Action</name>
        <label>BusinessManagerGrant Action</label>
        <locationX>476</locationX>
        <locationY>489</locationY>
        <actionName>B2CIABusinessManagerGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BusinessManager_Decision</targetReference>
        </connector>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namedCredential</name>
            <value>
                <elementReference>selectedNamedCredential</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CustomerAuth_Action</name>
        <label>CustomerAuth Action</label>
        <locationX>476</locationX>
        <locationY>676</locationY>
        <actionName>B2CIAAuthCustomerClientCredentialsGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CustomerAuth_Decision</targetReference>
        </connector>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>selectedCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <elementReference>selectedSiteApi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>selectedSiteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>BusinessManagerGrant_Action.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>selectedSiteVersion</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>CustomerId_Assignment</name>
        <label>CustomerId Assignment</label>
        <locationX>1183</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_GetRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Site_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerListId_Assignment</name>
        <label>CustomerListId and CustomerId Assignment</label>
        <locationX>1112</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>CustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_GetRecord.B2C_CustomerList__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_GetRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Site_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OOBOCustomerId_Assignment</name>
        <label>OOBOCustomerId Assignment</label>
        <locationX>1074</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOOBOCustomerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CanInvokeCallouts_Decisions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BusinessManager_Decision</name>
        <label>BusinessManager Decision</label>
        <locationX>322</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_BusinessManagerNotError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessManagerGrant_Action.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerAuth_Action</targetReference>
            </connector>
            <label>OutcomeIs BusinessManagerNotError</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanInvokeCallouts_Decisions</name>
        <label>CanInvokeCallouts Decisions</label>
        <locationX>836</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Screen_CouldNotInvokeCallout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CanInvokeCallouts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedClientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedNamedCredential</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteApi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BusinessManagerGrant_Action</targetReference>
            </connector>
            <label>OutcomeIs CanInvokeCallouts</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerAuth_Decision</name>
        <label>CustomerAuth Decision</label>
        <locationX>326</locationX>
        <locationY>895</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerAuthNotError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerAuth_Action.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_OrderOnBehalfOf</targetReference>
            </connector>
            <label>OutcomeIs CustomerAuthNotError</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerId_Decision</name>
        <label>CustomerId Decision</label>
        <locationX>1272</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>OOBOCustomerId_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerIdIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_GetRecord.B2C_Customer_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CanInvokeCallouts_Decisions</targetReference>
            </connector>
            <label>OutcomeIs CustomerIdIsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_B2C_Customer_List</name>
        <label>Is Active B2C Customer List?</label>
        <locationX>766</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>CustomerListId_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer List Is Active</defaultConnectorLabel>
        <rules>
            <name>No_Active_Customer_List_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact_GetRecord.B2C_CustomerList__r.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_GetRecord.B2C_CustomerList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Error_B2CCustomomerListNotActive</targetReference>
            </connector>
            <label>No Active Customer List Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActiveCustomerListsRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>B2C_CustomerList__c</object>
        <outputAssignments>
            <assignToReference>CustomerListId</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerList_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerListId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>B2C_Site__c</object>
        <outputAssignments>
            <assignToReference>selectedClientId</assignToReference>
            <field>B2C_Client_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteApi</assignToReference>
            <field>Base_API_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrl</assignToReference>
            <field>Base_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteId</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteVersion</assignToReference>
            <field>OCAPI_Version_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBOCustomerId</assignToReference>
            <field>OOBO_Customer_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedNamedCredential</assignToReference>
            <field>OOBO_Named_Credential_Developer_Name__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>B2C Commerce: Order On Behalf Of {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Order On Behalf Of: Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contact_GetRecord</name>
        <label>Contact GetRecord</label>
        <locationX>477</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Active_B2C_Customer_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_CouldNotInvokeCallout</name>
        <label>CouldNotInvokeCallout Screen</label>
        <locationX>845</locationX>
        <locationY>697</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CouldNotInvokeCallout_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order On Behalf Of could not be launched.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Either customer or site information is missing.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please, confirm that the following data is populated:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Client ID&lt;/li&gt;&lt;li&gt;Customer ID&lt;/li&gt;&lt;li&gt;Named Credential&lt;/li&gt;&lt;li&gt;Shop URL&lt;/li&gt;&lt;li&gt;Site API URL&lt;/li&gt;&lt;li&gt;Site ID&lt;/li&gt;&lt;li&gt;Site Version&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_CustomerAuth</name>
        <label>DEBUG_CustomerAuth_Screen</label>
        <locationX>347</locationX>
        <locationY>736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CustomerAuth_Decision</targetReference>
        </connector>
        <fields>
            <name>CustomerAuth_DisplayText</name>
            <fieldText>&lt;p&gt;{!CustomerAuth_Action.accessToken}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Debug_BusinessManager</name>
        <label>DEBUG_BusinessManager Screen</label>
        <locationX>328</locationX>
        <locationY>429</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BusinessManager_Decision</targetReference>
        </connector>
        <fields>
            <name>BusinessManagerToken_DisplayText</name>
            <fieldText>&lt;p&gt;{!BusinessManagerGrant_Action.accessToken}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_DEBUG_ContactFields</name>
        <label>DEBUG ContactFields</label>
        <locationX>1048</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CustomerListId_Assignment</targetReference>
        </connector>
        <fields>
            <name>contact_displaytext</name>
            <fieldText>&lt;p&gt;{!Contact_GetRecord.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Auth</name>
        <label>Error Screen</label>
        <locationX>32</locationX>
        <locationY>708</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_ErrorWithAuth</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order On Behalf of Customer&lt;/b&gt; could not be launched, please review details below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_ErrorMsg</name>
            <defaultValue>
                <stringValue>{!BusinessManagerGrant_Action.errorMessage}
{!CustomerAuth_Action.errorMessage}</stringValue>
            </defaultValue>
            <fieldText>Error Message:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Text_ErrorDetails</name>
            <defaultValue>
                <stringValue>{!BusinessManagerGrant_Action.responseBody}
{!CustomerAuth_Action.responseBody}</stringValue>
            </defaultValue>
            <fieldText>Error Details:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_B2CCustomomerListNotActive</name>
        <label>B2CCustomerListNotActive</label>
        <locationX>773</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CustomerId_Assignment</targetReference>
        </connector>
        <fields>
            <name>Display_B2CCustomerListMustBeActiveErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order On Behalf Of Customer requires an active B2C Customer List assigned or selected.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActiveCustomerLists</name>
            <choiceReferences>ActiveCustomerListsRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Active Customer List:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Initial screen, start of OOBO dialog</description>
        <name>Screen_Init_OOBO</name>
        <label>Init Screen</label>
        <locationX>476</locationX>
        <locationY>204</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_GetRecord</targetReference>
        </connector>
        <fields>
            <name>OOBO_DisplayText</name>
            <fieldText>&lt;p&gt;To launch &lt;b&gt;Order On Behalf of Customer&lt;/b&gt;, please make sure that&lt;/p&gt;&lt;ul&gt;&lt;li&gt;B2C Customer List is active&lt;/li&gt;&lt;li&gt;B2C Site is active&lt;/li&gt;&lt;li&gt;You configured Client ID and Named Credential&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Click &lt;b&gt;Next &lt;/b&gt;to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_OrderOnBehalfOf</name>
        <label>OrderOnBehalfOf Screen</label>
        <locationX>445</locationX>
        <locationY>1103</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_launchOOBO</name>
            <fieldText>&lt;p&gt;Launch &lt;b&gt;Order On Behalf Of&lt;/b&gt; in a new browser Tab by clicking the button below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>B2COrderOnBehalfOf_LWC</name>
            <extensionName>c:b2COrderOnBehalfOf</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>domain</name>
                <value>
                    <elementReference>selectedSiteApi</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shopDomain</name>
                <value>
                    <elementReference>selectedShopUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>siteId</name>
                <value>
                    <elementReference>selectedSiteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>token</name>
                <value>
                    <elementReference>CustomerAuth_Action.accessToken</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>version</name>
                <value>
                    <elementReference>selectedSiteVersion</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Click &lt;b&gt;Finish &lt;/b&gt;to &lt;b&gt;cancel &lt;/b&gt;OOBO launch.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Site_Selection</name>
        <label>Site Screen</label>
        <locationX>1323</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CustomerId_Decision</targetReference>
        </connector>
        <fields>
            <name>DisplayText_SelectSite</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Available active storefront sites for Order On Behalf Of Customer.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Picklist</name>
            <choiceReferences>SiteRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>351</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Screen_Init_OOBO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedNamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOOBOCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedShopUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RefArch</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedSiteVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
