src/sfdc/force-app/main/default/flows/B2C_Contact_Winning_Match.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Duplicates_SendEmail</name>
        <label>Send Duplicate Notification</label>
        <locationX>582</locationX>
        <locationY>2004</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Duplicates_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email_GetRecord.Duplicate_Alert_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>B2C-CRM-SYNC: B2C Duplicate Contact Records Found</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AdToDuplicatesText_Assignment</name>
        <label>AdToDuplicatesText Assignment</label>
        <locationX>1278</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Duplicates_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicatesTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicates_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... capture the Contact record that was matched on the B2C Customer ID value.</description>
        <name>asn_CustomerIdMatch</name>
        <label>Capture the Match</label>
        <locationX>485</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>ContactMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_B2CCustomerIDMatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_B2CCustomerIDMatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asn_CustomerIdMatchDuplicate</name>
        <label>Match Duplicate</label>
        <locationX>581</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>DuplicateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_B2CCustomerIDMatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicatesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_B2CCustomerIDMatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the current Contact being evaluated as the matchedContact.</description>
        <name>asn_CustomerListIdCustomerNoMatch</name>
        <label>CustomerListId CustomerNo Match Assignment</label>
        <locationX>1277</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>ContactMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_B2CCustomerListIDCustomerNoMatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_B2CCustomerListIDCustomerNoMatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the current Contact being evaluated as the matchedContact.</description>
        <name>asn_CustomerListIdEmailLastNameMatch</name>
        <label>CustomerListId Email LastName Match Assignment</label>
        <locationX>448</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>ContactMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_B2CCustomerListIdEmailLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_B2CCustomerListIdEmailLastName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the current Contact being evaluated as the matchedContact.</description>
        <name>asn_EmailLastNameEmptyCutomerListIDMatch</name>
        <label>Email LastName Empty CustomerListID Match Assignment</label>
        <locationX>1279</locationX>
        <locationY>1240</locationY>
        <assignmentItems>
            <assignToReference>ContactMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailLastNameEmptyCustomerListMatch_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailLastNameEmptyCustomerListMatch_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactWinner_Assignment</name>
        <label>ContactWinner Assignment</label>
        <locationX>847</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Duplicates_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactWinnerTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicates_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerListIdCustomerNoMatchDuplicate_Assignment</name>
        <label>CustomerListId CustomerNo Match Duplicate Assignment</label>
        <locationX>1172</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>DuplicateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_B2CCustomerListIDCustomerNoMatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicatesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_B2CCustomerListIDCustomerNoMatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerListIdEmailLastNameMatchDuplicate_Assignment</name>
        <label>CustomerListId Email LastName Match Duplicate Assignment</label>
        <locationX>535</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>DuplicateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_B2CCustomerListIdEmailLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicatesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_B2CCustomerListIdEmailLastName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmailLastNameEmptyCustomerList_MatchDuplicate_Assignment</name>
        <label>Email LastName Empty CustomerList Match Duplicate Assignment</label>
        <locationX>1171</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>DuplicateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailLastNameEmptyCustomerListMatch_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailLastNameEmptyCustomerListMatch_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if a match on B2C Customer ID is valid.</description>
        <name>dec_B2CCustomerIDMatch</name>
        <label>Is this a Match?</label>
        <locationX>203</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>loop_B2CCustomerIDMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerIDMatchDuplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerIDMatch.B2C_Customer_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_CustomerIdMatchDuplicate</targetReference>
            </connector>
            <label>Match Duplicate</label>
        </rules>
        <rules>
            <name>decOut_B2CCustomerIDMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerIDMatch.B2C_Customer_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_CustomerIdMatch</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C CustomerListID and CustomerNo were found in each of the matchResults being evaluated.</description>
        <name>dec_B2CCustomerListIDCustomerNoFound</name>
        <label>Was a B2C CustomerList ID CustomerNo Found in the Match Results?</label>
        <locationX>1579</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>loop_B2CCustomerListIDCustomerNoMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerListIDCustomerNoNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_B2CCustomerListIDCustomerNoMatch.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_B2CCustomerListIDCustomerNoMatch.B2C_Customer_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_CustomerListIdCustomerNoIsMatch</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C CustomerList ID and CustomerNo combination was set on the sourceContact record.</description>
        <name>dec_B2CCustomerListIDCustomerNoWasSet</name>
        <label>B2C CustomerList ID CustomerNo Exists?</label>
        <locationX>832</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>dec_B2CCustomerListIdEmailLastNameWasSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerListIdCustomerNoWasSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_B2CCustomerListIDCustomerNoMatch</targetReference>
            </connector>
            <label>Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C CustomerListID, Email, and LastName were found in each of the matchResults being evaluated.</description>
        <name>dec_B2CCustomerListIDEmailLastNameFound</name>
        <label>Was a B2C CustomerList ID Email LastName Found in the Match Results?</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>loop_B2CCustomerListIdEmailLastName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerListIDEmailLastNameNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_B2CCustomerListIdEmailLastName.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_B2CCustomerListIdEmailLastName.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_B2CCustomerListIdEmailLastName.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_CustomerListIdEmailLastNameMatch</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C CustomerList ID, Email, and LastName combination exists on the sourceContact.</description>
        <name>dec_B2CCustomerListIdEmailLastNameWasSet</name>
        <label>B2C CustomerList ID Email LastName Exists?</label>
        <locationX>833</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>EmailLastNameEmptyB2CCustomerList_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>decOut_CustomerListIdEmailLastNameWasSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_B2CCustomerListIdEmailLastName</targetReference>
            </connector>
            <label>Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate the match on the B2C CustomerList ID and CustomerNo for the Contact record(s) being compared.</description>
        <name>dec_CustomerListIdCustomerNoIsMatch</name>
        <label>Is This a Match?</label>
        <locationX>1579</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>loop_B2CCustomerListIDCustomerNoMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>decOut_CustomerListIdCustomerNoMatchesDuplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIDCustomerNoMatch.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIDCustomerNoMatch.B2C_Customer_No__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdCustomerNoMatchDuplicate_Assignment</targetReference>
            </connector>
            <label>Match Duplicate</label>
        </rules>
        <rules>
            <name>decOut_CustomerListIdCustomerNoMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIDCustomerNoMatch.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIDCustomerNoMatch.B2C_Customer_No__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_CustomerListIdCustomerNoMatch</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if each of the matchResults has a match with the sourceContact for the attributes specified.</description>
        <name>dec_CustomerListIdEmailLastNameMatch</name>
        <label>Is there a Match?</label>
        <locationX>50</locationX>
        <locationY>988</locationY>
        <defaultConnector>
            <targetReference>loop_B2CCustomerListIdEmailLastName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>decOut_CustomerListIdEmailLastNameMatchesDuplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIdEmailLastName.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIdEmailLastName.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIdEmailLastName.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdEmailLastNameMatchDuplicate_Assignment</targetReference>
            </connector>
            <label>Match Duplicate</label>
        </rules>
        <rules>
            <name>decOut_CustomerListIdEmailLastNameMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIdEmailLastName.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIdEmailLastName.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_B2CCustomerListIdEmailLastName.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_CustomerListIdEmailLastNameMatch</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate the match on the B2C CustomerList ID and Email for the Contact record(s) being compared.</description>
        <name>dec_CustomerListIdEmailMatches</name>
        <label>Is This a Match?</label>
        <locationX>1571</locationX>
        <locationY>1243</locationY>
        <defaultConnector>
            <targetReference>EmailLastNameEmptyCustomerListMatch_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>decOut_CustomerListIdEmailMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailLastNameEmptyCustomerListMatch_Loop.B2C_CustomerList__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailLastNameEmptyCustomerListMatch_Loop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailLastNameEmptyCustomerListMatch_Loop.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_EmailLastNameEmptyCutomerListIDMatch</targetReference>
            </connector>
            <label>Match</label>
        </rules>
        <rules>
            <name>decOut_CustomerListIdEmailMatchesDuplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailLastNameEmptyCustomerListMatch_Loop.B2C_CustomerList__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailLastNameEmptyCustomerListMatch_Loop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailLastNameEmptyCustomerListMatch_Loop.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailLastNameEmptyCustomerList_MatchDuplicate_Assignment</targetReference>
            </connector>
            <label>Match Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if an Email, LastName, and B2C CustomerList ID were found in each of the matchResults being evaluated.</description>
        <name>dec_EmailLastNameEmptyCustomerListIDFound</name>
        <label>Was an Email LastName Empty CutomerList ID Found in the Match Results?</label>
        <locationX>1571</locationX>
        <locationY>993</locationY>
        <defaultConnector>
            <targetReference>EmailLastNameEmptyCustomerListMatch_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_EmailLastNameEmptyCustomerListIDFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailLastNameEmptyCustomerListMatch_Loop.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailLastNameEmptyCustomerListMatch_Loop.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailLastNameEmptyCustomerListMatch_Loop.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_CustomerListIdEmailMatches</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C Customer ID was found in the Match record currently being evaluated.</description>
        <name>dec_wasCustomerIDFoundInMatchRecord</name>
        <label>Was a CustomerID Found in the Match Record?</label>
        <locationX>203</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>loop_B2CCustomerIDMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOutCustomerIDFoundInMatchRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_B2CCustomerIDMatch.B2C_Customer_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_B2CCustomerIDMatch</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C CustomerID was set on the sourceContact to be resolved.</description>
        <name>dec_wasCustomerIDSet</name>
        <label>B2C CustomerID Exists?</label>
        <locationX>833</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>dec_B2CCustomerListIDCustomerNoWasSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerIDWasSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_B2CCustomerIDMatch</targetReference>
            </connector>
            <label>Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>DuplicatesFound_Decision</name>
        <label>DuplicatesFound Decision</label>
        <locationX>839</locationX>
        <locationY>1281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_DuplicatesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicatesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactWinner_Assignment</targetReference>
            </connector>
            <label>OutcomeIs DuplicatesFound</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if an Email LastName and Empty B2C CustomerList combination was set on the sourceContact record.</description>
        <name>EmailLastNameEmptyB2CCustomerList_Decision</name>
        <label>Email LastName Empty B2C CustomerList Exists?</label>
        <locationX>834</locationX>
        <locationY>990</locationY>
        <defaultConnector>
            <targetReference>DuplicatesFound_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>decOut_CustomerListIdEmailWasSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailLastNameEmptyCustomerListMatch_Loop</targetReference>
            </connector>
            <label>Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasEmail_Decision</name>
        <label>Was the Duplicate Notification Email Defined?</label>
        <locationX>834</locationX>
        <locationY>2007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_HasEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_GetRecord.Duplicate_Alert_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicates_SendEmail</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <description>... this flow evaluates match results and determines the best possible for a given Contac record being resolved.</description>
    <interviewLabel>B2C: Determine Winning Match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact Winning Match</label>
    <loops>
        <name>Duplicates_Loop</name>
        <label>Duplicates Loop</label>
        <locationX>1046</locationX>
        <locationY>1799</locationY>
        <collectionReference>DuplicateContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AdToDuplicatesText_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_GetRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EmailLastNameEmptyCustomerListMatch_Loop</name>
        <label>CustomerListIdEmailMatch Loop</label>
        <locationX>1179</locationX>
        <locationY>994</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_EmailLastNameEmptyCustomerListIDFound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DuplicatesFound_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>... iterate over the match results to find a B2C Commerce Customer Profile that can be considered the &quot;winner&quot;.</description>
        <name>loop_B2CCustomerIDMatch</name>
        <label>B2C CustomerID Loop</label>
        <locationX>573</locationX>
        <locationY>195</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_wasCustomerIDFoundInMatchRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_B2CCustomerListIDCustomerNoWasSet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>... iterate over the match results to find a B2C Commerce Customer Profile that can be considered the &quot;winner&quot;.</description>
        <name>loop_B2CCustomerListIDCustomerNoMatch</name>
        <label>B2C CustomerListID CustomerNo Loop</label>
        <locationX>1180</locationX>
        <locationY>426</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_B2CCustomerListIDCustomerNoFound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_B2CCustomerListIdEmailLastNameWasSet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>... iterate over the collection of matchResults and evaluate if a match exists with the sourceContact.</description>
        <name>loop_B2CCustomerListIdEmailLastName</name>
        <label>B2C CustomerListID Email LastName Loop</label>
        <locationX>527</locationX>
        <locationY>711</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_B2CCustomerListIDEmailLastNameFound</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EmailLastNameEmptyB2CCustomerList_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Email_GetRecord</name>
        <label>Email GetRecord</label>
        <locationX>1047</locationX>
        <locationY>2005</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasEmail_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Configuration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRMSync_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>715</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>dec_wasCustomerIDSet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ContactWinnerTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!ContactMatched.Name} ( {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;ContactMatched.Id} &lt;/span&gt;) has these duplicates. You should investigate.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DuplicatesTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Duplicates_Loop.Name} ( {!Duplicates_Loop.Id} )&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactMatched</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactMatches</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DuplicateContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DuplicateCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Duplicates_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicatesFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
