src/sfdc/force-app/main/default/flows/B2C_Commerce_Screen_Assign_Named_Credential_to_B2C_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <description>... represents an affirmative choice to associate the selected Named Credential to all CustomerLists.</description>
        <name>cbxB2C_addNamedCredentialToCustomerLists</name>
        <choiceText>Associate this Named Credential to the Instance&apos;s related CustomerLists</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>conB2C_GlobalTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <description>... allows System Administrators to assign a Named Credential to a B2C Commerce Site record.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of filtered named credentials that are mapped to B2C Commerce Account Manager</description>
        <name>rcB2C_AMNamedCredentials</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNamedCredentialFilterValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varB2CSite.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>... represents the Named Credential associated to the selected B2C Site.</description>
        <name>rcB2C_B2CSiteNamedCredential</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varB2CSite.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNamedCredentialFilterValue</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>... represents the selected OOBO Named Credential for the current B2C Site.</description>
        <name>rcB2C_B2CSiteOOBO</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varOOBOFilterValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varB2CSite.OOBO_Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcB2C_OOBO</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varOOBOFilterValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varB2CSite.OOBO_Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>B2C Commerce: Screen: Assign Named Credential to B2C Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Screen: Assign Named Credential to B2C Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the current B2C Site being interacted with.</description>
        <name>recGet_B2CSite</name>
        <label>Get the Current B2C Site</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>b2c_selectANamedCredential</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2C_Site__c</object>
        <outputReference>varB2CSite</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Named_Credential_Developer_Name__c</queriedFields>
        <queriedFields>OOBO_Named_Credential_Developer_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>... assigns the selected Named Credential to the selected B2C Site.</description>
        <name>recUpd_assignNamedCredential</name>
        <label>Assign Named Credential to B2C Site</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2C_Client_ID__c</field>
            <value>
                <elementReference>SiteClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>rcB2C_AMNamedCredentials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OOBO_Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>rcB2C_OOBO</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Site__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>... visual widget enabling users to select which named credential should be used to generate a B2C Commerce REST API AuthToken.</description>
        <name>b2c_selectANamedCredential</name>
        <label>Select a B2C Commerce Account Manager Credential to Use</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>recUpd_assignNamedCredential</targetReference>
        </connector>
        <fields>
            <name>lblB2C_namedCredentialDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select a Default Named Credential for this B2C Site&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please select the named credential that should be assigned to the selected B2C Commerce Site.  For this site, also specify the default Client Id which should be used for Shop API interactions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pkl_FilteredNamedCredentials</name>
            <choiceReferences>rcB2C_B2CSiteNamedCredential</choiceReferences>
            <choiceReferences>rcB2C_AMNamedCredentials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Named Credential to Apply to this B2C Site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;The list of Named Credentials presented in this flow are filtered from the super-set of credentials managed by this Salesforce Org.  To appear in this list, Named Credentials must have the phrase &quot;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;B2C_AMCredentials&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&quot;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;present in their Developer Name.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SiteClientId</name>
            <dataType>String</dataType>
            <fieldText>Add Client Id for the Named Credential</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblB2C_ooboDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Select a Default Named Credential for Order On Behalf Of (OOBO)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please select the named credential that should be used when executing the Order On Behalf Of use-case.  This use case requires a perUser Named Credential that is separate from the site credential defined above.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pkl_OOBOFilteredNamedCredentials</name>
            <choiceReferences>rcB2C_B2CSiteOOBO</choiceReferences>
            <choiceReferences>rcB2C_OOBO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Named Credential to Apply for Order on Behalf of</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recGet_B2CSite</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the recordId of the current selected B2C Instance.  We&apos;ll use it to retrieve the record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the active / selected B2C Site.</description>
        <name>varB2CSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... represents the string value used to filter applicable Named Credentials.</description>
        <name>varNamedCredentialFilterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>B2C_AMCredentials</stringValue>
        </value>
    </variables>
    <variables>
        <description>... represents the Named Credential value used to identify Named Credentials that can be used with the OOBO use-case.</description>
        <name>varOOBOFilterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OOBO</stringValue>
        </value>
    </variables>
</Flow>
