src/sfdc/force-app/main/default/flows/B2C_Commerce_Evaluate_Customer_Lists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>copyNamedCredential</name>
        <label>copyNamedCredential</label>
        <locationX>1012</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CurrentCustomerList_Loop.Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalCustomerList_Loop.B2C_Instance__r.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyValues_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyValues_Assignment</name>
        <label>CopyValues Assignment</label>
        <locationX>1144</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CurrentCustomerList_Loop.API_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalCustomerList_Loop.API_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCustomerList_Loop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalCustomerList_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Name_Credential_Assignment</name>
        <label>Create Name Credential Assignment</label>
        <locationX>792</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>EvalCustomerList_Loop.Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalCustomerList_Loop.B2C_Instance__r.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecord_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateRecord_Assignment</name>
        <label>CreateRecord Assignment</label>
        <locationX>792</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>CreateCustomerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EvalCustomerList_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EvalCustomerList_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordFound_False_Assignment</name>
        <label>recordFound False Assignment</label>
        <locationX>924</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentCustomerList_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecord_Assignment</name>
        <label>UpdateRecord Assignment</label>
        <locationX>1144</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>UpdateCustomerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCustomerList_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentCustomerList_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CurrentEval_Decision</name>
        <label>CurrentEval Decision</label>
        <locationX>1298</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CurrentCustomerList_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_EvalEqCurrent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvalCustomerList_Loop.CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentCustomerList_Loop.CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existsNamedCredential</targetReference>
            </connector>
            <label>OutcomeIs EvalEqCurrent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if record&apos;s Named_Credential_Developer_Name__c value is not blank.</description>
        <name>existsNamedCredential</name>
        <label>existsNamedCredential</label>
        <locationX>1144</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CopyValues_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>populateNamedCredential</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCustomerList_Loop.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentCustomerList_Loop.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>copyNamedCredential</targetReference>
            </connector>
            <label>populateNamedCredential</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordNotFound_Decision</name>
        <label>RecordNotFound Decision</label>
        <locationX>924</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>EvalCustomerList_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_RecordNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Name_Credential_Assignment</targetReference>
            </connector>
            <label>OutcomeIs RecordNotFound</label>
        </rules>
    </decisions>
    <interviewLabel>B2C Commerce: Evaluate Customer Lists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Evaluate Customer Lists</label>
    <loops>
        <name>CurrentCustomerList_Loop</name>
        <label>CurrentCustomerList Loop</label>
        <locationX>924</locationX>
        <locationY>398</locationY>
        <collectionReference>CurrentCustomerList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CurrentEval_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecordNotFound_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EvalCustomerList_Loop</name>
        <label>EvalCustomerList Loop</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>EvalCustomerList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>recordFound_False_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EvalCustomerList_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <name>CurrentCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <name>EvalCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <name>recordFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UpdateCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
</Flow>
