src/sfdc/force-app/main/default/flows/B2C_Commerce_Evaluate_Sites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignNamedCredential</name>
        <label>AssignNamedCredentialToSite</label>
        <locationX>792</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>EvalSite_Loop.Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NamedCredentialDeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecord_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>copyNamedCredentialToSite</name>
        <label>copyNamedCredentialToSite</label>
        <locationX>1012</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CurrentSite_Loop.Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_NamedCredentialDeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyValues_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyValues_Assignment</name>
        <label>CopyValues Assignment</label>
        <locationX>1144</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CurrentSite_Loop.API_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalSite_Loop.API_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSite_Loop.CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalSite_Loop.CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSite_Loop.Storefront_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalSite_Loop.Storefront_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateRecord_Assignment</name>
        <label>CreateRecord Assignment</label>
        <locationX>792</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>CreateSiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EvalSite_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EvalSite_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordFoundInit_Assignment</name>
        <label>recordFoundInit Assignment</label>
        <locationX>924</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentSite_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecord_Assignment</name>
        <label>UpdateRecord Assignment</label>
        <locationX>1144</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>UpdateSiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSite_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentSite_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>existsNamedCredentialForSite</name>
        <label>existsNamedCredentialForSite</label>
        <locationX>1144</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CopyValues_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>populateNameCredentialForSite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSite_Loop.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSite_Loop.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>copyNamedCredentialToSite</targetReference>
            </connector>
            <label>populateNameCredentialForSite</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordFound_Decision</name>
        <label>RecordFound Decision</label>
        <locationX>1298</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CurrentSite_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_RecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvalSite_Loop.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentSite_Loop.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existsNamedCredentialForSite</targetReference>
            </connector>
            <label>OutcomeIs RecordFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordNotFound_Decision</name>
        <label>RecordNotFound Decision</label>
        <locationX>924</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>EvalSite_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_RecordNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignNamedCredential</targetReference>
            </connector>
            <label>OutcomeIs RecordNotFound</label>
        </rules>
    </decisions>
    <interviewLabel>B2C Commerce: Evaluate Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Evaluate Sites</label>
    <loops>
        <name>CurrentSite_Loop</name>
        <label>CurrentSite Loop</label>
        <locationX>924</locationX>
        <locationY>398</locationY>
        <collectionReference>CurrentSiteList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordFound_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecordNotFound_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EvalSite_Loop</name>
        <label>EvalSite Loop</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>EvalSiteList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>recordFoundInit_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EvalSite_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <name>CurrentSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <name>EvalSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <name>recordFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UpdateSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>Named Credential of B2C instance</description>
        <name>var_NamedCredentialDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
