src/sfdc/force-app/main/default/flows/B2C_Commerce_Contact_Filter_Matches.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>... assigns the count of contactMatches to evaluate if this flow should process.</description>
        <name>asn_contactMatchesCount</name>
        <label>Assign contactMatches Count</label>
        <locationX>1053</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>var_contactMatchesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactMatches</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wereMatchResultsFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... exit early, as there are no matches to iterate over</description>
        <name>asn_noMatchesToProcess</name>
        <label>No Matches to Process</label>
        <locationX>798</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ContactMatchesResult_Assignment</name>
        <label>ContactMatchesResult Assignment</label>
        <locationX>1709</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerIdMatches_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerIdMatches_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMatchResultForCustomerListIdAndCustomerNo_Assignment</name>
        <label>ContactMatchResultForCustomerListIdAndCustomerNo Assignment</label>
        <locationX>374</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListIdCustomerNo_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdCustomerNo_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMatchResultForCustomerListIdAndCustomerNo_Assignment_0</name>
        <label>ContactMatchResultForCustomerListIdAndCustomerNo Assignment</label>
        <locationX>374</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListIdEmail_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdEmail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMatchResultForCustomerListIdLastNameEmail_Assignment</name>
        <label>ContactMatchResultForCustomerListIdLastNameEmail Assignment</label>
        <locationX>1760</locationX>
        <locationY>1480</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListIdLastNameEmail_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdLastNameEmail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerIdCustomerListAndCustomerNoMismatch_Assignment</name>
        <label>CustomerIdCustomerListAndCustomerNoMismatch Assignment</label>
        <locationX>1401</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerIdMatchIdentifiers_Subflow.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerIdMatches_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerIdCustomerListAndCustomerNoMismatch_Assignment2</name>
        <label>CustomerIdCustomerListAndCustomerNoMismatch Assignment2</label>
        <locationX>702</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListCustomerNoMatchIdentifiers_Subflow.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdCustomerNo_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerListLastNameEmailError_Assignment</name>
        <label>CustomerListLastNameEmailError Assignment</label>
        <locationX>1412</locationX>
        <locationY>1714</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListLastNameEmailMatchIdentifiers_Subflow.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdLastNameEmail_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CustomerIdMatch_Decision</name>
        <label>Does CustomerId Match?</label>
        <locationX>1700</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>CustomerIdMatches_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match CustomerId</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerIdMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerIdMatches_Loop.B2C_Customer_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerIdMatchIdentifiers_Subflow</targetReference>
            </connector>
            <label>Customer Id Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerIdSet_Decision</name>
        <label>Was CustomerId Set?</label>
        <locationX>1045</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdAndCustomerNoSet_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Set</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerIdWasSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerIdMatches_Loop</targetReference>
            </connector>
            <label>Customer Id Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdAndCustomerNoMatch_Decision</name>
        <label>Does CustomerListId and CustomerNo Match?</label>
        <locationX>366</locationX>
        <locationY>1003</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdCustomerNo_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdAndCustomerNoMatches2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdCustomerNo_Loop.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdCustomerNo_Loop.B2C_Customer_No__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListCustomerNoMatchIdentifiers_Subflow</targetReference>
            </connector>
            <label>CustomerListId and CustomerNo Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdAndCustomerNoSet_Decision</name>
        <label>Was CustomerListId and CustomerNo Set?</label>
        <locationX>1046</locationX>
        <locationY>1000</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdLastNameAndEmailSet_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Set</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdAndCustomerNoWasSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdCustomerNo_Loop</targetReference>
            </connector>
            <label>CustomerListId and CustomerNo Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdAndEmailMatch_Decision</name>
        <label>Does CustomerListId and Email Match?</label>
        <locationX>365</locationX>
        <locationY>1589</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdEmail_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdAndEmailMatches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdEmail_Loop.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdEmail_Loop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListIdEmail_Loop.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchResultForCustomerListIdAndCustomerNo_Assignment_0</targetReference>
            </connector>
            <label>CustomerListId and Email Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdAndEmailSet_Decision</name>
        <label>Was CustomerListId and Email Set?</label>
        <locationX>1045</locationX>
        <locationY>1592</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdAndEmailWereSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdEmail_Loop</targetReference>
            </connector>
            <label>CustomerListId and Email Were Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdLastNameAndEmailMatch_Decision</name>
        <label>Does CustomerListId LastName and Email Match</label>
        <locationX>1746</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdLastNameEmail_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdLastNameAndEmailDoesMatch</name>
            <conditionLogic>2 AND 3 AND ((4 AND 1) OR (4 AND 5) OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdLastNameEmail_Loop.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdLastNameEmail_Loop.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdLastNameEmail_Loop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListIdLastNameEmail_Loop.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListIdLastNameEmail_Loop.B2C_CustomerList_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListIdLastNameEmail_Loop.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListLastNameEmailMatchIdentifiers_Subflow</targetReference>
            </connector>
            <label>CustomerListId LastName and Email Does Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdLastNameAndEmailSet_Decision</name>
        <label>Was CustomerListId LastName and Email Set?</label>
        <locationX>1046</locationX>
        <locationY>1299</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdAndEmailSet_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdLastNameAndEmailWereSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdLastNameEmail_Loop</targetReference>
            </connector>
            <label>CustomerListId LastName and Email Were Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if matches were found by the duplicate rules and presented in a collection to this flow.</description>
        <name>dec_wereMatchResultsFound</name>
        <label>Were Matched Found?</label>
        <locationX>1045</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>asn_noMatchesToProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_matchesWereFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contactMatchesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerIdSet_Decision</targetReference>
            </connector>
            <label>Matches Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_CustomerListCustomerNo_Identifier_Match</name>
        <label>Does CustomerListCustomerNo Identifier Match?</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>CustomerIdCustomerListAndCustomerNoMismatch_Assignment2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListCustomerNoIdentifiersMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerListCustomerNoMatchIdentifiers_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchResultForCustomerListIdAndCustomerNo_Assignment</targetReference>
            </connector>
            <label>CustomerListCustomerNo Identifiers Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesCustomerIdIdentifierMatch_Decision</name>
        <label>Does CustomerId Identifier Match?</label>
        <locationX>2037</locationX>
        <locationY>1076</locationY>
        <defaultConnector>
            <targetReference>CustomerIdCustomerListAndCustomerNoMismatch_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerIdIdentifiersMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerIdMatchIdentifiers_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchesResult_Assignment</targetReference>
            </connector>
            <label>CustomerId Identifiers Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeIs_DoesCustomerListIdLastNameEmailIdentifiersMatch</name>
        <label>Does CustomerListIdLastNameEmail Identifiers Match?</label>
        <locationX>2042</locationX>
        <locationY>1707</locationY>
        <defaultConnector>
            <targetReference>CustomerListLastNameEmailError_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdLastNameEmailIdentifiersMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerListLastNameEmailMatchIdentifiers_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchResultForCustomerListIdLastNameEmail_Assignment</targetReference>
            </connector>
            <label>CustomerListIdLastNameEmail Identifiers Match</label>
        </rules>
    </decisions>
    <description>... this flow takes a Contact record and collection of potential matches -- and evaluates if the Contact can me matches to one of the Contact records in the potential match collection.</description>
    <interviewLabel>B2C Commerce: Contact Filter Matches {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Contact Filter Matches</label>
    <loops>
        <name>CustomerIdMatches_Loop</name>
        <label>CustomerIdMatches Loop</label>
        <locationX>1401</locationX>
        <locationY>687</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerIdMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CustomerListIdAndCustomerNoSet_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CustomerListIdCustomerNo_Loop</name>
        <label>CustomerListIdCustomerNo Loop</label>
        <locationX>702</locationX>
        <locationY>998</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerListIdAndCustomerNoMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CustomerListIdLastNameAndEmailSet_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CustomerListIdEmail_Loop</name>
        <label>CustomerListIdEmail Loop</label>
        <locationX>706</locationX>
        <locationY>1589</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerListIdAndEmailMatch_Decision</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CustomerListIdLastNameEmail_Loop</name>
        <label>CustomerListIdLastNameEmail Loop</label>
        <locationX>1412</locationX>
        <locationY>1295</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerListIdLastNameAndEmailMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CustomerListIdAndEmailSet_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>927</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>asn_contactMatchesCount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CustomerIdMatchIdentifiers_Subflow</name>
        <label>CustomerIdMatchIdentifiers Subflow</label>
        <locationX>2044</locationX>
        <locationY>685</locationY>
        <connector>
            <targetReference>DoesCustomerIdIdentifierMatch_Decision</targetReference>
        </connector>
        <flowName>B2C_Commerce_Contact_Match_Identifiers</flowName>
        <inputAssignments>
            <name>SourceContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetContact</name>
            <value>
                <elementReference>CustomerIdMatches_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CustomerListCustomerNoMatchIdentifiers_Subflow</name>
        <label>CustomerListCustomerNoMatchIdentifiers Subflow</label>
        <locationX>58</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Does_CustomerListCustomerNo_Identifier_Match</targetReference>
        </connector>
        <flowName>B2C_Commerce_Contact_Match_Identifiers</flowName>
        <inputAssignments>
            <name>SourceContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetContact</name>
            <value>
                <elementReference>CustomerListIdCustomerNo_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CustomerListLastNameEmailMatchIdentifiers_Subflow</name>
        <label>CustomerListLastNameEmail MatchIdentifiers Subflow</label>
        <locationX>2050</locationX>
        <locationY>1291</locationY>
        <connector>
            <targetReference>OutcomeIs_DoesCustomerListIdLastNameEmailIdentifiersMatch</targetReference>
        </connector>
        <flowName>B2C_Commerce_Contact_Match_Identifiers</flowName>
        <inputAssignments>
            <name>SourceContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetContact</name>
            <value>
                <elementReference>CustomerListIdLastNameEmail_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactMatches</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactMatchesResult</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>matchesFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents a count of the contactMatches provided to this flow.</description>
        <name>var_contactMatchesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
