src/sfdc/force-app/main/default/flows/B2C_Commerce_Contact_Resolution_CustomerList_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ContactFound_Assignment</name>
        <label>ContactFound Assignment</label>
        <locationX>1217</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_GetRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_GetRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ContactNotFound_Assignment</name>
        <label>ContactNotFound Assignment</label>
        <locationX>605</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ContactWithAccountFound_Assignment</name>
        <label>ContactWithAccountFound Assignment</label>
        <locationX>50</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactWithAccount_GetRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactWithAccount_GetRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AccountId_Decision</name>
        <label>AccountId Decision</label>
        <locationX>603</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>ContactNotFound_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_AccountIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactWithAccount_GetRecord</targetReference>
            </connector>
            <label>OutcomeIs AccountIdNotNull</label>
        </rules>
        <rules>
            <name>OutcomeIsAccountIdIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_GetRecord</targetReference>
            </connector>
            <label>OutcomeIsAccountIdIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactFound_Decision</name>
        <label>ContactFound Decision</label>
        <locationX>975</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>ContactNotFound_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ContactNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactFound_Assignment</targetReference>
            </connector>
            <label>OutcomeIs ContactNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactWithAccountFound_Decision</name>
        <label>ContactWithAccountFound Decision</label>
        <locationX>273</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>ContactNotFound_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ContactWithAccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactWithAccount_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactWithAccountFound_Assignment</targetReference>
            </connector>
            <label>OutcomeIs ContactWithAccountFound</label>
        </rules>
    </decisions>
    <description>Given a CustomerListId and Email

When this Flow is ran, then if a contact matches CustomerListId and Email, it will return a ContactId and associated AccountId.
When a contact is not found, then HasErrors will be set to true and ContactId and AccountId will be set to empty string.

Given a CustomerListId, Email, and AccountId

When this Flow is ran, then if a contact matches CustomerListId, Email, and AccountId, it will return a ContactId and associated AccountId.
When a contact is not found, then HasErrors will be set to true and ContactId and AccountId will be set to empty string.</description>
    <interviewLabel>B2C Commerce: Contact Resolution (CustomerList, Email) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Contact Resolution (CustomerList, Email)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact_GetRecord</name>
        <label>Contact GetRecord</label>
        <locationX>983</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactFound_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_CustomerList_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerListId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ContactWithAccount_GetRecord</name>
        <label>ContactWithAccount GetRecord</label>
        <locationX>282</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactWithAccountFound_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_CustomerList_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerListId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>484</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AccountId_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>HasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
