src/sfdc/force-app/main/default/flows/B2C_Commerce_Order_On_Behalf_Of.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CustomerAuth_Action</name>
        <label>CustomerAuth Action</label>
        <locationX>843</locationX>
        <locationY>1652</locationY>
        <actionName>B2CIAAuthCustomerClientCredentialsGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_OOBOCustomerAuth</targetReference>
        </connector>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>selectedCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <elementReference>selectedSiteApi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>selectedSiteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>ia_getBusinessManagerUserGrant.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>selectedSiteVersion</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... obtain a Business Manager user grant from the B2C Instance.</description>
        <name>ia_getBusinessManagerUserGrant</name>
        <label>Obtain a Business Manager User Grant</label>
        <locationX>572</locationX>
        <locationY>1472</locationY>
        <actionName>B2CIABusinessManagerGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_wasBMUserGrantAuthTokenReturned</targetReference>
        </connector>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namedCredential</name>
            <value>
                <elementReference>selectedOOBONamedCredential</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>... capture the Contact identifiers used to identify the B2C Customer record.</description>
        <name>asn_b2cCustomerListAndCustomerID</name>
        <label>Capture the B2C CustomerList ID and CustomerID</label>
        <locationX>1039</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>CustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_CustomerList__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrn_b2cSiteSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... capture the CustomerID of the Contact record.</description>
        <name>asn_customerIDAssignment</name>
        <label>Capture the CustomerID</label>
        <locationX>569</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pklB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrn_b2cSiteSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OOBOCustomerId_Assignment</name>
        <label>OOBOCustomerId Assignment</label>
        <locationX>303</locationX>
        <locationY>1239</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOOBOCustomerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_validateOOBOConfigRequirements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if the OOBO CustomerID mapped to the selected storefront is valid.</description>
        <name>dec_b2cSiteIsAnonCustomerIDValid</name>
        <label>Was a Valid Anon CustomerID Found?</label>
        <locationX>295</locationX>
        <locationY>970</locationY>
        <defaultConnector>
            <targetReference>scrn_noAnonCustomerIDSiteConfig</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cSiteIsAnonCustomerIDValidTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedOOBOCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OOBOCustomerId_Assignment</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the CustomerList associated to a given Contact is active or present.</description>
        <name>dec_isB2CCustomerListActive</name>
        <label>Is the B2C Customer List Active?</label>
        <locationX>1030</locationX>
        <locationY>561</locationY>
        <defaultConnector>
            <targetReference>asn_b2cCustomerListAndCustomerID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Active</defaultConnectorLabel>
        <rules>
            <name>decOut_isB2CustomerListActiveFalse</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recGet_contactRecord.B2C_CustomerList__r.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recGet_contactRecord.B2C_CustomerList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrn_selectAB2CCustomerList</targetReference>
            </connector>
            <label>Not Active or Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the OOBO customerAuthentication event succeeded with no errors.</description>
        <name>dec_OOBOCustomerAuth</name>
        <label>Was the OOBO Customer Authentication Successful?</label>
        <locationX>834</locationX>
        <locationY>1913</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Successful</defaultConnectorLabel>
        <rules>
            <name>decOut_OOBOCustomerAuthWasSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerAuth_Action.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrn_launchOOBOShoppingSession</targetReference>
            </connector>
            <label>Was Successful</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate the configuration requirements for OOBO and determine if the user can proceed.</description>
        <name>dec_validateOOBOConfigRequirements</name>
        <label>Validate OOBO Configuration Requirements</label>
        <locationX>562</locationX>
        <locationY>1241</locationY>
        <defaultConnector>
            <targetReference>scrn_OOBOConfigurationInvalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>decOut_validateOOBOConfigRequirementsIsValid</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6) AND ((7 AND 8) OR (9 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>selectedClientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedNamedCredential</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteApi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlInternal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lbl_b2cSiteCustomShopUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_getBusinessManagerUserGrant</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a Business Manager User Grant authToken was returned.</description>
        <name>dec_wasBMUserGrantAuthTokenReturned</name>
        <label>Was an AuthToken Returned?</label>
        <locationX>564</locationX>
        <locationY>1656</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Returned</defaultConnectorLabel>
        <rules>
            <name>decOut_BMUserAuthTokenReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getBusinessManagerUserGrant.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerAuth_Action</targetReference>
            </connector>
            <label>Was Returned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the CustomerID on the Contact record is valid / well formed.</description>
        <name>dec_wasCustomerIDFoundOnContact</name>
        <label>Was a Valid CustomerID Found on the Contact?</label>
        <locationX>561</locationX>
        <locationY>969</locationY>
        <defaultConnector>
            <targetReference>dec_b2cSiteIsAnonCustomerIDValid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_CustomerIDNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_validateOOBOConfigRequirements</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <description>... this flow is used to launch the Order on Behalf Of shopping experience for Service Agents.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of available active B2C CustomerLists</description>
        <name>rcActiveB2CCustomerLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>B2C_CustomerList__c</object>
        <outputAssignments>
            <assignToReference>CustomerListId</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>... represents the collection of active B2C Sites mapped to the selected / filtered CustomerList.</description>
        <name>rcActiveB2CSites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerList_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerListId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>B2C_Site__c</object>
        <outputAssignments>
            <assignToReference>selectedClientId</assignToReference>
            <field>B2C_Client_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteApi</assignToReference>
            <field>Base_API_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlCustom</assignToReference>
            <field>Base_Custom_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlInternal</assignToReference>
            <field>Base_Internal_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteId</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedNamedCredential</assignToReference>
            <field>Named_Credential_Developer_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteVersion</assignToReference>
            <field>OCAPI_Version_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlType</assignToReference>
            <field>OOBO_Active_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBOCustomerId</assignToReference>
            <field>OOBO_Customer_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBONamedCredential</assignToReference>
            <field>OOBO_Named_Credential_Developer_Name__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>B2C Commerce: Order On Behalf Of {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Order On Behalf Of: Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the contact record used to launch the OOBO flow.</description>
        <name>recGet_contactRecord</name>
        <label>Retrieve the Contact</label>
        <locationX>1038</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_isB2CCustomerListActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Error_Auth</name>
        <label>Error Screen</label>
        <locationX>573</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_ErrorWithAuth</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order On Behalf of Customer Could Not Be Launched&lt;/b&gt;&lt;/p&gt;&lt;p&gt;An error occurred when interacting with the B2C Commerce environment and attempting to authenticate the Service Against.  Please review the REST API error message(s) below for details regarding this failure.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_ErrorMsg</name>
            <defaultValue>
                <stringValue>{!ia_getBusinessManagerUserGrant.errorMessage}
{!CustomerAuth_Action.errorMessage}</stringValue>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Text_ErrorDetails</name>
            <defaultValue>
                <stringValue>{!ia_getBusinessManagerUserGrant.responseBody}
{!CustomerAuth_Action.responseBody}</stringValue>
            </defaultValue>
            <fieldText>Error Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_OOBORESTAPIError</name>
            <fieldText>&lt;p&gt;Please resolve these error(s) prior to launching another OOBO Shopping Session.  Verify that the per-user NamedCredential for the Service Agent is configured property -- and that the password follows the SFCC &quot;Password:ClientSecret&quot; Based64 encoding structure.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Initial screen, start of OOBO dialog</description>
        <name>Screen_Init_OOBO</name>
        <label>Init Screen</label>
        <locationX>1038</locationX>
        <locationY>198</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recGet_contactRecord</targetReference>
        </connector>
        <fields>
            <name>lbl_ooboIntroduction</name>
            <fieldText>&lt;p&gt;&lt;b&gt;About the Order on Behalf Of Configuration Requirements&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Order on Behalf Of use-case has a number of configuration requirements that must be set in order. for this feature to execute successfully. Please ensure that the following items have been configured in your Salesforce environment:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The B2C Site where OOBO is enabled is Active&lt;/li&gt;&lt;li&gt;The B2C Site is configured with a valid Client ID&lt;/li&gt;&lt;li&gt;The B2C Site is configured with a valid AM Named Credential&lt;/li&gt;&lt;li&gt;The B2C Site is configured with a valid OOBO Named Credential&lt;/li&gt;&lt;li&gt;The B2C CustomList for the configured Site is Active&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;In addition to this, the B2C Site record should be configured with the CustomerID and CustomerNo of the storefront customer that will be used to authenticate against the storefront for non-registered customers.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Lastly, a per-user Named Credential must be configured for each Service Agent that can place orders on behalf of customers.  These users must also have SFCC Account Manager Accounts mapped to the B2C Commerce storefront.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; to Continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>... select a B2C Site based on the customerList that was identified.</description>
        <name>scrn_b2cSiteSelect</name>
        <label>Select a B2C Site</label>
        <locationX>567</locationX>
        <locationY>791</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_wasCustomerIDFoundOnContact</targetReference>
        </connector>
        <fields>
            <name>DisplayText_SelectSite</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order On Behalf Of Customer requires an active B2C Site&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please select the B2C Commerce Site from which the OOBO shopping experience will be launched.  The collection of available active sites is filtered by this B2C CustomerList.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_selectedCustomerList</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>pklB2CCustomerList</elementReference>
            </defaultValue>
            <fieldText>Selected B2C CustomerList</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pklB2CSite</name>
            <choiceReferences>rcActiveB2CSites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Active Site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_changeYourCustomerList</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select an active B2C Site and Click &lt;b&gt;Next&lt;/b&gt; to continue. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>... launch the shopping session for OOBO.</description>
        <name>scrn_launchOOBOShoppingSession</name>
        <label>Launch OOBO Shopping Session</label>
        <locationX>842</locationX>
        <locationY>2153</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_launchOOBOSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Authentication with the B2C Commerce Instance Was Successful&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;You can now launch an &lt;/span&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Order On Behalf Of &lt;/b&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;shopping session for the selected contact by clicking the button below.  The shopping session will open in a new browser tab.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>B2COrderOnBehalfOf_LWC</name>
            <extensionName>c:b2COrderOnBehalfOf</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>domain</name>
                <value>
                    <elementReference>selectedSiteApi</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shopDomain</name>
                <value>
                    <elementReference>selectedShopUrlInternal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>siteId</name>
                <value>
                    <elementReference>selectedSiteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>token</name>
                <value>
                    <elementReference>CustomerAuth_Action.accessToken</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>version</name>
                <value>
                    <elementReference>selectedSiteVersion</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lbl_launchOOBOFollowUpMessage</name>
            <fieldText>&lt;p&gt;If a new browser-tab fails to open, please check the browser console for CORS errors.  These errors can be mitigated by adding the Salesforce Org urls to the allowed origins in the B2C Commerce SHOP API OCAPI configuration settings.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_OOBOSuccessCustomerDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Customer Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The OOBO shopping session will be launched for this customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_launchOOBOShoppingSession_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_OOBOSuccessContactID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.Id</elementReference>
                    </defaultValue>
                    <fieldText>Contact ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessFirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessLastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessEmail</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_OOBOSuccessCustomerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>B2C Customer ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessCustomerNo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_No__c</elementReference>
                    </defaultValue>
                    <fieldText>B2C Customer No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_OOBOSuccessStorefrontDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Storefront Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The OOBO shopping session will be launched via this B2C Commerce storefront.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_launchOOBOShoppingSession_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_OOBOSuccessB2CClientID</name>
                    <dataType>String</dataType>
                    <fieldText>B2C Client ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessUrlType</name>
                    <dataType>String</dataType>
                    <fieldText>Configured Storefront URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessInternalUrl</name>
                    <dataType>String</dataType>
                    <fieldText>Internal Storefront URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessExternalUrl</name>
                    <dataType>String</dataType>
                    <fieldText>Custom Storefront URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_launchOOBOShoppingSession_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_OOBOSuccessAMNC</name>
                    <dataType>String</dataType>
                    <fieldText>Account Manager Named Credential</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessOOBONC</name>
                    <dataType>String</dataType>
                    <fieldText>OOBO Per-User Named Credential</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessOOBOCustomerID</name>
                    <dataType>String</dataType>
                    <fieldText>OOBO Customer ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_OOBOSuccessOOBOCustomerNo</name>
                    <dataType>String</dataType>
                    <fieldText>OOBO Customer No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Click &lt;b&gt;Finish &lt;/b&gt;to &lt;b&gt;cancel &lt;/b&gt;OOBO launch.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... no anonymous B2C Site CustomerID value was configured.  OOBO cannot be processed.</description>
        <name>scrn_noAnonCustomerIDSiteConfig</name>
        <label>Error: No Anon. CustomerID Configured for Selected Site</label>
        <locationX>50</locationX>
        <locationY>965</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scrn_b2cSiteMissingAnonCustomerDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order On Behalf Of Could Not Be Launched&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Contact that was selected is not a B2C Commerce Customer, and does not have a B2C Commerce Customer ID present on their record.  Launching OOBO for this customer requires that the B2C Site have a OOBO CustomerID / CustomerNo pair that can be used in-place for initial site authentication.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_noAnonCustomerIDSiteConfig_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_noAnonCustomerIDSiteConfig_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_ContactHeading</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Selected Contact Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_ContactName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!recGet_contactRecord.FirstName} {!recGet_contactRecord.LastName}</stringValue>
                    </defaultValue>
                    <fieldText>Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lblCustomerContactID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.Id</elementReference>
                    </defaultValue>
                    <fieldText>Contact ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_CustomerB2CCustomerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>B2C Customer ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_CustomerB2CCustomerNo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_No__c</elementReference>
                    </defaultValue>
                    <fieldText>lbl_CustomerB2CCustomerNo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_noAnonCustomerIDSiteConfig_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_selectedSiteDetails</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Selected B2C Site Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_selectedSite</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteId</elementReference>
                    </defaultValue>
                    <fieldText>Site ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_SiteOOBOCustomerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBOCustomerId</elementReference>
                    </defaultValue>
                    <fieldText>B2C Site: CustomerID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_B2CSiteCustomerNo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBOCustomerNo</elementReference>
                    </defaultValue>
                    <fieldText>B2C Site: Customer No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_CustomerNoIssueFooter</name>
            <fieldText>&lt;p&gt;Please configure the current B2C Site with a valid OOBO CustomerID and CustomerNo value -- and then try launching OOBO for this customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>... explain to the user that the OOBO configuration is invalid -- and could not be advanced.</description>
        <name>scrn_OOBOConfigurationInvalid</name>
        <label>Error: OOBO Configuration Invalid</label>
        <locationX>843</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CouldNotInvokeCallout_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order On Behalf Of Could Not Be Launched&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please validate that the selected Storefront&apos;s configuration is valid -- and is not missing key details.  Please review the following configuration values and note which values are missing or potentially configured incorrectly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_OOBOConfigurationInvalid_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrn_OOBOConfigurationInvalid_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_errorConfigSite</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;B2C Site Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_b2cSiteId</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteId</elementReference>
                    </defaultValue>
                    <fieldText>Site ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteAMNamedCredential</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedNamedCredential</elementReference>
                    </defaultValue>
                    <fieldText>AM Named Credential</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the namedCredential used to perform system-to-system REST API interactions between the Salesforce Platform and B2C Commerce.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOCAPIVersion</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteVersion</elementReference>
                    </defaultValue>
                    <fieldText>OCAPI Version</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the OCAPI Version number used to drive OOBO REST API interactions.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteShopUrlType</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlType</elementReference>
                    </defaultValue>
                    <fieldText>Configured Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the version of the storefront url that will be used to launch the OOBO shopping session.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteInteralShopUrl</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlInternal</elementReference>
                    </defaultValue>
                    <fieldText>Internal Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the internal SFCC storefront url leveraging the base B2C Instance Url.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteCustomShopUrl</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlCustom</elementReference>
                    </defaultValue>
                    <fieldText>Custom Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;... represents the external customer-facing SFCC storefront url.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_OOBOConfigurationInvalid_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_errorConfigCustomerList</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;B2C Site OOBO Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOOBONamedCredential</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBONamedCredential</elementReference>
                    </defaultValue>
                    <fieldText>OOBO Per-User Named Credential</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the per-user Named Credential used to authenticate Service Agents as B2C Commerce Business Manager Agents.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOOBOCustomerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBOCustomerId</elementReference>
                    </defaultValue>
                    <fieldText>OOBO Customer ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the CustomerID of the placeholder B2C Commerce Customer Profile used to authenticate against for non-registered OOBO shopping sessions.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOOBOCustomerNo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBOCustomerNo</elementReference>
                    </defaultValue>
                    <fieldText>OOBO Customer No</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;... represents the CustomerNo of the placeholder B2C Commerce Customer Profile used to authenticate against for non-registered OOBO shopping sessions.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_b2cSiteConfigurationErrorFooter</name>
            <fieldText>&lt;p&gt;Please note that the configured Shop URL type must have a valid URL value.  Validate that each of these settings is configured with correct values -- and try launching the OOBO shopping session for the selected customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>... request the user to select a B2C CustomerList as one was not found on the Contact record.</description>
        <name>scrn_selectAB2CCustomerList</name>
        <label>Select an Active B2C CustomerList</label>
        <locationX>780</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asn_customerIDAssignment</targetReference>
        </connector>
        <fields>
            <name>Display_B2CCustomerListMustBeActiveErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Order On Behalf Of Customer requires an active B2C Customer List&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The current Contact does not have an associated B2C Commerce CustomerList.  Please select one of the available active B2C CustomerLists from this picklist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pklB2CCustomerList</name>
            <choiceReferences>rcActiveB2CCustomerLists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Active Customer List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_customerListSite</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The selected B2C CustomerList will be used to present a list of Active B2C Sites.  You can then select the B2C Commerce Storefront from which to launch the OOBO experience.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select an active B2C CustomerList and Click &lt;b&gt;Next&lt;/b&gt; to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>912</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen_Init_OOBO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedNamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOOBOCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the CustomerNo mapped to a given OOBO user.</description>
        <name>selectedOOBOCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the OOBO Named Credential (per-user used to authenticate an Agent).</description>
        <name>selectedOOBONamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the custom storefront Url for a given B2C Site.</description>
        <name>selectedShopUrlCustom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedShopUrlInternal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the type of shopUrl that is active for the OOBO experience.</description>
        <name>selectedShopUrlType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RefArch</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedSiteVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
