src/sfdc/force-app/main/default/flows/B2C_Commerce_Evaluate_Customer_Lists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>copyNamedCredential</name>
        <label>Copy the Named Credential</label>
        <locationX>1203</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>CurrentCustomerList_Loop.Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalCustomerList_Loop.B2C_Instance__r.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyValues_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyValues_Assignment</name>
        <label>Copy Related Values</label>
        <locationX>808</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>CurrentCustomerList_Loop.API_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalCustomerList_Loop.API_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCustomerList_Loop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalCustomerList_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Name_Credential_Assignment</name>
        <label>Assign the Named Credential</label>
        <locationX>267</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>EvalCustomerList_Loop.Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalCustomerList_Loop.B2C_Instance__r.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecord_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateRecord_Assignment</name>
        <label>Add the CustomerList to the Create Collection</label>
        <locationX>267</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>CreateCustomerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EvalCustomerList_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EvalCustomerList_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordFound_False_Assignment</name>
        <label>Default the RecordFound Flag</label>
        <locationX>808</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>recordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentCustomerList_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecord_Assignment</name>
        <label>Add the CustomerList to the Update Collection</label>
        <locationX>808</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>UpdateCustomerList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCustomerList_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentCustomerList_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CurrentEval_Decision</name>
        <label>Compare CustomerList Properties</label>
        <locationX>1192</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>CurrentCustomerList_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_EvalEqCurrent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvalCustomerList_Loop.CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentCustomerList_Loop.CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existsNamedCredential</targetReference>
            </connector>
            <label>CustomerLists Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if record&apos;s Named_Credential_Developer_Name__c value is not blank.</description>
        <name>existsNamedCredential</name>
        <label>Is the Named Credential Defined?</label>
        <locationX>1195</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>CopyValues_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Defined</defaultConnectorLabel>
        <rules>
            <name>populateNamedCredential</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCustomerList_Loop.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentCustomerList_Loop.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>copyNamedCredential</targetReference>
            </connector>
            <label>Not Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordNotFound_Decision</name>
        <label>Was a Match / CustomerList Found?</label>
        <locationX>528</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>EvalCustomerList_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_RecordNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Name_Credential_Assignment</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>... this flow is used to evaluate new CustomerLists against existing ones, and determine if lists should be created or updated.</description>
    <interviewLabel>B2C Commerce: Evaluate Customer Lists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: B2C Instance: CustomerLists: Evaluate</label>
    <loops>
        <name>CurrentCustomerList_Loop</name>
        <label>Loop Over the Collection of Current CustomerLists</label>
        <locationX>808</locationX>
        <locationY>424</locationY>
        <collectionReference>CurrentCustomerList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CurrentEval_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecordNotFound_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EvalCustomerList_Loop</name>
        <label>Evaluate the Collection of CustomerLists</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <collectionReference>EvalCustomerList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>recordFound_False_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>EvalCustomerList_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <name>CurrentCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <name>EvalCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <name>recordFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UpdateCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
</Flow>
