src/sfdc/force-app/main/default/flows/B2C_Commerce_Quick_Action_Seed_CustomerLists_and_Sites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... represents an invocable action to retrieve an access token used by B2C Commerce to perform REST API calls.  These tokens are generated via Account Manager leveraging the selected name credential.</description>
        <name>ia_getB2CAccessToken</name>
        <label>Request a REST API Access Token from Account Manager</label>
        <locationX>949</locationX>
        <locationY>686</locationY>
        <actionName>B2CIAAuthViaClientCredentialsGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_wasAccessTokenSuccessfullyRetrieved</targetReference>
        </connector>
        <inputParameters>
            <name>NamedCredentials</name>
            <value>
                <elementReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... retrieves the CustomerLists and Sites for the selected B2C Instance.</description>
        <name>ia_getCustomerListsAndSites</name>
        <label>Get B2C Instance CustomerLists and Sites</label>
        <locationX>1147</locationX>
        <locationY>926</locationY>
        <actionName>B2CIAGetCustomerListsSites</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>recUpd_B2CInstanceAuditRequest</targetReference>
        </connector>
        <inputParameters>
            <name>accessToken</name>
            <value>
                <elementReference>ia_getB2CAccessToken.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>APIUrl</name>
            <value>
                <elementReference>recGet_getB2CInstance.API_Url__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cInstanceId</name>
            <value>
                <elementReference>recGet_getB2CInstance.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OCAPIVersion</name>
            <value>
                <elementReference>recGet_getB2CInstance.OCAPI_Version_No__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddCustomerList_Assignment</name>
        <label>AddCustomerList Assignment</label>
        <locationX>1550</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>EvalCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ia_getCustomerListsAndSites.b2cCustomerListList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EvaluateCustomerLists_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSiteList_Assignment</name>
        <label>AddSiteList Assignment</label>
        <locationX>2047</locationX>
        <locationY>1339</locationY>
        <assignmentItems>
            <assignToReference>EvalSiteList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ia_getCustomerListsAndSites.b2cSiteList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EvaluateSites_Subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluates if the B2C Instance has all required fields.</description>
        <name>dec_doesB2CInstanceHaveRequiredFields</name>
        <label>Does the B2C Instance Have Required Fields</label>
        <locationX>471</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>recGet_B2CInstanceNamedCredential</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required Fields are Present</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CInstanceRequiredFieldsAreMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_getB2CInstance.OCAPI_Version_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_b2cInstanceRequiredFieldsAreMissing</targetReference>
            </connector>
            <label>Required Fields are Missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>... this decision evaluates if the Named Credential associated to the B2C Instance was found.  If not, an error will be displayed to the user.</description>
        <name>dec_doesB2CInstanceNamedCredentialExist</name>
        <label>Does the Associated Named Credential Exist?</label>
        <locationX>718</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ia_getB2CAccessToken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>The Named Credential Was Found</defaultConnectorLabel>
        <rules>
            <name>dec_namedCredentialDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_B2CInstanceNamedCredential.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_b2cInstanceNamedCredentialMissing</targetReference>
            </connector>
            <label>The Named Credential Was Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates the Access Token response, and either displays an error message or continues processing.</description>
        <name>dec_wasAccessTokenSuccessfullyRetrieved</name>
        <label>An Error Was Found in the Access Token Response</label>
        <locationX>949</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>ia_getCustomerListsAndSites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>The Access Token Was Retrieved Successfully</defaultConnectorLabel>
        <rules>
            <name>decError_accessTokenResponseHasError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getB2CAccessToken.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_errorOccurredRetrievingAccessToken</targetReference>
            </connector>
            <label>An Error Was Found in the Response</label>
        </rules>
    </decisions>
    <decisions>
        <description>... this decision evaluates if the customerList and site response was successful.</description>
        <name>dec_wereCustomerListsSitesSuccessfullyRetrieved</name>
        <label>Were CustomerLists and Sites Successfully Retrieved?</label>
        <locationX>1147</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>CurrentCustomerLists_GetRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>The Request was Successful</defaultConnectorLabel>
        <rules>
            <name>dec_wasCustomerListSiteRESTAPIRequestSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getCustomerListsAndSites.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_errorOccurredRetrievingCustomerListsSites</targetReference>
            </connector>
            <label>An Error Caught in the REST Response</label>
        </rules>
    </decisions>
    <description>... retrieves all the B2C Commerce CustomerLists and related Sites associated to the current B2C Commerce instance.</description>
    <interviewLabel>B2C Commerce: Quick Action: Seed CustomerLists and Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: Seed CustomerLists and Sites</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CustomerList_CreateRecords</name>
        <label>CustomerList CreateRecords</label>
        <locationX>1792</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>CustomerList_UpdateRecords</targetReference>
        </connector>
        <inputReference>EvaluateCustomerLists_Subflow.CreateCustomerList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Site_CreateRecords</name>
        <label>Site CreateRecords</label>
        <locationX>2279</locationX>
        <locationY>1339</locationY>
        <connector>
            <targetReference>Site_UpdateRecords</targetReference>
        </connector>
        <inputReference>EvaluateSites_Subflow.CreateSiteList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CurrentCustomerLists_GetRecords</name>
        <label>CurrentCustomerLists GetRecords</label>
        <locationX>1428</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddCustomerList_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieves the Named Credential associated to the B2C Instance.</description>
        <name>recGet_B2CInstanceNamedCredential</name>
        <label>Retrieve the B2C Instance Named Credential</label>
        <locationX>718</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_doesB2CInstanceNamedCredentialExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NamedCredential</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the active B2C Instance used to invoke this flow.</description>
        <name>recGet_getB2CInstance</name>
        <label>Get the B2C Instance</label>
        <locationX>471</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_doesB2CInstanceHaveRequiredFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Site_GetRecords</name>
        <label>Site GetRecords</label>
        <locationX>1918</locationX>
        <locationY>1339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddSiteList_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CustomerList_UpdateRecords</name>
        <label>CustomerList UpdateRecords</label>
        <locationX>1917</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>Site_GetRecords</targetReference>
        </connector>
        <inputReference>EvaluateCustomerLists_Subflow.UpdateCustomerList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>InstanceCounts_UpdateRecord</name>
        <label>InstanceCounts UpdateRecord</label>
        <locationX>2521</locationX>
        <locationY>1340</locationY>
        <connector>
            <targetReference>screen_CustomerListSitesRecordsCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_CustomerLists__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.totalCustomerListRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Sites__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.totalSiteRecords</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Instance__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... audits the request to retrieve Sites and CustomerLists back to the B2C Instance.</description>
        <name>recUpd_B2CInstanceAuditRequest</name>
        <label>Audit the Request to the B2C Instance</label>
        <locationX>1310</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>dec_wereCustomerListsSitesSuccessfullyRetrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_getB2CInstance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Has_Error__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.isError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_JSON__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.responseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Last_Modified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Message__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status_Code__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.statusCode</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Instance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Site_UpdateRecords</name>
        <label>Site UpdateRecords</label>
        <locationX>2403</locationX>
        <locationY>1339</locationY>
        <connector>
            <targetReference>InstanceCounts_UpdateRecord</targetReference>
        </connector>
        <inputReference>EvaluateSites_Subflow.UpdateSiteList</inputReference>
    </recordUpdates>
    <screens>
        <description>... this screen is displayed when the Named Credential associated to a B2C Instance could not be verified.</description>
        <name>screen_b2cInstanceNamedCredentialMissing</name>
        <label>Associated Named Credential Was Not Found</label>
        <locationX>487</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_b2cInstanceMissingNamedCredentialError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The B2C Instance Named Credential Could Not be Found&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Named Credential associated to the B2C Instance could not be verified.  Please double-check that the Named Credential specified exists -- and re-launch the flow once this issue has been addressed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblError_b2cInstanceName_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_getB2CInstance.Name</elementReference>
            </defaultValue>
            <fieldText>B2C Instance Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblError_b2cInstanceNamedCredentialDeveloperName_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </defaultValue>
            <fieldText>Named Credential Developer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... this screen is displayed when required B2C Instance fields are missing -- and prevent retrieval of B2C CustomerLists and Sites.</description>
        <name>screen_b2cInstanceRequiredFieldsAreMissing</name>
        <label>Required B2C Instance Fields are Missing</label>
        <locationX>223</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_b2cInstanceRequiredFieldsError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Required B2C Instance Fields are Missing&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The selected B2C Instance record must have valid API Url, Named Credential, and OCAPI Version values to retrieve and process its associated B2C Commerce CustomerLists and Sites.  Please review the fields below, and update via the source record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblError_b2cInstanceName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_getB2CInstance.Name</elementReference>
            </defaultValue>
            <fieldText>B2C Instance Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblError_b2cInstanceNamedCredentialDeveloperName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </defaultValue>
            <fieldText>Named Credential Developer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lblError_b2cInstanceOCAPIVersion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_getB2CInstance.OCAPI_Version_No__c</elementReference>
            </defaultValue>
            <fieldText>OCAPI Version</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... announces the completion of CustomerList and Site creation.</description>
        <name>screen_CustomerListSitesRecordsCreated</name>
        <label>B2C Commerce CustomerList and Site Records Created</label>
        <locationX>2521</locationX>
        <locationY>1585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_B2CInstancePlatformEventsSummaryDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;B2C Commerce CustomerList and Site Records Created&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Records representing B2C Commerce CustomerLists and Sites have now been created for this B2C Instance.  This flow can be used to refresh customerList and site instances as they change in B2C Commerce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_totalB2CInstanceCustomerLists</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ia_getCustomerListsAndSites.totalCustomerListRecords</elementReference>
            </defaultValue>
            <fieldText>Total CustomerLists Processed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>lbl_totalB2CInstanceSites</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ia_getCustomerListsAndSites.totalSiteRecords</elementReference>
            </defaultValue>
            <fieldText>Total Sites Processed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>lbl_B2CInstanceCustomerListSiteProcessed</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;These records can be associated to Accounts, Contacts, and PersonAccounts to assign customer representations to B2C Commerce CustomerLists.  &lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Use this flow to automatically update the B2C Commerce CustomerList and Site definitions associated to this B2C Instance.  Please note that you can disable B2C Commerce REST API interactions with this instance via its Active checkbox.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... this screen is displayed when an error is caught during the retrieval of the B2C Commerce REST API Access Token.</description>
        <name>screen_errorOccurredRetrievingAccessToken</name>
        <label>An Error Occurred Retrieving the B2C Access Token</label>
        <locationX>751</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblError_b2cCommerceAccessTokenError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Unable to Retrieve B2C Commerce Access Token&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;An error occurred while attempting to retrieve a B2C Commerce OCAPI Access Token via a &lt;/span&gt;&lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); background-color: rgb(255, 255, 255);&quot;&gt;client-credential grant request&lt;/a&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;.  Please review the error message and REST Response below for details regarding this failure.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblError_ATB2cInstanceName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_getB2CInstance.Name</elementReference>
            </defaultValue>
            <fieldText>B2C Instance Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblError_ATB2CInstanceAPIUrl</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_getB2CInstance.API_Url__c</elementReference>
            </defaultValue>
            <fieldText>B2C Instance API Url</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblError_ATStatusCode</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ia_getB2CAccessToken.statusCode</elementReference>
            </defaultValue>
            <fieldText>Status Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>lblError_ATErrorMessage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ia_getB2CAccessToken.errorMessage</elementReference>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblError_ATRestResponse</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ia_getB2CAccessToken.responseBody</elementReference>
            </defaultValue>
            <fieldText>Rest Response</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... this screen is displayed when an error is caught during the retrieval of the B2C Instance&apos;s CustomerLists and Sites.</description>
        <name>screen_errorOccurredRetrievingCustomerListsSites</name>
        <label>An Error Occurred Retrieving the B2C Instance Sites and CustomerLists</label>
        <locationX>1015</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblError_b2cCommerceAccessTokenError_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Unable to Retrieve B2C Commerce Access Token&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;An error occurred while attempting to retrieve a B2C Commerce OCAPI Access Token via a &lt;/span&gt;&lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); background-color: rgb(255, 255, 255);&quot;&gt;client-credential grant request&lt;/a&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;.  Please review the error message and REST Response below for details regarding this failure.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblError_ATB2cInstanceName_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_getB2CInstance.Name</elementReference>
            </defaultValue>
            <fieldText>B2C Instance Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblError_ATB2CInstanceAPIUrl_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_B2CInstanceNamedCredential.Endpoint</elementReference>
            </defaultValue>
            <fieldText>B2C Instance API Url</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblError_ATStatusCode_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ia_getCustomerListsAndSites.statusCode</elementReference>
            </defaultValue>
            <fieldText>Status Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>lblError_ATErrorMessage_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ia_getCustomerListsAndSites.errorMessage</elementReference>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblError_ATRestResponse_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ia_getCustomerListsAndSites.responseBody</elementReference>
            </defaultValue>
            <fieldText>Rest Response</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>345</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>recGet_getB2CInstance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>EvaluateCustomerLists_Subflow</name>
        <label>EvaluateCustomerLists Subflow</label>
        <locationX>1662</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>CustomerList_CreateRecords</targetReference>
        </connector>
        <flowName>B2C_Commerce_Evaluate_Customer_Lists</flowName>
        <inputAssignments>
            <name>CurrentCustomerList</name>
            <value>
                <elementReference>CurrentCustomerLists_GetRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvalCustomerList</name>
            <value>
                <elementReference>EvalCustomerList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>EvaluateSites_Subflow</name>
        <label>EvaluateSites Subflow</label>
        <locationX>2171</locationX>
        <locationY>1339</locationY>
        <connector>
            <targetReference>Site_CreateRecords</targetReference>
        </connector>
        <flowName>B2C_Commerce_Evaluate_Sites</flowName>
        <inputAssignments>
            <name>CurrentSiteList</name>
            <value>
                <elementReference>Site_GetRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvalSiteList</name>
            <value>
                <elementReference>EvalSiteList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NamedCredentialDeveloperName</name>
            <value>
                <elementReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>EvalCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <name>EvalSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... represents the internal Id for the active B2C Instance.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the total number of customerLists associated to the B2C Instance that was processed.</description>
        <name>varB2CInstanceCustomerListRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>... represents the total number of Sites for the B2C Instance that was processed.</description>
        <name>varB2CInstanceSiteRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>... represents the collection of processed B2C CustomerLists.</description>
        <name>varProcessedB2CCustomerLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the collection of process B2C storefronts.</description>
        <name>varProcessedB2CSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
</Flow>
