src/sfdc/force-app/main/default/flows/B2C_Commerce_Order_On_Behalf_Of_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <interviewLabel>B2C Commerce: Order On Behalf Of Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Order On Behalf Of Person Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contact_GetRecord</name>
        <label>Contact GetRecord</label>
        <locationX>178</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderOnBehalfOf_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>OrderOnBehalfOf_Subflow</name>
        <label>OrderOnBehalfOf Subflow</label>
        <locationX>177</locationX>
        <locationY>376</locationY>
        <flowName>B2C_Commerce_Order_On_Behalf_Of</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Contact_GetRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
