src/sfdc/force-app/main/default/flows/B2C_Commerce_Screen_Named_Credential.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>... assigns the selected named credential to an output variable.</description>
        <name>b2c_assignOutputVariable</name>
        <label>Assign the Output Variable</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>out_namedCredentialDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rcB2C_AMNamedCredentials</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>... a visual flow allowing users to select a named credential to use to generate a REST API AuthToken via B2C Commerce Account Manager.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of filtered named credentials that are mapped to B2C Commerce Account Manager</description>
        <name>rcB2C_AMNamedCredentials</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>B2C_AMCredentials</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>B2C Commerce: Screen: Named Credential {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Screen: Named Credential</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>... visual widget enabling users to select which named credential should be used to generate a B2C Commerce REST API AuthToken.</description>
        <name>b2c_selectANamedCredential</name>
        <label>Select a B2C Commerce Account Manager Credential to Use</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>b2c_assignOutputVariable</targetReference>
        </connector>
        <fields>
            <name>lblB2C_namedCredentialDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select the named credential that should be used to perform the B2C Commerce authToken request.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pkl_FilteredNamedCredentials</name>
            <choiceReferences>rcB2C_AMNamedCredentials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Named Credential to Use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>b2c_selectANamedCredential</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the selected named credential developer name.</description>
        <name>out_namedCredentialDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
