src/sfdc/force-app/main/default/flows/B2C_Commerce_Access_Token_via_Client_Credentials_Grant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... represents an invocable action to retrieve an access token used by B2C Commerce to perform REST API calls.  These tokens are generated via Account Manager leveraging the selected name credential.</description>
        <name>iaB2C_getAccessToken</name>
        <label>Request a REST API Access Token from Account Manager</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>B2CIAAuthViaClientCredentialsGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decB2C_WasErrorCaught</targetReference>
        </connector>
        <inputParameters>
            <name>NamedCredentials</name>
            <value>
                <elementReference>b2cNamedCredentialDeveloperName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>... evaluates if a valid access token is present, and routes to the appropriate visual display.</description>
        <name>decB2C_WasErrorCaught</name>
        <label>Was an Error Found in the Response?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>B2C_Commerce_Access_Token_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error Was Caught</defaultConnectorLabel>
        <rules>
            <name>decB2C_wasAnErrorFoundInTheAccessTokenResponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iaB2C_getAccessToken.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>An_Error_Occurred_Retrieving_the_B2C_Access_Token</targetReference>
            </connector>
            <label>An Error Was Caught</label>
        </rules>
    </decisions>
    <description>... retrieves a B2C Commerce Access Token via a Client Credentials Grant from Account Manager</description>
    <dynamicChoiceSets>
        <description>... represents the collection of B2C Commerce Account Manager Named Credentials configured via the Salesforce Platform.</description>
        <name>rcB2C_AMNamedCredentials</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>B2C_AM_Credentials</stringValue>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>B2C Commerce: Access Token via Client Credentials Grant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Get REST API Access Token (Visual)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>... this screen is displayed when an error is caught during the retrieval of the B2C Commerce REST API Access Token.</description>
        <name>An_Error_Occurred_Retrieving_the_B2C_Access_Token</name>
        <label>An Error Occurred Retrieving the B2C Access Token</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Details</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;An error occurred while attempting to retrieve a B2C Commerce OCAPI Access Token via a &lt;/span&gt;&lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;client-credential grant request&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.  Please review the error message and REST Response below for details regaring this failure.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Status_Code</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>iaB2C_getAccessToken.statusCode</elementReference>
            </defaultValue>
            <fieldText>Status Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Error_Message</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>iaB2C_getAccessToken.errorMessage</elementReference>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Error_Rest_Response</name>
            <defaultValue>
                <stringValue>{!iaB2C_getAccessToken.responseBody}</stringValue>
            </defaultValue>
            <fieldText>Rest Response</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>... displays the B2C Commerce access token retrieved via the Flow action.</description>
        <name>B2C_Commerce_Access_Token_Details</name>
        <label>Display the B2C Commerce Access Token Details</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>B2C_CCG_AccessToken_Help</name>
            <fieldText>&lt;p&gt;This access token was generated by B2C Commerce via a &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;client-credential grant request&lt;/a&gt;. An Apex class was used to invoke the request and return the access token to this flow.  The token can now be used to authorize other &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OpenCommerceAPI.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Commerce OCAPI calls&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>B2C_Commerce_Status_Code</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>iaB2C_getAccessToken.statusCode</elementReference>
            </defaultValue>
            <fieldText>Status Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>B2C_Commerce_Access_Token</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>iaB2C_getAccessToken.accessToken</elementReference>
            </defaultValue>
            <fieldText>B2C Commerce Access Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>REST_Response</name>
            <defaultValue>
                <stringValue>{!iaB2C_getAccessToken.responseBody}</stringValue>
            </defaultValue>
            <fieldText>REST Response</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sfB2C_selectANamedCredential</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... this sub-flow enables users to select which named credential should be used to generate a B2C Commerce REST API AuthToken.  The named credential consists of a B2C Commerce Account Manager clientId and clientSecret configured in the Salesforce Platform.</description>
        <name>sfB2C_selectANamedCredential</name>
        <label>Select a Named Credential</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>iaB2C_getAccessToken</targetReference>
        </connector>
        <flowName>B2C_Commerce_Screen_Named_Credential</flowName>
        <outputAssignments>
            <assignToReference>b2cNamedCredentialDeveloperName</assignToReference>
            <name>out_namedCredentialDeveloperName</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>... represents the B2C Commerce access token provided via a client-credentials grant.</description>
        <name>b2cAccessTokenViaCCG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes if the current token request details represents an error (or failure to retrieve the token)</description>
        <name>b2cHasAuthorizationError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the Named Credential that will be used to perform the B2C Commerce</description>
        <name>b2cNamedCredentialDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the REST Response via which an authToken is retrieved.</description>
        <name>b2cRESTResponseAuthToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the statusCode included in the REST API response</description>
        <name>b2cRESTResponseStatusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
