src/sfdc/force-app/main/default/flows/B2C_Commerce_Screen_Assign_Named_Credential_to_B2C_CustomerList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <description>... represents an affirmative choice to associate the selected Named Credential to all CustomerLists.</description>
        <name>cbxB2C_addNamedCredentialToCustomerLists</name>
        <choiceText>Associate this Named Credential to the Instance&apos;s related CustomerLists</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>conB2C_GlobalTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <description>... evaluates whether the Named Credential should be assigned to B2C Commerce Sites managed by the selected B2C CustomerList.</description>
        <name>decB2C_assignNamedCredentialToB2CSites</name>
        <label>Assign Named Credential to B2C Commerce Sites?</label>
        <locationX>537</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>recB2C_updateB2CSitesWithNamedCredential</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Named Credentials to B2C Sites</defaultConnectorLabel>
        <rules>
            <name>decB2C_doNotAssignNamedCredentialToB2CSites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lblB2C_applySelectedNamedCredentialToSites</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Do Not Assign Named Credentials to B2C Sites</label>
        </rules>
    </decisions>
    <description>... allows System Administrators to assign a Named Credential and Certificate to a B2C Commerce CustomerList record and propagate the configuration to child Sites.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of filtered named credentials that are mapped to B2C Commerce Account Manager</description>
        <name>rcB2C_AMNamedCredentials</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>B2C_AMCredentials</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varB2CCustomerList.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>... represents the Named Credential associated to the selected B2C CustomerList.</description>
        <name>rcB2C_B2CCustomerListNamedCredential</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varB2CCustomerList.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNamedCredentialFilterValue</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>B2C Commerce: Screen: Assign Named Credential to B2C CustomerList {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: B2C CustomerList: Configure Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the current B2C CustomerList being interacted with.</description>
        <name>recGet_B2CCustomerList</name>
        <label>Get the Current B2C CustomerList</label>
        <locationX>545</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>b2c_selectANamedCredential</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2C_CustomerList__c</object>
        <outputReference>varB2CCustomerList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Named_Credential_Developer_Name__c</queriedFields>
        <queriedFields>B2C_Client_ID__c</queriedFields>
        <queriedFields>JWT_Certificate_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>... updates the child B2C Sites for the selected B2C Instance with the selected Named Credential.</description>
        <name>recB2C_updateB2CSitesWithNamedCredential</name>
        <label>Assign Named Credential to B2C Sites</label>
        <locationX>545</locationX>
        <locationY>978</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2C_Client_ID__c</field>
            <value>
                <elementReference>CustomerListClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JWT_Certificate_Name__c</field>
            <value>
                <elementReference>CustomerListCertificateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>pkl_FilteredNamedCredentials</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Site__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... assigns the selected Named Credential to the selected B2C CustomerList.</description>
        <name>recUpd_assignNamedCredential</name>
        <label>Assign Named Credential to B2C CustomerList</label>
        <locationX>545</locationX>
        <locationY>574</locationY>
        <connector>
            <targetReference>decB2C_assignNamedCredentialToB2CSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2C_Client_ID__c</field>
            <value>
                <elementReference>CustomerListClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JWT_Certificate_Name__c</field>
            <value>
                <elementReference>CustomerListCertificateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>pkl_FilteredNamedCredentials</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_CustomerList__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>... visual widget enabling users to select which named credential should be used to generate a B2C Commerce REST API AuthToken.</description>
        <name>b2c_selectANamedCredential</name>
        <label>Select a B2C Commerce Account Manager Credential to Use</label>
        <locationX>545</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>recUpd_assignNamedCredential</targetReference>
        </connector>
        <fields>
            <name>lblB2C_namedCredentialDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Specify an Integration Configuration for this B2C CustomerList&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;Please specify the named credential, certificate, and B2C Client that should be assigned to the selected B2C CustomerList.  You can also apply this configuration to the related Sites for this CustomerList when you save your changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pkl_FilteredNamedCredentials</name>
            <choiceReferences>rcB2C_B2CCustomerListNamedCredential</choiceReferences>
            <choiceReferences>rcB2C_AMNamedCredentials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Named Credential to Associate with this B2C CustomerList</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;The list of Named Credentials presented in this flow are filtered from the super-set of credentials managed by this Salesforce Org.  To appear in this list, Named Credentials must have the phrase &quot;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;B2C_AMCredentials&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&quot;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;present in their Developer Name.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerListCertificateName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varB2CCustomerList.JWT_Certificate_Name__c</elementReference>
            </defaultValue>
            <fieldText>Specify the Certificate to use with this Named Credential</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;... represents the developerName of the Certificate that will be used to mint the JWT token used to authenticate against B2C Commerce&apos;s Account Manager -- and exchange for a REST API AuthToken.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerListClientId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varB2CCustomerList.B2C_Client_ID__c</elementReference>
            </defaultValue>
            <fieldText>Specify the B2C Client ID to use with this Named Credential</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;... represents the B2C Client ID that will be used to mint the JWT token used to authenticate against B2C Commerce&apos;s Account Manager -- and exchange for a REST API AuthToken.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lblB2C_checkboxInstructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Share These Configuration Values Across the B2C CustomerList&apos;s Related Sites&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please specify how you would like to apply these selected configuration values across the related records for this B2C CustomerList.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblB2C_applySelectedNamedCredentialToSites</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>conB2C_GlobalTrue</elementReference>
            </defaultValue>
            <fieldText>Apply this configuration across this CustomerList&apos;s Sites</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>recGet_B2CCustomerList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the recordId of the current selected B2C Instance.  We&apos;ll use it to retrieve the record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the selected B2C CustomerList.</description>
        <name>varB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the string value used to filter applicable Named Credentials.</description>
        <name>varNamedCredentialFilterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>B2C_AMCredentials</stringValue>
        </value>
    </variables>
</Flow>
