src/sfdc/force-app/main/default/flows/B2C_Commerce_Screen_Assign_Named_Credential_to_B2C_CustomerList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <description>... represents an affirmative choice to associate the selected Named Credential to all CustomerLists.</description>
        <name>cbxB2C_addNamedCredentialToCustomerLists</name>
        <choiceText>Associate this Named Credential to the Instance&apos;s related CustomerLists</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>conB2C_GlobalTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <description>... evaluates whether the Named Credential should be assigned to B2C Commerce Sites managed by the selected B2C CustomerList.</description>
        <name>decB2C_assignNamedCredentialToB2CSites</name>
        <label>Assign Named Credential to B2C Commerce Sites?</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>recB2C_updateB2CSitesWithNamedCredential</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Named Credentials to B2C Sites</defaultConnectorLabel>
        <rules>
            <name>decB2C_doNotAssignNamedCredentialToB2CSites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lblB2C_applySelectedNamedCredentialToSites</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Do Not Assign Named Credentials to B2C Sites</label>
        </rules>
    </decisions>
    <description>... allows System Administrators to assign a Named Credential to a B2C Commerce CustomerList record and propagate the Named Credential to child Sites.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of filtered named credentials that are mapped to B2C Commerce Account Manager</description>
        <name>rcB2C_AMNamedCredentials</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>B2C_AMCredentials</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varB2CCustomerList.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>... represents the Named Credential associated to the selected B2C CustomerList.</description>
        <name>rcB2C_B2CCustomerListNamedCredential</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varB2CCustomerList.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNamedCredentialFilterValue</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>B2C Commerce: Screen: Assign Named Credential to B2C CustomerList {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Screen: Assign Named Credential to B2C CustomerList</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the current B2C CustomerList being interacted with.</description>
        <name>recGet_B2CCustomerList</name>
        <label>Get the Current B2C CustomerList</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>b2c_selectANamedCredential</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2C_CustomerList__c</object>
        <outputReference>varB2CCustomerList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Named_Credential_Developer_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>... updates the child B2C Sites for the selected B2C Instance with the selected Named Credential.</description>
        <name>recB2C_updateB2CSitesWithNamedCredential</name>
        <label>Assign Named Credential to B2C Sites</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2C_Client_ID__c</field>
            <value>
                <elementReference>CustomerListClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>rcB2C_AMNamedCredentials</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Site__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... assigns the selected Named Credential to the selected B2C CustomerList.</description>
        <name>recUpd_assignNamedCredential</name>
        <label>Assign Named Credential to B2C CustomerList</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>decB2C_assignNamedCredentialToB2CSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2C_Client_ID__c</field>
            <value>
                <elementReference>CustomerListClientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>rcB2C_AMNamedCredentials</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_CustomerList__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>... visual widget enabling users to select which named credential should be used to generate a B2C Commerce REST API AuthToken.</description>
        <name>b2c_selectANamedCredential</name>
        <label>Select a B2C Commerce Account Manager Credential to Use</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>recUpd_assignNamedCredential</targetReference>
        </connector>
        <fields>
            <name>lblB2C_namedCredentialDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select a Default Named Credential for this B2C CustomerList&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please select the named credential that should be assigned to the selected B2C Commerce CustomerList.  Additionally, please specify if this Named Credential should be applied to the Sites managed by this B2C CustomerList.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pkl_FilteredNamedCredentials</name>
            <choiceReferences>rcB2C_B2CCustomerListNamedCredential</choiceReferences>
            <choiceReferences>rcB2C_AMNamedCredentials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Named Credential to Apply to this B2C CustomerList</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;The list of Named Credentials presented in this flow are filtered from the super-set of credentials managed by this Salesforce Org.  To appear in this list, Named Credentials must have the phrase &quot;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;B2C_AMCredentials&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&quot;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;present in their Developer Name.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerListClientId</name>
            <dataType>String</dataType>
            <fieldText>Add Client Id for the Named Credential</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblB2C_checkboxInstructions</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Specify the Named Credential Behavior for this B2C CustomerList&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please specify how the selected Named Credential should be applied to this B2C CustomerList&apos;s associated Sites.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblB2C_applySelectedNamedCredentialToSites</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>conB2C_GlobalTrue</elementReference>
            </defaultValue>
            <fieldText>Apply the Selected Named Credential to this CustomerList&apos;s Sites</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recGet_B2CCustomerList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the recordId of the current selected B2C Instance.  We&apos;ll use it to retrieve the record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the selected B2C CustomerList.</description>
        <name>varB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the string value used to filter applicable Named Credentials.</description>
        <name>varNamedCredentialFilterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>B2C_AMCredentials</stringValue>
        </value>
    </variables>
</Flow>
