src/sfdc/force-app/main/default/flows/B2CCommerce_Process_QAModeHelper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>... set the QA Contact Properties to facilitate testing.</description>
        <name>asn_qaContactAssignCustomerID</name>
        <label>Assign the CustomerID</label>
        <locationX>232</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>var_qaContact.B2C_Customer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaB2CCustomerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasQACustomerNoSpecified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... set the QA Contact Properties to facilitate testing.</description>
        <name>asn_qaContactAssignCustomerList</name>
        <label>Assign the CustomerList</label>
        <locationX>228</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>var_qaContact.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaB2CCustomerListID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasQACustomerIDSpecified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... set the QA Contact Properties to facilitate testing.</description>
        <name>asn_qaContactAssignCustomerNo</name>
        <label>Assign the CustomerNo</label>
        <locationX>235</locationX>
        <locationY>1585</locationY>
        <assignmentItems>
            <assignToReference>var_qaContact.B2C_Customer_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaB2CCustomerNo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... set the QA Contact Properties to facilitate testing.</description>
        <name>asn_qaContactAssignEmail</name>
        <label>Assign the Email</label>
        <locationX>228</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>var_qaContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasQACustomerListSpecified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... set the QA Contact Properties to facilitate testing.</description>
        <name>asn_qaContactAssignFirstName</name>
        <label>Assign the FirstName</label>
        <locationX>232</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>var_qaContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaFirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasQAEmailSpecified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... set the QA Contact Properties to facilitate testing.</description>
        <name>asn_qaContactAssignLastName</name>
        <label>Assign the LastName</label>
        <locationX>225</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>var_qaContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasQAFirstNameSpecified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_wasQACustomerIDSpecified</name>
        <label>Was CustomerID Specified?</label>
        <locationX>441</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>dec_wasQACustomerNoSpecified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_QACustomerIDWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaB2CCustomerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_qaB2CCustomerID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_qaContactAssignCustomerID</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_wasQACustomerListSpecified</name>
        <label>Was CustomerList Specified?</label>
        <locationX>442</locationX>
        <locationY>969</locationY>
        <defaultConnector>
            <targetReference>dec_wasQACustomerIDSpecified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_QACustomerListWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaB2CCustomerListID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_qaB2CCustomerListID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_qaContactAssignCustomerList</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_wasQACustomerNoSpecified</name>
        <label>Was CustomerNo Specified?</label>
        <locationX>442</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_QACustomerNoWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaB2CCustomerNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_qaB2CCustomerNo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_qaContactAssignCustomerNo</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_wasQAEmailSpecified</name>
        <label>Was Email Specified?</label>
        <locationX>441</locationX>
        <locationY>742</locationY>
        <defaultConnector>
            <targetReference>dec_wasQACustomerListSpecified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_QAEmailWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_qaEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_qaContactAssignEmail</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_wasQAFirstNameSpecified</name>
        <label>Was FirstName Specified?</label>
        <locationX>441</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>dec_wasQAEmailSpecified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_QAFirstNamelWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaFirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_qaFirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_qaContactAssignFirstName</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_wasQALastNameSpecified</name>
        <label>Was LastName Specified?</label>
        <locationX>441</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>dec_wasQAFirstNameSpecified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_QALastNameWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_qaLastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_qaContactAssignLastName</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <description>... this flow accepts a collection of QA Mode attributes and produces a Contact record that can be used for flow validation.</description>
    <interviewLabel>B2C Commerce: Process: QA Mode Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: QA Mode Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>323</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>dec_wasQALastNameSpecified</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the B2C Customer ID used to test the Customer Resolution sub-flow.</description>
        <name>var_qaB2CCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList ID used to test the Customer Resolution sub-flow.</description>
        <name>var_qaB2CCustomerListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C Customer No used to test the Customer Resolution sub-flow.</description>
        <name>var_qaB2CCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents a test / QA Contact to use when debugging this flow.</description>
        <name>var_qaContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the emailAddress used to test the Customer Resolution sub-flow.</description>
        <name>var_qaEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the firstName used to test the Customer Resolution sub-flow.</description>
        <name>var_qaFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the lastName used to test the Customer Resolution sub-flow.</description>
        <name>var_qaLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
