src/sfdc/force-app/main/default/flows/B2CCommerce_PlatformEvent_ProcessContactUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... retrieve the B2C Commerce REST API Access Token for Contact publishing</description>
        <name>ia_getAccessTokenForPublish</name>
        <label>Get B2C Commerce AccessToken</label>
        <locationX>1054</locationX>
        <locationY>2018</locationY>
        <actionName>B2CIAAuthViaClientCredentialsGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_isPublishAccessTokenValid</targetReference>
        </connector>
        <inputParameters>
            <name>NamedCredentials</name>
            <value>
                <elementReference>$Record.Named_Credential__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... retrieve the B2C Commerce REST API Access Token</description>
        <name>ia_getAccessTokenForRetrieve</name>
        <label>Get B2C Commerce AccessToken</label>
        <locationX>415</locationX>
        <locationY>2012</locationY>
        <actionName>B2CIAAuthViaClientCredentialsGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_isRetrieveAccessTokenValid</targetReference>
        </connector>
        <inputParameters>
            <name>NamedCredentials</name>
            <value>
                <elementReference>$Record.Named_Credential__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... attempts to retrieve the Contact record specified in the Platform Event definition.</description>
        <name>ia_getContactRecord</name>
        <label>Retrieve the Contact</label>
        <locationX>736</locationX>
        <locationY>534</locationY>
        <actionName>B2CIAGetContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_verifyContactWasFound</targetReference>
        </connector>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... update the Salesforce Contact leveraging the data retrieved from B2C Commerce.</description>
        <name>ia_processContactUpdateB2CProfile</name>
        <label>Process Contact Update from B2C Commerce</label>
        <locationX>230</locationX>
        <locationY>2907</locationY>
        <actionName>B2CIAProcessCustomerProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_AuditB2CCustomerProfileRetrieveResponse</targetReference>
        </connector>
        <inputParameters>
            <name>b2cCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerNo</name>
            <value>
                <elementReference>$Record.B2C_Customer_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmCustomerListId</name>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isError</name>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.isError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseBody</name>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.responseBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.status</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>... takes the response provided by the publish event and updates the B2C Commerce profile accordingly.</description>
        <name>ia_processPublishContactUpdateB2CProfile</name>
        <label>Process Contact Update from B2C Commerce</label>
        <locationX>1236</locationX>
        <locationY>2904</locationY>
        <actionName>B2CIAProcessCustomerProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_auditContactUpdateFromPublishResponse</targetReference>
        </connector>
        <inputParameters>
            <name>b2cCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerNo</name>
            <value>
                <elementReference>$Record.B2C_Customer_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isError</name>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.isError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseBody</name>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.responseBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusCode</name>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.statusCode</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>... take the specified Contact and publish field updates to B2C Commerce based on updatable field mappings created</description>
        <name>ia_publishB2CCommerceProfileUpdates</name>
        <label>Publish Updates to the B2C Commerce Profile</label>
        <locationX>1052</locationX>
        <locationY>2444</locationY>
        <actionName>B2CIAPublishCustomerProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_hasB2CCommerceProfileBeenUpdated</targetReference>
        </connector>
        <inputParameters>
            <name>accessToken</name>
            <value>
                <elementReference>ia_getAccessTokenForPublish.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apiUrl</name>
            <value>
                <elementReference>$Record.Api_Url__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apiVersion</name>
            <value>
                <elementReference>$Record.OCAPI_Version_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerNo</name>
            <value>
                <elementReference>$Record.B2C_Customer_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cProfileJSON</name>
            <value>
                <elementReference>$Record.B2C_Profile_Publish_JSON__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContact</name>
            <value>
                <elementReference>ia_getContactRecord.crmContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmCustomerListId</name>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... retrieve the B2C Commerce Customer Profile via the OCAPI REST API.</description>
        <name>ia_retrieveB2CCommerceCustomerProfile</name>
        <label>Retrieve the B2C Commerce Customer Profile</label>
        <locationX>414</locationX>
        <locationY>2444</locationY>
        <actionName>B2CIAGetCustomerProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_B2CCustomerProfileDetailsRetrievedSuccessfully</targetReference>
        </connector>
        <inputParameters>
            <name>accessToken</name>
            <value>
                <elementReference>ia_getAccessTokenForRetrieve.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apiUrl</name>
            <value>
                <elementReference>$Record.Api_Url__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apiVersion</name>
            <value>
                <elementReference>$Record.OCAPI_Version_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerNo</name>
            <value>
                <elementReference>$Record.B2C_Customer_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmCustomerListId</name>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... validates the integration configuration for the selected Contact and returns configuration properties that indicate if integration can continue for the configured processMode</description>
        <name>ia_validateIntegrationConfiguration</name>
        <label>Validate Integration Configuration</label>
        <locationX>736</locationX>
        <locationY>1605</locationY>
        <actionName>B2CIAValidateContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_isIntegrationEnabledForPlatformEvent</targetReference>
        </connector>
        <inputParameters>
            <name>b2cInstance</name>
            <value>
                <elementReference>recGet_B2CInstance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contact</name>
            <value>
                <elementReference>ia_getContactRecord.crmContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerList</name>
            <value>
                <elementReference>recGet_B2CCustomerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processMode</name>
            <value>
                <elementReference>$Record.Process_Mode__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>... evaluates if the B2C Commerce Customer Profile response should be audited.</description>
        <name>dec_AuditB2CCustomerProfileRetrieveResponse</name>
        <label>Audit the Details of the B2C Commerce Response</label>
        <locationX>405</locationX>
        <locationY>2909</locationY>
        <defaultConnectorLabel>Do Not Audit API Response</defaultConnectorLabel>
        <rules>
            <name>decOutcome_AuditRetrieveAPIResponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Audit_API_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recCreate_B2CRetrieveContactIntegrationHistory</targetReference>
            </connector>
            <label>Audit API Response</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact update driven by the publish response should be audited.</description>
        <name>dec_auditContactUpdateFromPublishResponse</name>
        <label>Audit the Details of the Contact Update</label>
        <locationX>1045</locationX>
        <locationY>2906</locationY>
        <defaultConnectorLabel>Do Not Audit the Contact Update</defaultConnectorLabel>
        <rules>
            <name>decOut_AuditContactUpdateFromPublish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Audit_API_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ia_publishB2CCommerceProfileUpdates.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recCreate_B2CRetrieveContactIntegrationHistoryFromPublish</targetReference>
            </connector>
            <label>Audit the Contact Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if B2C Commerce Customer Profile Details were successfully retrieved from the specified B2C Commerce Instance and CustomerList.</description>
        <name>dec_B2CCustomerProfileDetailsRetrievedSuccessfully</name>
        <label>Were B2C Customer Profile Details Successfully Retrieved</label>
        <locationX>406</locationX>
        <locationY>2651</locationY>
        <defaultConnector>
            <targetReference>ia_processContactUpdateB2CProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes; Details Retrieved</defaultConnectorLabel>
        <rules>
            <name>decOutcome_B2CCustomerProfileDetailHasError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_retrieveB2CCommerceCustomerProfile.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_AuditB2CCustomerProfileRetrieveResponse</targetReference>
            </connector>
            <label>No; An Error Was Caught</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact has a parent Account; if not -- exit early (do not process the Contact update).</description>
        <name>dec_doesContactHaveParentAccount</name>
        <label>Does the Contact Have a Parent Account?</label>
        <locationX>727</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>recGet_B2CCustomerList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Has a Parent Account</defaultConnectorLabel>
        <rules>
            <name>decOut_ContactDoesNotHaveParentAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getContactRecord.crmContact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ia_getContactRecord.crmContact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Does Not Have a Parent Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if the Contact&apos;s fields that are mapped to B2C Customer Profile properties have been updated.</description>
        <name>dec_hasB2CCommerceProfileBeenUpdated</name>
        <label>Has the Update Been Published to the B2C Commerce Profile?</label>
        <locationX>1044</locationX>
        <locationY>2664</locationY>
        <defaultConnector>
            <targetReference>ia_processPublishContactUpdateB2CProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes; Updates were Published</defaultConnectorLabel>
        <rules>
            <name>decOutcome_B2CProfileUpdatesWerePublished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_publishB2CCommerceProfileUpdates.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_auditContactUpdateFromPublishResponse</targetReference>
            </connector>
            <label>No; An Error Was Caught</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates the integration configuration validation results -- and either moves forward with the integration event or stops event processing.</description>
        <name>dec_isIntegrationEnabledForPlatformEvent</name>
        <label>Is Integration Enabled for this Event?</label>
        <locationX>727</locationX>
        <locationY>1776</locationY>
        <defaultConnector>
            <targetReference>dec_RetrieveOrPublishB2CCustomerProfiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integration is Enabled</defaultConnectorLabel>
        <rules>
            <name>decOut_integrationIsDisabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_validateIntegrationConfiguration.allowIntegrationProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Integration is Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... validate the ProcessMode attached to the Platform Event.</description>
        <name>dec_isProcessModeValid</name>
        <label>Is ProcessMode Valid</label>
        <locationX>727</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>ia_getContactRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ProcessMode is Valid</defaultConnectorLabel>
        <rules>
            <name>decOutcome_ProcessModeIsInValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Mode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>retrieve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Mode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>publish</stringValue>
                </rightValue>
            </conditions>
            <label>ProcessMode is InValid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if the B2C Commerce Access Token is valid for the Publishing Process.</description>
        <name>dec_isPublishAccessTokenValid</name>
        <label>Is Access Token Valid?</label>
        <locationX>1046</locationX>
        <locationY>2211</locationY>
        <defaultConnector>
            <targetReference>ia_publishB2CCommerceProfileUpdates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccessToken Is Valid</defaultConnectorLabel>
        <rules>
            <name>decOutcome_isPublishAccessTokenInValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getAccessTokenForPublish.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>AccessToken Is InValid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if the B2C Commerce Access Token is valid.</description>
        <name>dec_isRetrieveAccessTokenValid</name>
        <label>Is Access Token Valid?</label>
        <locationX>407</locationX>
        <locationY>2213</locationY>
        <defaultConnector>
            <targetReference>ia_retrieveB2CCommerceCustomerProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccessToken Is Valid</defaultConnectorLabel>
        <rules>
            <name>decOutcome_isRetrieveAccessTokenInValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getAccessTokenForRetrieve.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>AccessToken Is InValid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate the ProcessMode of the Platform Event to determine how to execute the event (either retrieving customerProfile details or publishing customerProfile details).</description>
        <name>dec_RetrieveOrPublishB2CCustomerProfiles</name>
        <label>Retrieve or Publish B2C Customer Profiles?</label>
        <locationX>729</locationX>
        <locationY>2016</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decOutcome_retrieveB2CCustomerProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>retrieve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_getAccessTokenForRetrieve</targetReference>
            </connector>
            <label>Retrieve B2C Commerce Customer Profile</label>
        </rules>
        <rules>
            <name>decOutcome_publishB2CCustomerProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>publish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_getAccessTokenForPublish</targetReference>
            </connector>
            <label>Publish B2C Commerce Customer Profile</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the specified Contact was retrieved successfully.</description>
        <name>dec_verifyContactWasFound</name>
        <label>Was the Contact Found?</label>
        <locationX>728</locationX>
        <locationY>713</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_ContactWasVerfiied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getContactRecord.crmContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_doesContactHaveParentAccount</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <description>... this flow is used to retrieve, process, and write B2C Commerce Customer Profile details retrieved via the B2C Commerce OCAPI REST API back to the mapped Salesforce Contact object managed by the Salesforce Platform.</description>
    <interviewLabel>B2C Commerce: Platform Event: Process Contact: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Platform Event: Process Contact Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>... audit the B2C Commerce Customer Profile integration results for the specific Contact record.</description>
        <name>recCreate_B2CRetrieveContactIntegrationHistory</name>
        <label>Audit the B2C Commerce Customer Profile</label>
        <locationX>413</locationX>
        <locationY>3152</locationY>
        <inputAssignments>
            <field>B2C_CustomerList__c</field>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Has_Error__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.isError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_JSON__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.responseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Message__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status_Code__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.statusCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Platform_Event_Processed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Mode__c</field>
            <value>
                <elementReference>$Record.Process_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Contact_Integration_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>... audit the B2C Commerce Customer Profile integration results for the specific Contact record.</description>
        <name>recCreate_B2CRetrieveContactIntegrationHistoryFromPublish</name>
        <label>Audit the B2C Commerce Customer Profile</label>
        <locationX>1052</locationX>
        <locationY>3147</locationY>
        <inputAssignments>
            <field>B2C_CustomerList__c</field>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Has_Error__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.isError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_JSON__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.responseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Message__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Payload__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.requestPayload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status_Code__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.statusCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Platform_Event_Processed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Mode__c</field>
            <value>
                <elementReference>$Record.Process_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Contact_Integration_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>... retrieve the specified B2C CustomerList</description>
        <name>recGet_B2CCustomerList</name>
        <label>Get the B2C CustomerList</label>
        <locationX>736</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_B2CInstance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C Instance related to the attached B2C CustomerList</description>
        <name>recGet_B2CInstance</name>
        <label>Get the Related B2C Instance</label>
        <locationX>736</locationX>
        <locationY>1378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ia_validateIntegrationConfiguration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_B2CCustomerList.B2C_Instance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>609</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>dec_isProcessModeValid</targetReference>
        </connector>
        <object>B2C_Commerce_ProcessCustomerDetails__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the date / time that a contact was last modified taken from the post-publish process.</description>
        <name>varContactLastModifiedDatePostPublish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents if Contact creation is enabled within the integration configuration</description>
        <name>varIsContactCreationEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the last date / time that a Contact was updated resulting from a Contact Processing Platform Event.</description>
        <name>varLastContactUpdatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the current platformEvent being processed.</description>
        <name>varPlatformEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Commerce_ProcessCustomerDetails__e</objectType>
    </variables>
</Flow>
