src/sfdc/force-app/main/default/flows/B2CCommerce_ScreenAssign_NamedCredential_to_B2CInstance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>... takes the assigned Named Credential and applies it to a common variable for processing by the rest of the flow.</description>
        <name>asnB2C_assignSelectedNamedCredentialPreselected_0</name>
        <label>Assign Selected Named Credential Properties</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varSelectedNamedCredential</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pkl_FilteredNamedCredentialsSel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignToCustomerLists</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lblB2C_applySelectedNamedCredentialToCustomerListsSel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignToSites</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lblB2C_applySelectedNamedCredentialToSitesSel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recUpd_assignNamedCredential</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>... represents an affirmative choice to associate the selected Named Credential to all CustomerLists.</description>
        <name>cbxB2C_addNamedCredentialToCustomerLists</name>
        <choiceText>Associate this Named Credential to the Instance&apos;s related CustomerLists</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>conB2C_GlobalTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <description>... evaluates if the selected Named Credential should be applied to the B2C Commerce CustomerLists associated to this instance.</description>
        <name>decB2C_assignNamedCredentialToB2CCustomerLists</name>
        <label>Assign Named Credential to B2C Customer Lists?</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>recUpd_assignNamedCredentialToB2CCustomerLists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign to B2C CustomerLists</defaultConnectorLabel>
        <rules>
            <name>decB2C_doNotAssignToCustomerLists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignToCustomerLists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decB2C_assignNamedCredentialToB2CSites</targetReference>
            </connector>
            <label>Do Not Assign to CustomerLists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates whether the Named Credential should be assigned to B2C Commerce Sites managed by the selected B2C Instance.</description>
        <name>decB2C_assignNamedCredentialToB2CSites</name>
        <label>Assign Named Credential to B2C Commerce Sites?</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>recB2C_updateB2CSitesWithNamedCredential</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Named Credentials to B2C Sites</defaultConnectorLabel>
        <rules>
            <name>decB2C_doNotAssignNamedCredentialToB2CSites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignToSites</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Do Not Assign Named Credentials to B2C Sites</label>
        </rules>
    </decisions>
    <description>... allows users to assign a Named Credential to a B2C Instance -- and propagate that choice across all related customerLists and sites.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of filtered named credentials that are mapped to B2C Commerce Account Manager</description>
        <name>rcB2C_AMNamedCredentials</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNamedCredentialFilterValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>... represents the Named Credential associated to the selected B2C Instance.</description>
        <name>rcB2C_B2CInstanceNamedCredential</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNamedCredentialFilterValue</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Screen: Assign Named Credential to B2C Instance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the current B2C Instance being interacted with.</description>
        <name>recGet_B2CInstance</name>
        <label>Get the Current B2C Instance</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>b2c_selectANamedCredential_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2C_Instance__c</object>
        <outputReference>varB2CInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Named_Credential_Developer_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>... updates the child B2C Sites for the selected B2C Instance with the selected Named Credential.</description>
        <name>recB2C_updateB2CSitesWithNamedCredential</name>
        <label>Assign Named Credential to B2C Sites</label>
        <locationX>308</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>varSelectedNamedCredential</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Site__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... assigns the selected Named Credential to the selected B2C Instance.</description>
        <name>recUpd_assignNamedCredential</name>
        <label>Assign Named Credential to B2C Instance</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>decB2C_assignNamedCredentialToB2CCustomerLists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>varSelectedNamedCredential</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Instance__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... assign the specified Named Credential to B2C Commerce CustomerLists associated to this B2C Instance.</description>
        <name>recUpd_assignNamedCredentialToB2CCustomerLists</name>
        <label>Assign Named Credential to B2C CustomerLists</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>decB2C_assignNamedCredentialToB2CSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Named_Credential_Developer_Name__c</field>
            <value>
                <elementReference>varSelectedNamedCredential</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_CustomerList__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>... visual widget enabling users to select which named credential should be used to generate a B2C Commerce REST API AuthToken.</description>
        <name>b2c_selectANamedCredential_0_0_0</name>
        <label>Select a B2C Commerce Account Manager Credential to Use</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asnB2C_assignSelectedNamedCredentialPreselected_0</targetReference>
        </connector>
        <fields>
            <name>lblB2C_namedCredentialDisplayText_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select a Default Named Credential for this B2C Instance&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select the named credential that should be assigned to the selected B2C Commerce Instance.  Additionally, please specify if this Named Credential should be applied to the CustomerLists and Sites managed by this B2C Instance.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pkl_FilteredNamedCredentialsSel</name>
            <choiceReferences>rcB2C_B2CInstanceNamedCredential</choiceReferences>
            <choiceReferences>rcB2C_AMNamedCredentials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Named Credential to Apply to this B2C Instance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;The list of Named Credentials presented in this flow are filtered from the super-set of credentials managed by this Salesforce Org.  To appear in this list, Named Credentials must have the phrase &quot;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;B2C_AMCredentials&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&quot;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;present in their Developer Name.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lblB2C_checkboxInstructions_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Specify the Named Credential Behavior for this B2C Instance&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please specify how the selected Named Credential should be applied to this B2C Instance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblB2C_applySelectedNamedCredentialToCustomerListsSel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>conB2C_GlobalTrue</elementReference>
            </defaultValue>
            <fieldText>Apply the Selected Named Credential to this Instance&apos;s CustomerLists</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lblB2C_applySelectedNamedCredentialToSitesSel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>conB2C_GlobalTrue</elementReference>
            </defaultValue>
            <fieldText>Apply the Selected Named Credential to this Instance&apos;s Sites</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recGet_B2CInstance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the recordId of the current selected B2C Instance.  We&apos;ll use it to retrieve the record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes if the selected Named Credential should be applied to the child CustomerLists for a given B2C Instance.</description>
        <name>varAssignToCustomerLists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... manages whether the selected Named Credential should be applied to all child Sites.</description>
        <name>varAssignToSites</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C Instance to which a Named Credential will be assigned.</description>
        <name>varB2CInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Instance__c</objectType>
    </variables>
    <variables>
        <description>... represents the string value used to filter applicable Named Credentials.</description>
        <name>varNamedCredentialFilterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>B2C_AMCredentials</stringValue>
        </value>
    </variables>
    <variables>
        <description>... represents the Named Credential selected by the user.</description>
        <name>varSelectedNamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
