src/sfdc/force-app/main/default/flows/B2CCommerce_Process_Contact_VerifyRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>... assign the Account to an output variable.</description>
        <name>asn_parentAccount</name>
        <label>Assign the Account</label>
        <locationX>423</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_doesContactHaveParentB2CCustomerList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C CustomerList to an output variable.</description>
        <name>asn_parentB2CCustomerList</name>
        <label>Assign the B2C CustomerList</label>
        <locationX>1099</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CCustomerListUnResolvedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... update the successFlags to denote that we&apos;ve been able to verify the Contact.</description>
        <name>asn_setSuccessFlags</name>
        <label>The Contact is Verified</label>
        <locationX>424</locationX>
        <locationY>3019</locationY>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CCustomerList</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the B2C CustomerList was unable to be verified.</description>
        <name>asn_unableToVerifyB2CCustomerListErrorRecordGet</name>
        <label>Unable to Verify the B2C CustomerList</label>
        <locationX>1436</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to verify the B2C CustomerList.  Please review the B2C CustomerList provided -- and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorB2CCustomerList</name>
        <label>Error: No B2C CustomerList Exists</label>
        <locationX>772</locationX>
        <locationY>2248</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to validate the Contact; no B2C CustomerList is associated to this Contact.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorB2CCustomerList_0</name>
        <label>Error: No B2C CustomerList Exists</label>
        <locationX>770</locationX>
        <locationY>2754</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to validate the Contact; no B2C CustomerList is associated to this Contact.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorCustomerList</name>
        <label>Unable to Verify the Contact</label>
        <locationX>1426</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to Verify Contact; no ContactID, B2C CustomerID, or B2C CustomerList ID were provided.  </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorParentAccount</name>
        <label>Error: No Parent Account Exists</label>
        <locationX>787</locationX>
        <locationY>1389</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to validate the Contact; no parentAccount is associated to this Contact.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorParentAccount_0</name>
        <label>Error: No Parent Account Exists</label>
        <locationX>773</locationX>
        <locationY>1806</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>The AccountID provided is not associated to the specific Contact.  Please verify this relationship.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorRecordGet</name>
        <label>Unable to Verify the Contact</label>
        <locationX>788</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the validatedContact to a local variable.</description>
        <name>asn_validatedContactB2CCustomerID</name>
        <label>Assign the ValidatedContact</label>
        <locationX>420</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ContactByB2CCustomerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasContactVerified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the validatedContact to a local variable.</description>
        <name>asn_validatedContactContactID</name>
        <label>Assign the ValidatedContact</label>
        <locationX>133</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ContactByContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasContactVerified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if the resolved and source Contact&apos;s parent Accounts are the same.</description>
        <name>dec_areContactAccountsAligned</name>
        <label>Are the Contact&apos;s Accounts Aligned?</label>
        <locationX>414</locationX>
        <locationY>1809</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorParentAccount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accounts Are Not Aligned</defaultConnectorLabel>
        <rules>
            <name>dec_areContactAccountsAlignedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contactToResolve.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_parentAccount</targetReference>
            </connector>
            <label>Accounts Are Aligned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the resolved and source Contact&apos;s parent B2C CustomerLists are the same.</description>
        <name>dec_areContactB2CCustomerListsAligned</name>
        <label>Are the Contact&apos;s B2C CustomerLists Aligned?</label>
        <locationX>416</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorB2CCustomerList_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>B2C CustomerLists Are Not Aligned</defaultConnectorLabel>
        <rules>
            <name>dec_areContactB2CCustomerListsAlignedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact.B2C_CustomerList__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contactToResolve.B2C_CustomerList__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_setSuccessFlags</targetReference>
            </connector>
            <label>B2C CustomerLists Are Aligned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact record has a valid parentB2CCustomerList.</description>
        <name>dec_doesContactHaveB2CCustomerList</name>
        <label>Does the Contact Have a B2C CustomerList</label>
        <locationX>1089</locationX>
        <locationY>933</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyB2CCustomerListErrorRecordGet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Parent B2C CustomerList</defaultConnectorLabel>
        <rules>
            <name>dec_doesContactHaveB2CCustomerListTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_B2CCustomerListUnResolvedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_parentB2CCustomerList</targetReference>
            </connector>
            <label>Has B2C CustomerList</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact record has a valid parentAccount.</description>
        <name>dec_doesContactHaveParentAccount</name>
        <label>Does the Contact Have a Parent Account</label>
        <locationX>413</locationX>
        <locationY>1394</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorParentAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Parent Account</defaultConnectorLabel>
        <rules>
            <name>dec_doesContactHaveParentAccountTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_Account</targetReference>
            </connector>
            <label>Has Parent Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact record has a valid parent B2C CustomerList.</description>
        <name>dec_doesContactHaveParentB2CCustomerList</name>
        <label>Does the Contact Have a Parent B2C CustomerList?</label>
        <locationX>415</locationX>
        <locationY>2251</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorB2CCustomerList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have B2C CustomerList</defaultConnectorLabel>
        <rules>
            <name>dec_doesContactHaveParentB2CCustomerListTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact.B2C_CustomerList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_B2CCustomerList</targetReference>
            </connector>
            <label>Has B2C CustomerList</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C CustomerID was provided and can be used to validate the specified Contact record.</description>
        <name>dec_wasB2CCustomerIDProvided</name>
        <label>Was a B2C CustomerID Provided?</label>
        <locationX>411</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>dec_wasB2CCustomerListProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Provided</defaultConnectorLabel>
        <rules>
            <name>dec_wasB2CCustomerIDProvidedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactToResolve.B2C_Customer_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_ContactByB2CCustomerID</targetReference>
            </connector>
            <label>Was Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the contactToResolve includes a B2C CustomerList association.</description>
        <name>dec_wasB2CCustomerListProvided</name>
        <label>Was a B2C CustomerList Provided?</label>
        <locationX>1089</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorCustomerList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Provided</defaultConnectorLabel>
        <rules>
            <name>dec_wasB2CCustomerListProvidedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactToResolve.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_B2CCustomerListUnResolvedContact</targetReference>
            </connector>
            <label>Was Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a ContactID was provided and can be used to validate the specified Contact record.</description>
        <name>dec_wasContactIDProvided</name>
        <label>Was a ContactID Provided?</label>
        <locationX>411</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>dec_wasB2CCustomerIDProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Provided</defaultConnectorLabel>
        <rules>
            <name>dec_wasContactIDProvidedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactToResolve.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_ContactByContactID</targetReference>
            </connector>
            <label>Was Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a valid Contact record was verified.</description>
        <name>dec_wasContactVerified</name>
        <label>Was the Contact Verified?</label>
        <locationX>412</locationX>
        <locationY>1155</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorRecordGet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Verified</defaultConnectorLabel>
        <rules>
            <name>dec_wasContactVerifiedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_doesContactHaveParentAccount</targetReference>
            </connector>
            <label>Was Verified</label>
        </rules>
    </decisions>
    <description>... this subFlow attempts to verify a Contact record using the key identifiers that drive record-based resolution.</description>
    <interviewLabel>B2C Commerce: Process: Contact: Verify Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact: Verify Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the parentAccount for the specified Contact.</description>
        <name>recGet_Account</name>
        <label>Retrieve the Parent Account</label>
        <locationX>422</locationX>
        <locationY>1628</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_areContactAccountsAligned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C CustomerList for the specified Contact.</description>
        <name>recGet_B2CCustomerList</name>
        <label>Retrieve the B2C CustomerList</label>
        <locationX>424</locationX>
        <locationY>2525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_areContactB2CCustomerListsAligned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContact.B2C_CustomerList__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C CustomerList for the unresolved Contact.</description>
        <name>recGet_B2CCustomerListUnResolvedContact</name>
        <label>Retrieve the B2C CustomerList</label>
        <locationX>1097</locationX>
        <locationY>740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_doesContactHaveB2CCustomerList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactToResolve.B2C_CustomerList_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the Contact record using one of the identifiers provided.</description>
        <name>recGet_ContactByB2CCustomerID</name>
        <label>Retrieve the Contact by B2C CustomerID</label>
        <locationX>420</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_validatedContactB2CCustomerID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactToResolve.B2C_Customer_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>B2C_CustomerList__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the Contact record using one of the identifiers provided.</description>
        <name>recGet_ContactByContactID</name>
        <label>Retrieve the Contact by ContactID</label>
        <locationX>133</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_validatedContactContactID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactToResolve.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>B2C_CustomerList__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>293</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>dec_wasContactIDProvided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the Contact record to verify / validate.</description>
        <name>contactToResolve</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the collection of errors caught during flow processing.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>... describes if an error was caught during flow processing.</description>
        <name>hasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... describes if a ContactID or a B2C CustomerID was provided.</description>
        <name>hasIdentifiers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... describes if the Contact specified was verified.</description>
        <name>isVerfied</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the parentAccount for a given Contact record.</description>
        <name>parentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList associated to a given Contact record.</description>
        <name>parentB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the retrieved Contact record via the identifier(s) provided.</description>
        <name>verifiedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
