src/sfdc/force-app/main/default/flows/B2CCommerce_Process_Contact_VerifyRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>... audit and generate an exception back to the calling flow.</description>
        <name>asn_auditContactFaultByContactID</name>
        <label>Audit the Fault</label>
        <locationX>91</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to resolve a Contact.  Please check the arguments provided -- and try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the Account to an output variable.</description>
        <name>asn_parentAccount</name>
        <label>Assign the Account</label>
        <locationX>372</locationX>
        <locationY>1901</locationY>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_doesContactHaveParentB2CCustomerList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... update the successFlags to denote that we&apos;ve been able to verify the Contact.</description>
        <name>asn_setSuccessFlags</name>
        <label>The Contact is Verified</label>
        <locationX>373</locationX>
        <locationY>2859</locationY>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorB2CCustomerList</name>
        <label>Error: No B2C CustomerList Exists</label>
        <locationX>655</locationX>
        <locationY>2091</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to validate the Contact; no B2C CustomerList is associated to this Contact.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorB2CCustomerList_0</name>
        <label>Error: No B2C CustomerList Exists</label>
        <locationX>959</locationX>
        <locationY>2712</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to validate the Contact; no B2C CustomerList is associated to this Contact.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorParentAccount</name>
        <label>Error: No Parent Account Exists</label>
        <locationX>94</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to validate the Contact; no parentAccount is associated to this Contact.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorParentAccount_0</name>
        <label>Error: No Parent Account Exists</label>
        <locationX>926</locationX>
        <locationY>1774</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>The AccountID provided is not associated to the specific Contact.  Please verify this relationship.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorRecordGet</name>
        <label>Unable to Verify the Contact</label>
        <locationX>92</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Unable to verify the Contact.  Please ensure that the Contact has resolvable fields -- and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining that the Contact was unable to be verified.</description>
        <name>asn_unableToVerifyContactErrorRecordGet_0</name>
        <label>Unable to Verify the Contact</label>
        <locationX>90</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerfied</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No Contact to Verify.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the verifiedContact to a local variable.</description>
        <name>asn_verifiedContactContactID</name>
        <label>Assign the Verified Contact</label>
        <locationX>370</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ContactByContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasContactVerified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if the resolved and source Contact&apos;s parent Accounts are the same.</description>
        <name>dec_areContactAccountsAligned</name>
        <label>Are the Contact&apos;s Accounts Aligned?</label>
        <locationX>644</locationX>
        <locationY>1773</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorParentAccount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accounts Are Not Aligned</defaultConnectorLabel>
        <rules>
            <name>dec_areContactAccountsAlignedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sourceContact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_parentAccount</targetReference>
            </connector>
            <label>Accounts Are Aligned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the resolved and source Contact&apos;s parent B2C CustomerLists are the same.</description>
        <name>dec_areContactB2CCustomerListsAligned</name>
        <label>Are the Contact&apos;s B2C CustomerLists Aligned?</label>
        <locationX>659</locationX>
        <locationY>2716</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorB2CCustomerList_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>B2C CustomerLists Are Not Aligned</defaultConnectorLabel>
        <rules>
            <name>dec_areContactB2CCustomerListsAlignedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sourceContact.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_setSuccessFlags</targetReference>
            </connector>
            <label>B2C CustomerLists Are Aligned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact record has a valid parentAccount.</description>
        <name>dec_doesContactHaveParentAccount</name>
        <label>Does the Contact Have a Parent Account</label>
        <locationX>362</locationX>
        <locationY>1167</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorParentAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Parent Account</defaultConnectorLabel>
        <rules>
            <name>dec_doesContactHaveParentAccountTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact.AccountId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>verifiedContact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_Account</targetReference>
            </connector>
            <label>Has Parent Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact record has a valid parent B2C CustomerList.</description>
        <name>dec_doesContactHaveParentB2CCustomerList</name>
        <label>Does the Contact Have a Parent B2C CustomerList?</label>
        <locationX>364</locationX>
        <locationY>2096</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorB2CCustomerList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have B2C CustomerList</defaultConnectorLabel>
        <rules>
            <name>dec_doesContactHaveParentB2CCustomerListTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact.B2C_CustomerList__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_B2CCustomerList</targetReference>
            </connector>
            <label>Has B2C CustomerList</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if an AccountID was specified in the Contact to Resolve; if so -- validate that accountId&apos;s are aligned.</description>
        <name>dec_wasAccountSpecifiedInContactToResolve</name>
        <label>Was an Account Specified in the ContactToResolve?</label>
        <locationX>363</locationX>
        <locationY>1653</locationY>
        <defaultConnector>
            <targetReference>asn_parentAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_wasAccountSpecifiedInContactToResolveTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.AccountId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_areContactAccountsAligned</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if an B2C CustomerList was specified in the Contact to Resolve; if so -- validate that B2C CustomerListID&apos;s are aligned.</description>
        <name>dec_wasB2CCustomerListSpecifiedInContactToResolve</name>
        <label>Was an B2C CustomerList Specified in the ContactToResolve?</label>
        <locationX>365</locationX>
        <locationY>2574</locationY>
        <defaultConnector>
            <targetReference>asn_setSuccessFlags</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_wasB2CCustomerListSpecifiedInContactToResolveTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_areContactB2CCustomerListsAligned</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a ContactID was provided and can be used to validate the specified Contact record.</description>
        <name>dec_wasContactIDProvided</name>
        <label>Was a ContactID Provided?</label>
        <locationX>361</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorRecordGet_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Provided</defaultConnectorLabel>
        <rules>
            <name>dec_wasContactIDProvidedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BypassContactID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_ContactByContactID</targetReference>
            </connector>
            <label>Was Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a valid Contact record was verified.</description>
        <name>dec_wasContactVerified</name>
        <label>Was the Contact Verified?</label>
        <locationX>362</locationX>
        <locationY>913</locationY>
        <defaultConnector>
            <targetReference>asn_unableToVerifyContactErrorRecordGet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Verified</defaultConnectorLabel>
        <rules>
            <name>dec_wasContactVerifiedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>verifiedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_doesContactHaveParentAccount</targetReference>
            </connector>
            <label>Was Verified</label>
        </rules>
    </decisions>
    <description>... this subFlow attempts to verify a Contact record using the key identifiers that drive record-based resolution.</description>
    <interviewLabel>B2C Commerce: Process: Contact: Verify Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact: Verify Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the parentAccount for the specified Contact.</description>
        <name>recGet_Account</name>
        <label>Retrieve the Parent Account</label>
        <locationX>371</locationX>
        <locationY>1438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasAccountSpecifiedInContactToResolve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>AccountSource</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C CustomerList for the specified Contact.</description>
        <name>recGet_B2CCustomerList</name>
        <label>Retrieve the B2C CustomerList</label>
        <locationX>373</locationX>
        <locationY>2346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasB2CCustomerListSpecifiedInContactToResolve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedContact.B2C_CustomerList__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the Contact record using one of the identifiers provided.</description>
        <name>recGet_ContactByContactID</name>
        <label>Retrieve the Contact by ContactID</label>
        <locationX>370</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_verifiedContactContactID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>asn_auditContactFaultByContactID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sourceContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>243</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>dec_wasContactIDProvided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... internal flag used to bypass the ContactID validation.</description>
        <name>BypassContactID</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of errors caught during flow processing.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>... describes if an error was caught during flow processing.</description>
        <name>hasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... describes if a ContactID or a B2C CustomerID was provided.</description>
        <name>hasIdentifiers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... describes if the Contact specified was verified.</description>
        <name>isVerfied</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the parentAccount for a given Contact record.</description>
        <name>parentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList associated to a given Contact record.</description>
        <name>parentB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the Contact record to verify / validate.</description>
        <name>sourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the retrieved Contact record via the identifier(s) provided.</description>
        <name>verifiedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
