src/sfdc/force-app/main/default/flows/B2CCommerce_Process_ContactPropertiesHelper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>... assign the disable integration flag value to the sourceContact.</description>
        <name>asn_b2cDisableIntegrationFlag</name>
        <label>Assign the Disable Integration Flag</label>
        <locationX>264</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>var_sourceContact.B2C_Disable_Integration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_resolvedContact.B2C_Disable_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasAuditIntegrationRequestsIncludedinthesourceContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the Audit Integration Response Flag to the sourceContact.</description>
        <name>asn_sourceContactAuditIntegrationResponseFlag</name>
        <label>Assign the Audit Integration Response Flag</label>
        <locationX>308</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>var_sourceContact.Audit_OCAPI_API_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_resolvedContact.Audit_OCAPI_API_Response__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the B2C Customer ID to the sourceContact.</description>
        <name>asn_sourceContactB2CCustomerID</name>
        <label>Assign the B2C Customer ID</label>
        <locationX>264</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>var_sourceContact.B2C_Customer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_resolvedContact.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasDisableIntegrationAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C CustomerList to the sourceContact.</description>
        <name>asn_sourceContactB2CCustomerList</name>
        <label>Assign the B2C CustomerList</label>
        <locationX>264</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>var_sourceContact.B2C_CustomerList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_resolvedContact.B2C_CustomerList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CCustomerNoIncludedinthesourceContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C CustomerList to the sourceContact.</description>
        <name>asn_sourceContactB2CCustomerList_0</name>
        <label>Assign the B2C CustomerList</label>
        <locationX>264</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>var_sourceContact.B2C_Customer_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_resolvedContact.B2C_Customer_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CCustomerIDIncludedinthesourceContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C CustomerList ID to the sourceContact.</description>
        <name>asn_sourceContactB2CCustomerListID</name>
        <label>Assign the B2C CustomerList ID</label>
        <locationX>264</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>var_sourceContact.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_resolvedContact.B2C_CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CCustomerListIncludedinthesourceContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the ContactID to the sourceContact.</description>
        <name>asn_sourceContactContactID</name>
        <label>Assign the ContactID</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_sourceContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_resolvedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CCustomerListIDIncludedinthesourceContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluates if the Audit Integration Requests flag was included in the sourceContact.  If not, then set the flag using the resolvedContact properties.</description>
        <name>dec_wasAuditIntegrationRequestsIncludedinthesourceContact</name>
        <label>Was an Audit Integration Requests Flag Included in the sourceContact?</label>
        <locationX>176</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>asn_sourceContactAuditIntegrationResponseFlag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Included</defaultConnectorLabel>
        <rules>
            <name>decOut_AuditIntegrationRequestsWasIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sourceContact.Audit_OCAPI_API_Response__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Was Included</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a B2C Customer ID was included in the sourceContact.  If not, then set the B2C Customer ID using the resolvedContact properties.</description>
        <name>dec_wasB2CCustomerIDIncludedinthesourceContact</name>
        <label>Was an B2C Customer ID Included in the sourceContact?</label>
        <locationX>176</locationX>
        <locationY>1502</locationY>
        <defaultConnector>
            <targetReference>asn_sourceContactB2CCustomerID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Included</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerIDWasIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sourceContact.B2C_Customer_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_wasDisableIntegrationAssigned</targetReference>
            </connector>
            <label>Was Included</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a B2C CustomerList ID was included in the sourceContact.  If not, then set the B2C CustomerList ID using the resolvedContact properties.</description>
        <name>dec_wasB2CCustomerListIDIncludedinthesourceContact</name>
        <label>Was an B2C CustomerList ID Included in the sourceContact?</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>asn_sourceContactB2CCustomerListID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Included</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerListIDWasIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sourceContact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_wasB2CCustomerListIncludedinthesourceContact</targetReference>
            </connector>
            <label>Was Included</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a B2C CustomerList was included in the sourceContact.  If not, then set the B2C CustomerList using the resolvedContact properties.</description>
        <name>dec_wasB2CCustomerListIncludedinthesourceContact</name>
        <label>Was an B2C CustomerList Included in the sourceContact?</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>asn_sourceContactB2CCustomerList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Included</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerListWasIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sourceContact.B2C_CustomerList__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_wasB2CCustomerNoIncludedinthesourceContact</targetReference>
            </connector>
            <label>Was Included</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a B2C Customer No was included in the sourceContact.  If not, then set the B2C Customer NO using the resolvedContact properties.</description>
        <name>dec_wasB2CCustomerNoIncludedinthesourceContact</name>
        <label>Was an B2C Customer No Included in the sourceContact?</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>asn_sourceContactB2CCustomerList_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Included</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CCustomerNoWasIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sourceContact.B2C_Customer_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_wasB2CCustomerIDIncludedinthesourceContact</targetReference>
            </connector>
            <label>Was Included</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a ContactID was included in the sourceContact.  If not, then set the ContactID using the resolvedContact properties.</description>
        <name>dec_wasContactIDincludedinthesourceContact</name>
        <label>Was a ContactID Included in the sourceContact?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>asn_sourceContactContactID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Included</defaultConnectorLabel>
        <rules>
            <name>decOut_ContactIDWasIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sourceContact.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_sourceContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_wasB2CCustomerListIDIncludedinthesourceContact</targetReference>
            </connector>
            <label>Was Included</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the disable integration flag was assigned to the sourceContact.</description>
        <name>dec_wasDisableIntegrationAssigned</name>
        <label>Was the Disable Integration Flag Assigned?</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>asn_b2cDisableIntegrationFlag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Included</defaultConnectorLabel>
        <rules>
            <name>decOut_disableIntegrationFlagWasAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sourceContact.B2C_Disable_Integration__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_wasAuditIntegrationRequestsIncludedinthesourceContact</targetReference>
            </connector>
            <label>Was Included</label>
        </rules>
    </decisions>
    <description>... this flow is used to set default Contact properties based on whether they were already set via a sourceContact.  If the properties are already set, they are not overridden (properties are only set if they don&apos;t exist on the sourceContact).</description>
    <interviewLabel>B2C Commerce: Process: Contact Properties Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact Properties Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_wasContactIDincludedinthesourceContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the resolvedContact that was resolved from the sourceContact.  This Contact contains all of the contact record properties vs. only the properties provided to b2c-crm-sync via the sourceContact.</description>
        <name>var_resolvedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the sourceContact provided to b2c-crm-sync.  Key attributes from the resolvedContact will be applied to the sourceContact to support processing completion.</description>
        <name>var_sourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
