src/sfdc/force-app/main/default/flows/B2CContactResolve.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>B2CCustomerResolution_Action</name>
        <label>B2CCustomerResolution Action</label>
        <locationX>1174</locationX>
        <locationY>501</locationY>
        <actionName>B2CIACustomerResolution</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isSuccess_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactListList</name>
            <value>
                <elementReference>ContactList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ContactListResolved</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>isSuccess_Assignment</name>
        <label>isSuccess Assignment</label>
        <locationX>1174</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Given a list of Contacts

When this Flow is ran, then several matching strategies will be tried and if a contact is matched, a list of matching or empty contacts will be returned.</description>
    <interviewLabel>B2C Commerce: Contact Resolution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Contact Resolution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1048</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>B2CCustomerResolution_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactListResolved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
