src/sfdc/force-app/main/default/flows/B2CCommerce_ContactAssignment_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>...assign the sourceContact&apos;s B2C CustomerID to the resolved contact.</description>
        <name>asn_b2cCustomerIDToAssignedContact</name>
        <label>Assign the B2C CustomerID</label>
        <locationX>204</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.B2C_Customer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_b2cCustomerListExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>...assign the sourceContact&apos;s B2C CustomerList ID to the resolved contact.</description>
        <name>asn_B2CCustomerListIDToAssignedContact</name>
        <label>Assign the B2C CustomerList ID</label>
        <locationX>204</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact.B2C_CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_b2cCustomerNoExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>...assign the sourceContact&apos;s B2C CustomerList Object association to the resolved contact.</description>
        <name>asn_B2CCustomerListToAssignedContact</name>
        <label>Assign the B2C CustomerList</label>
        <locationX>204</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.B2C_CustomerList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact.B2C_CustomerList__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_b2cCustomerListIDExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>...assign the sourceContact&apos;s B2C Customer No to the resolved contact.</description>
        <name>asn_B2CCustomerNoToAssignedContact</name>
        <label>Assign the B2C Customer No</label>
        <locationX>204</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.B2C_Customer_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact.B2C_Customer_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_EmailAddressExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the default Contact name value to the lastName of the assignedContact.</description>
        <name>asn_defaultContactName_0_0</name>
        <label>Assign the Default Contact Name</label>
        <locationX>204</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_defaultContactName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_IsRESTAPIAuditingEnabled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... flip the flag managing the assignment of the default Contact name value to the lastName of the assignedContact.</description>
        <name>asn_defaultContactName_AssignmentCListCNo</name>
        <label>Set the Default Contact Name Assignment Flag</label>
        <locationX>50</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>var_setDefaultContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_setDefaultContactName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... flip the flag managing the assignment of the default Contact name value to the lastName of the assignedContact.</description>
        <name>asn_defaultContactName_AssignmentEmail</name>
        <label>Set the Default Contact Name Assignment Flag</label>
        <locationX>50</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>var_setDefaultContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_areB2CCustomerListCustomerNoAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>...assign the sourceContact&apos;s emailAddress to the assigned contact.</description>
        <name>asn_EmailAddressToAssignedContact</name>
        <label>Assign the Email Address</label>
        <locationX>204</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CCustomerListEmailAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>...assign the sourceContact&apos;s firstName to the resolved contact.</description>
        <name>asn_FistnameToAssignedContact</name>
        <label>Assign the FirstName</label>
        <locationX>204</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_b2cCustomerIDExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>...assign the sourceContact&apos;s lastName to the resolved contact.</description>
        <name>asn_LastNameToAssignedContact</name>
        <label>Assign the LastName</label>
        <locationX>204</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_firstNameExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>...assign the sourceContact&apos;s REST API Audit Property to the assignedContact</description>
        <name>asn_RESTAPIAuditProperty</name>
        <label>Assign the REST API Audit Property</label>
        <locationX>204</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.Audit_OCAPI_API_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact.Audit_OCAPI_API_Response__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>...assign the sourceContact&apos;s REST API Audit Property to the assignedContact (defaulting to not-enabled)</description>
        <name>asn_RESTAPIAuditProperty_Default</name>
        <label>Do Not Enable REST API Auditing.</label>
        <locationX>468</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>assignedContact.Audit_OCAPI_API_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>... evaluates if the B2C Commerce CustomerList / CustomerNo were assigned -- in order to evaluate if a LastName exists on the Contact.</description>
        <name>dec_areB2CCustomerListCustomerNoAssigned</name>
        <label>ere the B2C CustomerList / CustomerNo Assigned?</label>
        <locationX>336</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>dec_setDefaultContactName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Were Not Assigned</defaultConnectorLabel>
        <rules>
            <name>decOut_customerListCustomerNoAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignedContact.B2C_CustomerList__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assignedContact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assignedContact.B2C_Customer_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_wasContactLastNameAssigned</targetReference>
            </connector>
            <label>Were Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... does the B2C CustomerID exist on the sourceContact</description>
        <name>dec_b2cCustomerIDExist</name>
        <label>Does the B2C CustomerID Exist?</label>
        <locationX>336</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>dec_b2cCustomerListExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cCustomerIDExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.B2C_Customer_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cCustomerIDToAssignedContact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... does the B2C CustomerList Object association exist on the sourceContact?</description>
        <name>dec_b2cCustomerListExist</name>
        <label>Does the B2C CustomerList Association Exist?</label>
        <locationX>336</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>dec_b2cCustomerListIDExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cCustomerListExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.B2C_CustomerList__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_B2CCustomerListToAssignedContact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... does the B2C CustomerListID exist on the sourceContact</description>
        <name>dec_b2cCustomerListIDExist</name>
        <label>Does the B2C CustomerListID Exist?</label>
        <locationX>336</locationX>
        <locationY>1502</locationY>
        <defaultConnector>
            <targetReference>dec_b2cCustomerNoExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cCustomerListIDExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_B2CCustomerListIDToAssignedContact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... does the B2C CustomerNo exist on the sourceContact</description>
        <name>dec_b2cCustomerNoExist</name>
        <label>Does the B2C CustomerNo Exist?</label>
        <locationX>336</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>dec_EmailAddressExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cCustomerNoExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.B2C_Customer_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_B2CCustomerNoToAssignedContact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... does the Email Address exist on the sourceContact</description>
        <name>dec_EmailAddressExist</name>
        <label>Does the Email Address Exist?</label>
        <locationX>336</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>dec_wasB2CCustomerListEmailAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_EmailAddressExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_EmailAddressToAssignedContact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... does the firstName exist on the sourceContact</description>
        <name>dec_firstNameExists</name>
        <label>Does FirstName Exist?</label>
        <locationX>336</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>dec_b2cCustomerIDExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_firstNameExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.FirstName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_FistnameToAssignedContact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... is REST API Auditing enabled for interactions with B2C Commerce</description>
        <name>dec_IsRESTAPIAuditingEnabled</name>
        <label>Is REST API Auditing Enabled?</label>
        <locationX>336</locationX>
        <locationY>3950</locationY>
        <defaultConnector>
            <targetReference>asn_RESTAPIAuditProperty_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Enabled</defaultConnectorLabel>
        <rules>
            <name>decOut_IsRESTAPIAuditingEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.Audit_OCAPI_API_Response__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_RESTAPIAuditProperty</targetReference>
            </connector>
            <label>Is Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... does the lastName exist on the sourceContact</description>
        <name>dec_lastNameExists</name>
        <label>Does LastName Exist?</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>dec_firstNameExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_lastNameExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_LastNameToAssignedContact</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if the default Contact name should be set -- based on the combination of attributes present on the assigned Contact.</description>
        <name>dec_setDefaultContactName</name>
        <label>Set the Default Contact Name?</label>
        <locationX>336</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <targetReference>dec_IsRESTAPIAuditingEnabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Set</defaultConnectorLabel>
        <rules>
            <name>decOut_setDefaultContactName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_setDefaultContactName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_defaultContactName_0_0</targetReference>
            </connector>
            <label>Set the Default</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a customerList and email address were assigned -- to determine if a default Contact name should be leveraged.</description>
        <name>dec_wasB2CCustomerListEmailAssigned</name>
        <label>Were a CustomerList / Email Assigned</label>
        <locationX>336</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>dec_areB2CCustomerListCustomerNoAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Were Not Assigned</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cCustomerListEmailAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignedContact.B2C_CustomerList__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assignedContact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assignedContact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_wasContactLastNameAssigned_Email</targetReference>
            </connector>
            <label>Were Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a Contact LastName was assigned -- to determine if the default Contact Name should be used.</description>
        <name>dec_wasContactLastNameAssigned</name>
        <label>Was a LastName Assigned?</label>
        <locationX>182</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>dec_setDefaultContactName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Assigned</defaultConnectorLabel>
        <rules>
            <name>decOut_contactLastNameWasNotAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignedContact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_defaultContactName_AssignmentCListCNo</targetReference>
            </connector>
            <label>Was Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a Contact LastName was assigned -- to determine if the default Contact Name should be used.</description>
        <name>dec_wasContactLastNameAssigned_Email</name>
        <label>Was a LastName Assigned?</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>dec_areB2CCustomerListCustomerNoAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Assigned</defaultConnectorLabel>
        <rules>
            <name>decOut_contactLastNameWasNotAssigned_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignedContact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_defaultContactName_AssignmentEmail</targetReference>
            </connector>
            <label>Was Not Assigned</label>
        </rules>
    </decisions>
    <description>... this flow is used to abstract the incremental assignment of sourceContact attributes to a resolved Contact for future processing.</description>
    <interviewLabel>B2C Commerce: Contact Assignment Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Assignment Helper: Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_lastNameExists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the Contact with assigned variables.</description>
        <name>assignedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the source Contact to process.</description>
        <name>sourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the default Name to use for a Contact is one is not assigned or provided.</description>
        <name>var_defaultContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... internal flag used to control whether the defaultContact name should be set for a given Contact.</description>
        <name>var_setDefaultContactName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
