src/sfdc/force-app/main/default/flows/B2CCommerce_Trigger_UpdateB2CInstanceTotals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>... assign the total count of B2C CustomerLists for the parent Instance to a local variable.</description>
        <name>asn_B2CCustomerListRecordCountInstance</name>
        <label>Assign the B2C CustomerList Recordcount for the Instance</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>varB2CInstanceCustomerListCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recGet_B2CInstanceB2CCustomerLists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recUpd_B2CCustomerListTotalSites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the total count of B2C Sites for the parent CustomerList to a local variable.</description>
        <name>asn_B2CSitesRecordCountCustomerList</name>
        <label>Assign the B2C Sites Recordcount for the CustomerList</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>varB2CCustomerListSiteCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recGet_B2CCustomerListB2CSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_B2CSitesRecordCountInstance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the total count of B2C Sites for the parent Instance to a local variable.</description>
        <name>asn_B2CSitesRecordCountInstance</name>
        <label>Assign the B2C Sites Recordcount for the Instance</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>varB2CInstanceSiteCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recGet_B2CInstanceB2CSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_B2CCustomerListRecordCountInstance</targetReference>
        </connector>
    </assignments>
    <description>... this flow calculates the total siteCount and customerListCount for a given parent B2C CustomerList and its parent B2C Instance when updates are made to child sites.</description>
    <interviewLabel>B2C Commerce: Trigger: Update B2C Instance Totals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Trigger: Update B2C Instance Totals: Sites</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the collection of B2C Sites associated to the parent B2C CustomerList (establishing the total recordCount).</description>
        <name>recGet_B2CCustomerListB2CSites</name>
        <label>Get the Count of B2C Sites for the CustomerList</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_B2CInstanceB2CSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_List__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the collection of B2C CustomerLists associated to the parent B2C Instance (establishing the total recordCount).</description>
        <name>recGet_B2CInstanceB2CCustomerLists</name>
        <label>Get the Count of B2C CustomerLists for the Instance</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_B2CSitesRecordCountCustomerList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.B2C_Instance_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the collection of B2C Sites associated to the parent B2C Instance (establishing the total recordCount).</description>
        <name>recGet_B2CInstanceB2CSites</name>
        <label>Get the Count of B2C Sites for the Instance</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_B2CInstanceB2CCustomerLists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.B2C_Instance_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>... update the totalSites count for the parent B2C CustomerList based on the calculation that was performed.</description>
        <name>recUpd_B2CCustomerListTotalSites</name>
        <label>Update Total B2C CustomerList Sites RecordCount</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>recUpd_B2CInstancetTotalSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_List__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Sites__c</field>
            <value>
                <elementReference>varB2CCustomerListSiteCount</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_CustomerList__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... update the totalSites count for the parent B2C Instance based on the calculation that was performed.</description>
        <name>recUpd_B2CInstancetTotalSites</name>
        <label>Update Total B2C Instance Sites RecordCount</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.B2C_Instance_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_CustomerLists__c</field>
            <value>
                <elementReference>varB2CInstanceCustomerListCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Sites__c</field>
            <value>
                <elementReference>varB2CInstanceSiteCount</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Instance__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recGet_B2CCustomerListB2CSites</targetReference>
        </connector>
        <object>B2C_Site__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the count of B2C Commerce Sites for a given B2C CustomerList.</description>
        <name>varB2CCustomerListSiteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>... represents the count of B2C CustomerLists for the parent B2C Instance.</description>
        <name>varB2CInstanceCustomerListCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>... represents the count of Sites for the entire B2C Instance.</description>
        <name>varB2CInstanceSiteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
