src/sfdc/force-app/main/default/flows/B2CCommerce_QuickAction_DisableIntegrationStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>... updates the key properties on the record selected which disables integration with B2C Commerce.</description>
        <name>asn_disableB2CCommerceIntegrationStatus</name>
        <label>Disable Integration Status Assignment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recGet_Contact.B2C_Disable_Integration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recGet_Contact.Updated_by_B2C_Platform_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recUpd_ContactDetails</targetReference>
        </connector>
    </assignments>
    <description>... this flow is used to disable / prevent a Contact record from interacting with B2C Commerce REST APIs.</description>
    <interviewLabel>B2C Commerce: Quick Action: Disable Integration Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: Integration Status Disable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieves an instance of the Contact from which this flow was launched.</description>
        <name>recGet_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_disableB2CCommerceIntegrationStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>... updates the Contact Details based on the assignments made previously in the flow.</description>
        <name>recUpd_ContactDetails</name>
        <label>Update Contact Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>screen_B2CCommerceResetIntegrationStatus</targetReference>
        </connector>
        <inputReference>recGet_Contact</inputReference>
    </recordUpdates>
    <screens>
        <description>... this screen is used to alert the user that the integration state / status for this Contact has been reset.</description>
        <name>screen_B2CCommerceResetIntegrationStatus</name>
        <label>B2C Commerce Integration Status is Reset</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_B2CRestAPIIntegrationDisabled</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;REST API Integration with B2C Commerce has been Disabled&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The B2C Commerce integration status for this Contact has been disabled -- and this Contact is no longer able to interact with B2C Commerce REST APIs.  The following Contact properties were updated to enable this feature:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>recGet_Contact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>recGet_Contact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>informalName</name>
                <value>
                    <elementReference>recGet_Contact.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lbl_contactId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId</elementReference>
            </defaultValue>
            <fieldText>Contact ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_disableB2CCommerceIntegration</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>recGet_Contact.B2C_Disable_Integration__c</elementReference>
            </defaultValue>
            <fieldText>Disable B2C Commerce Integration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_bypassB2CCommercePlatformEvent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>recGet_Contact.Updated_by_B2C_Platform_Event__c</elementReference>
            </defaultValue>
            <fieldText>Bypass B2C Commerce Platform Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_disableInstructions</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note that unchecking the &lt;b&gt;Disable B2C Commerce Integration&lt;/b&gt; property can be used to re-enable B2C Commerce REST API interactions for this Contact.  &lt;b&gt;Bypass B2C Commerce Platform Event &lt;/b&gt;is an internal property used to prevent circular updates between B2C Commerce and the Salesforce Platform.  It must be unchecked to enable the publishing of Contact updates to B2C Commerce. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recGet_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the recordId of the Contact Record being processed.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
