src/sfdc/force-app/main/default/flows/B2CCommerce_Process_Contact_HelperServiceEntry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>... assign working variables that will be used by a calling flow.</description>
        <name>asn_assignOutputValuesNoResults</name>
        <label>Assign the Output Values</label>
        <locationX>820</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContactCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... call-out that an error occurred / was caught during the resolution process.</description>
        <name>asn_errorOccuredDuringResoluion</name>
        <label>Error Occurred During Resolution</label>
        <locationX>548</locationX>
        <locationY>1817</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sub_contactResolution.var_errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactToResolve</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContactCount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... alert the user that resolution is disabled for the specified Contact.</description>
        <name>asn_errorResolutionDisabled</name>
        <label>Error: Resolution Is Disabled</label>
        <locationX>1084</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sub_allowIntegrationHelper.var_errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Integration for this combination of parameters is disabled.  Please check the environment configuration and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... expose the multipleResults to the output.</description>
        <name>asn_exposeMultipleResults</name>
        <label>Expose the Multiple Results</label>
        <locationX>1076</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>ResolvedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContactCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CanWeResolveThisContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign a local variable representing the B2C CustomerList and contactToResolve used to validate integration properties.</description>
        <name>asn_localWorkingVariables</name>
        <label>Assign Local Working Variables</label>
        <locationX>818</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>b2cCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactToResolve</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.contactToResolve</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sub_allowIntegrationHelper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... pass the argument error forward and return it to the caller.</description>
        <name>asn_outputArgumentError</name>
        <label>Output the Error Message</label>
        <locationX>1079</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the contactResolution output variables</description>
        <name>asn_outputVariablesSingle</name>
        <label>Assign the Output Variables</label>
        <locationX>1074</locationX>
        <locationY>2528</locationY>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shortenedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContactCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... shorten the contact to include a subset of the overall resolved attributes.</description>
        <name>asn_shortenContact</name>
        <label>Shorten the Contact</label>
        <locationX>1074</locationX>
        <locationY>2281</locationY>
        <assignmentItems>
            <assignToReference>shortenedContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_CustomerList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_CustomerList__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Customer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Customer_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_Customer_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Disable_Integration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_Disable_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Date_Last_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_Date_Last_Modified__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_outputVariablesSingle</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if we can allow resolution for the specified Contact.</description>
        <name>dec_allowResolutionForContact</name>
        <label>Allow Resolution for this Contact?</label>
        <locationX>810</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>asn_errorResolutionDisabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Allow</defaultConnectorLabel>
        <rules>
            <name>dec_allowResolutionForContactTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_allowIntegrationHelper.out_allowIntegrationProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_contactResolution</targetReference>
            </connector>
            <label>Allow</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if we can resolve the Contact record using the identifiers provided.</description>
        <name>dec_CanWeResolveThisContact</name>
        <label>Was a Contact Resolved?</label>
        <locationX>813</locationX>
        <locationY>1818</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_CanWeResolveThisContactError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_contactResolution.var_isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sub_contactResolution.var_errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_errorOccuredDuringResoluion</targetReference>
            </connector>
            <label>Resolution Error</label>
        </rules>
        <rules>
            <name>dec_CanWeResolveThisContactNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_contactResolution.var_resolvedContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_assignOutputValuesNoResults</targetReference>
            </connector>
            <label>Not Resolved</label>
        </rules>
        <rules>
            <name>dec_CanWeResolveThisContactSingle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_contactResolution.var_resolvedContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_Account</targetReference>
            </connector>
            <label>Resolved Single</label>
        </rules>
        <rules>
            <name>dec_CanWeResolveThisContactMultiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_contactResolution.var_resolvedContactCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Resolved Multiple</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if an argumentError was caught.</description>
        <name>dec_hasArgumentError</name>
        <label>Was an Error Caught?</label>
        <locationX>809</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>asn_localWorkingVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>dec_hasArgumentErrorTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_evaluateContactArgument.hasError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_outputArgumentError</targetReference>
            </connector>
            <label>Has Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if all resolutionResults should be included in the output.</description>
        <name>dec_isReturnMultipleEnabled</name>
        <label>Is returnMultiple Enabled?</label>
        <locationX>812</locationX>
        <locationY>1553</locationY>
        <defaultConnector>
            <targetReference>dec_CanWeResolveThisContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Enabled</defaultConnectorLabel>
        <rules>
            <name>dec_isShowAllEnabledTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnMultiple</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_exposeMultipleResults</targetReference>
            </connector>
            <label>Is Enabled</label>
        </rules>
    </decisions>
    <description>... this flow acts as a serviceEntry for the Process and Resolve services -- consuming the same argument structure to provide data exposed by the processServices.</description>
    <interviewLabel>B2C Commerce: Process: Contact: Service Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact: Helper: Service Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the Parent Account to the resolvedContact.</description>
        <name>recGet_Account</name>
        <label>Retrieve the Parent Account</label>
        <locationX>1074</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_shortenContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>AccountSource</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>691</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>sub_evaluateContactArgument</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... evaluate the configuration of the specified CustomerList and sourceContact to determine if integration should be enabled.</description>
        <name>sub_allowIntegrationHelper</name>
        <label>Evaluate Integration Configuration</label>
        <locationX>818</locationX>
        <locationY>905</locationY>
        <connector>
            <targetReference>dec_allowResolutionForContact</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_AllowIntegrationHelper</flowName>
        <inputAssignments>
            <name>rec_b2cCustomerList</name>
            <value>
                <elementReference>b2cCustomerList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_processMode</name>
            <value>
                <elementReference>processMode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_sourceContact</name>
            <value>
                <elementReference>contactToResolve</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... attempt to resolve the Contact against the collection of Contacts in this Salesforce Org.</description>
        <name>sub_contactResolution</name>
        <label>Attempt Contact Resolution</label>
        <locationX>820</locationX>
        <locationY>1372</locationY>
        <connector>
            <targetReference>dec_isReturnMultipleEnabled</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_ContactResolutionHelper</flowName>
        <inputAssignments>
            <name>var_contactToResolve</name>
            <value>
                <elementReference>contactToResolve</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... attempt to evaluate and verify the Contact argument.</description>
        <name>sub_evaluateContactArgument</name>
        <label>Evaluate the Contact Argument</label>
        <locationX>817</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>dec_hasArgumentError</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_Contact_EvaluateContactArgument</flowName>
        <inputAssignments>
            <name>sourceContact</name>
            <value>
                <elementReference>sourceContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerID</name>
            <value>
                <elementReference>var_qaB2CCustomerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerListID</name>
            <value>
                <elementReference>var_qaB2CCustomerListID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerNo</name>
            <value>
                <elementReference>var_qaB2CCustomerNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaEmailAddress</name>
            <value>
                <elementReference>var_qaEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaFirstName</name>
            <value>
                <elementReference>var_qaFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaLastName</name>
            <value>
                <elementReference>var_qaLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaMode</name>
            <value>
                <elementReference>var_qaMode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>... represents the parentAccount to a resolvedContact.</description>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList that will be used to validate the integration configuration.</description>
        <name>b2cCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents a resolved Contact record.</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the Contact record to be resolved and processed.</description>
        <name>contactToResolve</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... used to collect any error messages caught during processing of this flow.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>... describes if resolution was successful (true = resolution was successful, false = resolution failed).</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents a copy fo the sourceContact -- as the sourceContact is modified when going through the resolution process.</description>
        <name>originalContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the parentAccount record for the specified Contact.</description>
        <name>parentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the parent B2C CustomerList for the resolved Contact record.</description>
        <name>parentB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... describes the processMode to employ for the current service.</description>
        <name>processMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>resolve</stringValue>
        </value>
    </variables>
    <variables>
        <description>... represents the count of Contacts that were resolved.</description>
        <name>ResolutionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of Contacts that were resolved prior to filtering.</description>
        <name>ResolvedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... this flag manages if all matched results should be included -- or if just incremental results should be included</description>
        <name>returnMultiple</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents a sub-set of Contact attributes to expose representing the resolvedContact.</description>
        <name>shortenedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the sourceContact definition that will be used to resolve customerProfiles.</description>
        <name>sourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the B2C Commerce customerId representing a customerProfile.  This QA variable is used to manually set this contactProperty without defining the contactObject in debug / QA mode.</description>
        <name>var_qaB2CCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList ID used to test the B2C Contact Resolve flow.</description>
        <name>var_qaB2CCustomerListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerNo the be used to resolve the Contact within the flow.</description>
        <name>var_qaB2CCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the emailAddress used to test the B2CContactProcess sub-flow.</description>
        <name>var_qaEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the firstName of the customerProfile to be resolved -- and used to override the existing contact record.</description>
        <name>var_qaFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... placeholder variable for the contact&apos;s lastName; used to test the contact resolve flow.</description>
        <name>var_qaLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes if the current flow is operating in QAMode (when checked).  Used to override the contactObject with the individual contact attributes labeled with the QA prefix.</description>
        <name>var_qaMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents a Contact record retrieved using one of the customerProfile identifiers.</description>
        <name>verifiedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
