src/sfdc/force-app/main/default/flows/B2CCommerce_Auth_GetAuthToken.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... attempt to request a B2C AuthToken from the B2C Commerce Account Manager configuration.</description>
        <name>ia_requestB2CAuthToken</name>
        <label>Request a B2C AuthToken</label>
        <locationX>304</locationX>
        <locationY>1367</locationY>
        <actionName>B2CIARequestB2CAuthToken</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_wasValidAuthTokenRetrieved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>auditAuthenticationAPIInteractions</name>
            <value>
                <elementReference>varB2CClientID.Audit_Authentication_API_Interactions__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cClientId</name>
            <value>
                <elementReference>varB2CClientID.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>varB2CClientID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jwtCertificate</name>
            <value>
                <elementReference>varB2CClientID.JWT_Certificate_Name__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>... capture an error explaining that the AuthToken was not successfully retrieved from the B2C Commerce Account Manager.</description>
        <name>asn_couldNotRetrieveAuthToken</name>
        <label>Create the AuthToken Validation Error</label>
        <locationX>15</locationX>
        <locationY>1594</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Could not retrieve an AuthToken from the B2C Commerce Account Manager instance.  Please enable auditing on the B2C Client ID for additional details.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... capture an error explaining that the B2C Client ID could not be verified as active and existing.</description>
        <name>asn_couldNotVerifyB2CClientID</name>
        <label>Create the B2C Client ID Validation Error</label>
        <locationX>50</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Could not verify the existence of the B2C Client ID.  Please check the key provided -- and ensure that the B2C Client ID is active.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... expose the verified / valid B2C AuthToken and its expirationDate to the caller.</description>
        <name>asn_setOutputValues</name>
        <label>Expose the Valid B2C AuthToken</label>
        <locationX>724</locationX>
        <locationY>1102</locationY>
        <assignmentItems>
            <assignToReference>B2CAuthToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ValidAuthToken.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... expose the verified / valid B2C AuthToken and its expirationDate to the caller.</description>
        <name>asn_setOutputValues_RetrieveSuccess</name>
        <label>Expose the Valid B2C AuthToken</label>
        <locationX>717</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>B2CAuthToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ia_requestB2CAuthToken.accessToken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the Client ID</description>
        <name>asn_varB2CClientID</name>
        <label>Assign the varB2CClientID</label>
        <locationX>543</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>varB2CClientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CClientID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CClientIDFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the Client ID</description>
        <name>asn_varB2CClientIDCID</name>
        <label>Assign the varB2CClientID</label>
        <locationX>304</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varB2CClientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CClientIDByCID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CClientIDFound</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if a B2C Client ID was retrieved</description>
        <name>dec_wasB2CClientIDFound</name>
        <label>Was a valid B2C Client ID Found?</label>
        <locationX>296</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>asn_couldNotVerifyB2CClientID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>dec_wasB2CClientIDFound_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB2CClientID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_ValidAuthToken</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a recordID was provided -- and if so, retrieve the B2C Client ID.</description>
        <name>dec_wasRecordIDProvided</name>
        <label>Was a Record ID Provided?</label>
        <locationX>534</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>recGet_B2CClientIDByCID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Provided</defaultConnectorLabel>
        <rules>
            <name>dec_wasRecordIDProvidedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_B2CClientID</targetReference>
            </connector>
            <label>Was Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a valid authToken was found -- or, does an authToken need to be requested.</description>
        <name>dec_wasValidAuthTokenFound</name>
        <label>Was a Valid AuthToken Found?</label>
        <locationX>296</locationX>
        <locationY>1102</locationY>
        <defaultConnector>
            <targetReference>ia_requestB2CAuthToken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Found</defaultConnectorLabel>
        <rules>
            <name>Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_ValidAuthToken</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recUpd_incrementAuthTokenUsage</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a valid authToken was retrieved -- or if exceptions were processed.</description>
        <name>dec_wasValidAuthTokenRetrieved</name>
        <label>Was a Valid AuthToken Retrieved?</label>
        <locationX>296</locationX>
        <locationY>1594</locationY>
        <defaultConnector>
            <targetReference>asn_couldNotRetrieveAuthToken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Retrieved</defaultConnectorLabel>
        <rules>
            <name>Was_Fadec_wasValidAuthTokenRetrieved_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_requestB2CAuthToken.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ia_requestB2CAuthToken.statusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ia_requestB2CAuthToken.accessToken</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_setOutputValues_RetrieveSuccess</targetReference>
            </connector>
            <label>Was Retrieved</label>
        </rules>
    </decisions>
    <description>... this flow is used to retrieve / request a REST API AuthToken from B2C Commerce&apos;s Account Manager for a given NamedCredential and B2C ClientID combination.</description>
    <formulas>
        <description>... increment the usageCount for the validated B2C AuthToken by one.</description>
        <name>frmIncrementUsageCount</name>
        <dataType>Number</dataType>
        <expression>IF({!recGet_ValidAuthToken.Total_Usage__c} = 0, 1, ({!recGet_ValidAuthToken.Total_Usage__c} + 1))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>B2C Commerce: Auth: Get AuthToken {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: B2C Client ID: Account Manager AuthToken: Get</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the B2C Client ID</description>
        <name>recGet_B2CClientID</name>
        <label>Retrieve the B2C Client ID</label>
        <locationX>543</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_varB2CClientID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_Client_ID__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C Client ID by the CID (Client ID) value.</description>
        <name>recGet_B2CClientIDByCID</name>
        <label>Retrieve the B2C Client ID by CID</label>
        <locationX>304</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_varB2CClientIDCID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>B2CClientID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_Client_ID__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... attempt to retrieve a valid B2C Commerce / Account Manager AuthToken for the NamedCredential / B2C ClientID combination.</description>
        <name>recGet_ValidAuthToken</name>
        <label>Retrieve the First Valid AuthToken</label>
        <locationX>304</locationX>
        <locationY>897</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasValidAuthTokenFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>B2C_Client_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varB2CClientID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_AuthToken__c</object>
        <sortField>Expiration_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>... increment the usageCount for the B2C AuthToken by one.</description>
        <name>recUpd_incrementAuthTokenUsage</name>
        <label>Increment the Usage Count</label>
        <locationX>541</locationX>
        <locationY>1101</locationY>
        <connector>
            <targetReference>asn_setOutputValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_ValidAuthToken.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Usage__c</field>
            <value>
                <elementReference>frmIncrementUsageCount</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_AuthToken__c</object>
    </recordUpdates>
    <start>
        <locationX>416</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>dec_wasRecordIDProvided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the valid B2C AuthToken retrieved for the NamedCredential / B2C ClientID combination.</description>
        <name>B2CAuthToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C ClientID used to retrieve a B2C Commerce REST API AuthToken via Account Manager.</description>
        <name>B2CClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... used to capture any error message(s) experienced during authToken retrieval</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>... describes if the authToken process was successful or failed</description>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the recordId of the B2C Client ID for which an authToken is being retrieved.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the retrieved B2C Client ID</description>
        <name>varB2CClientID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Client_ID__c</objectType>
    </variables>
</Flow>
