src/sfdc/force-app/main/default/flows/B2CInstanceSetup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... retrieves the CustomerLists and Sites for the selected B2C Instance.</description>
        <name>ia_getCustomerListsAndSites</name>
        <label>Get B2C Instance CustomerLists and Sites</label>
        <locationX>787</locationX>
        <locationY>1286</locationY>
        <actionName>B2CIAGetCustomerListsSites</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>recUpd_B2CInstanceAuditRequest</targetReference>
        </connector>
        <inputParameters>
            <name>b2cInstanceId</name>
            <value>
                <elementReference>recGet_getB2CInstance.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namedCredential</name>
            <value>
                <elementReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OCAPIVersion</name>
            <value>
                <elementReference>recGet_getB2CInstance.OCAPI_Version_No__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>... alert the user that the B2C Instance is missing the OCAPI Version Number and NamedCredential properties.</description>
        <name>asn_b2cInstanceMissingVersionNoNamedCredentials</name>
        <label>Set the Error Message</label>
        <locationX>234</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>The B2C Instance is missing the OCAPI VersionNo and NamedCredential properties.  Please set these values and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... alert the caller that the namedCredential associated to the identified B2C Instance was not found.</description>
        <name>asn_b2cInstanceNamedCredentailNotFound</name>
        <label>Assign the NamedCredential Error Message</label>
        <locationX>235</locationX>
        <locationY>1282</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>The assigned namedCredential could not be verified in the Salesforce Org.  Please check this association and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the B2C Instance that was retrieved to the output variable.</description>
        <name>asn_b2CInstanceOutput</name>
        <label>Assign the B2C Instance to the Output Variable</label>
        <locationX>524</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>b2cInstance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_getB2CInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CInstanceFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C Instance that was retrieved to the output variable.</description>
        <name>asn_b2CInstanceOutput_Update</name>
        <label>Assign the B2C Instance to the Output Variable</label>
        <locationX>1297</locationX>
        <locationY>2736</locationY>
        <assignmentItems>
            <assignToReference>b2cInstance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_outB2CInstance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdB2CSites</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateB2CSites.CreateSiteList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedB2CSites</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateB2CSites.UpdateSiteList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdB2CCustomerLists</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateCustomerLists.CreateCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedB2CCustomerLists</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateCustomerLists.UpdateCustomerList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sub_activateB2CCustomerListsSites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... set the success message -- as all processing has succeeded.</description>
        <name>asn_b2cInstanceProcessingSuccess</name>
        <label>Set the Success Message</label>
        <locationX>855</locationX>
        <locationY>2736</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... alert the caller that CustomerLists and Sites associated to the B2C Instance could not be retrieved.</description>
        <name>asn_b2cInstanceUnableToRetrieveCustomerListsSites</name>
        <label>Set the CustomerList / Sites Retrieval Error Message</label>
        <locationX>475</locationX>
        <locationY>1681</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>An error occurred while attempting to retrieve associated B2C CustomerLists and Sites.  Please check the platform logs for details -- and try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ia_getCustomerListsAndSites.errorMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the retrieved B2C Sites to the evaluation list.</description>
        <name>asn_b2cSitesEvaluationList</name>
        <label>Add B2C Sites to the Evaluation List</label>
        <locationX>1294</locationX>
        <locationY>2329</locationY>
        <assignmentItems>
            <assignToReference>EvalSiteList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ia_getCustomerListsAndSites.b2cSiteList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sub_evaluateB2CSites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... call-out that the B2C Instance was not found.</description>
        <name>asn_errorMessageB2CInstanceNotFound</name>
        <label>Set the Error Message</label>
        <locationX>238</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No B2C Instance record was found matching the identifier(s) specified.  Please try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign the collection of customerLists to the evaluation variable.</description>
        <name>asn_evaluationCollectionCustomerList</name>
        <label>Set the Evaluation CustomerList Collection</label>
        <locationX>1073</locationX>
        <locationY>1887</locationY>
        <assignmentItems>
            <assignToReference>EvalCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ia_getCustomerListsAndSites.b2cCustomerListList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sub_evaluateCustomerLists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluates if the B2C Instance has all required fields.</description>
        <name>dec_doesB2CInstanceHaveRequiredFields</name>
        <label>Does the B2C Instance Have Required Fields</label>
        <locationX>517</locationX>
        <locationY>856</locationY>
        <defaultConnector>
            <targetReference>recGet_B2CInstanceNamedCredential</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required Fields are Present</defaultConnectorLabel>
        <rules>
            <name>decOut_B2CInstanceRequiredFieldsAreMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_getB2CInstance.OCAPI_Version_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cInstanceMissingVersionNoNamedCredentials</targetReference>
            </connector>
            <label>Required Fields are Missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>... this decision evaluates if the Named Credential associated to the B2C Instance was found.  If not, an error will be displayed to the user.</description>
        <name>dec_doesB2CInstanceNamedCredentialExist</name>
        <label>Does the Associated Named Credential Exist?</label>
        <locationX>518</locationX>
        <locationY>1285</locationY>
        <defaultConnector>
            <targetReference>ia_getCustomerListsAndSites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>The Named Credential Was Found</defaultConnectorLabel>
        <rules>
            <name>dec_namedCredentialDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_B2CInstanceNamedCredential.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cInstanceNamedCredentailNotFound</targetReference>
            </connector>
            <label>The Named Credential Was Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a B2C Instance record was found using the identifier(s) specified.</description>
        <name>dec_wasB2CInstanceFound</name>
        <label>Was a valid B2C Instance Retrieved?</label>
        <locationX>516</locationX>
        <locationY>621</locationY>
        <defaultConnector>
            <targetReference>asn_errorMessageB2CInstanceNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cInstanceWasFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>b2cInstance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_doesB2CInstanceHaveRequiredFields</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... this decision evaluates if the customerList and site response was successful.</description>
        <name>dec_wereCustomerListsSitesSuccessfullyRetrieved</name>
        <label>Were CustomerLists and Sites Successfully Retrieved?</label>
        <locationX>779</locationX>
        <locationY>1686</locationY>
        <defaultConnector>
            <targetReference>recGet_B2CInstanceCustomerLists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>The Request was Successful</defaultConnectorLabel>
        <rules>
            <name>dec_wasCustomerListSiteRESTAPIRequestSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getCustomerListsAndSites.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cInstanceUnableToRetrieveCustomerListsSites</targetReference>
            </connector>
            <label>An Error Caught in the REST Response</label>
        </rules>
    </decisions>
    <description>... automates the setup of a B2C Instance by auto-populating the associated B2C CustomerList and B2C Site definitions.</description>
    <interviewLabel>B2C Commerce: B2C Instance: Setup CustomerLists and Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: B2C Instance: Setup CustomerLists and Sites</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>... create the B2C CustomerLists that are missing / not already defined for the parent B2C Instance.</description>
        <name>recCre_b2cCustomerLists</name>
        <label>Create the Missing CustomerLists</label>
        <locationX>1298</locationX>
        <locationY>2108</locationY>
        <connector>
            <targetReference>recUpd_b2cCustomerLists</targetReference>
        </connector>
        <inputReference>sub_evaluateCustomerLists.CreateCustomerList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>... create the applicable B2C Site records for the current B2C Instance.</description>
        <name>recCre_b2cSites</name>
        <label>Create Applicable B2C Site Records</label>
        <locationX>1074</locationX>
        <locationY>2549</locationY>
        <connector>
            <targetReference>recUpd_b2cSiteRecords</targetReference>
        </connector>
        <inputReference>sub_evaluateB2CSites.CreateSiteList</inputReference>
    </recordCreates>
    <recordLookups>
        <description>... retrieve the B2C CustomerLists associated to the current instance.</description>
        <name>recGet_B2CInstanceCustomerLists</name>
        <label>Get the CustomerLists Associated to this Instance</label>
        <locationX>1073</locationX>
        <locationY>1684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_evaluationCollectionCustomerList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_getB2CInstance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieves the Named Credential associated to the B2C Instance.</description>
        <name>recGet_B2CInstanceNamedCredential</name>
        <label>Retrieve the B2C Instance Named Credential</label>
        <locationX>526</locationX>
        <locationY>1091</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_doesB2CInstanceNamedCredentialExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NamedCredential</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C Sites for the parent B2C Instance.</description>
        <name>recGet_b2cSites</name>
        <label>Retrieve the B2C Sites</label>
        <locationX>1488</locationX>
        <locationY>2329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_b2cSitesEvaluationList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_getB2CInstance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the active B2C Instance used to invoke this flow.</description>
        <name>recGet_getB2CInstance</name>
        <label>Get the B2C Instance</label>
        <locationX>524</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_b2CInstanceOutput</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>instanceName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the updated version of the B2C Instance -- taking into account the processing results.</description>
        <name>recGet_outB2CInstance</name>
        <label>Get the Updated B2C Instance</label>
        <locationX>1492</locationX>
        <locationY>2736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_b2CInstanceOutput_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_getB2CInstance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_Instance__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>API_Url__c</queriedFields>
        <queriedFields>Instance_Type__c</queriedFields>
        <queriedFields>Instance_Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Active__c</queriedFields>
        <queriedFields>Total_CustomerLists__c</queriedFields>
        <queriedFields>Total_Sites__c</queriedFields>
        <queriedFields>OCAPI_Version_No__c</queriedFields>
        <queriedFields>Named_Credential_Developer_Name__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>... update the B2C CustomerLists that are already defined for the parent B2C Instance.</description>
        <name>recUpd_b2cCustomerLists</name>
        <label>Update the Existing CustomerLists</label>
        <locationX>1488</locationX>
        <locationY>2108</locationY>
        <connector>
            <targetReference>recGet_b2cSites</targetReference>
        </connector>
        <inputReference>sub_evaluateCustomerLists.UpdateCustomerList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>... audits the request to retrieve Sites and CustomerLists back to the B2C Instance.</description>
        <name>recUpd_B2CInstanceAuditRequest</name>
        <label>Audit the Request to the B2C Instance</label>
        <locationX>787</locationX>
        <locationY>1488</locationY>
        <connector>
            <targetReference>dec_wereCustomerListsSitesSuccessfullyRetrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_getB2CInstance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Has_Error__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.isError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_JSON__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.responseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Last_Modified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Message__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status_Code__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.statusCode</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Instance__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... update the B2C Instance counts for B2C Sites and CustomerLists.</description>
        <name>recUpd_b2cInstanceCountsUpdate</name>
        <label>Update the B2C Instance Counts</label>
        <locationX>1492</locationX>
        <locationY>2549</locationY>
        <connector>
            <targetReference>recGet_outB2CInstance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_CustomerLists__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.totalCustomerListRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Sites__c</field>
            <value>
                <elementReference>ia_getCustomerListsAndSites.totalSiteRecords</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Instance__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... update the corresponding B2C Site records that are assigned to this B2C Instance.</description>
        <name>recUpd_b2cSiteRecords</name>
        <label>Update B2C Site Records</label>
        <locationX>1295</locationX>
        <locationY>2549</locationY>
        <connector>
            <targetReference>recUpd_b2cInstanceCountsUpdate</targetReference>
        </connector>
        <inputReference>sub_evaluateB2CSites.UpdateSiteList</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>398</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>recGet_getB2CInstance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... activate the B2C CustomerLists and Sites associated to the specified Instance.</description>
        <name>sub_activateB2CCustomerListsSites</name>
        <label>Activate CustomerLists and Sites</label>
        <locationX>1075</locationX>
        <locationY>2736</locationY>
        <connector>
            <targetReference>asn_b2cInstanceProcessingSuccess</targetReference>
        </connector>
        <flowName>B2CCommerce_B2CInstance_ActivateCustomerListsSites</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>b2cInstance.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... evaluate the collection of B2C Sites to determine which Sites to create and which to update.</description>
        <name>sub_evaluateB2CSites</name>
        <label>Evaluate B2C Sites</label>
        <locationX>1074</locationX>
        <locationY>2329</locationY>
        <connector>
            <targetReference>recCre_b2cSites</targetReference>
        </connector>
        <flowName>B2C_Commerce_Evaluate_Sites</flowName>
        <inputAssignments>
            <name>CurrentSiteList</name>
            <value>
                <elementReference>recGet_b2cSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvalSiteList</name>
            <value>
                <elementReference>EvalSiteList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NamedCredentialDeveloperName</name>
            <value>
                <elementReference>recGet_getB2CInstance.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... evaluate the collection of B2C CustomerLists to determine which require creation vs. updates.</description>
        <name>sub_evaluateCustomerLists</name>
        <label>Evaluate the B2C CustomerLists</label>
        <locationX>1073</locationX>
        <locationY>2108</locationY>
        <connector>
            <targetReference>recCre_b2cCustomerLists</targetReference>
        </connector>
        <flowName>B2C_Commerce_Evaluate_Customer_Lists</flowName>
        <inputAssignments>
            <name>CurrentCustomerList</name>
            <value>
                <elementReference>recGet_B2CInstanceCustomerLists</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EvalCustomerList</name>
            <value>
                <elementReference>EvalCustomerList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>... represents the retrieved B2C Instance record.</description>
        <name>b2cInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Instance__c</objectType>
    </variables>
    <variables>
        <description>... represents the collection of created B2C CustomerLists.</description>
        <name>createdB2CCustomerLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the collection of created B2C storefronts.</description>
        <name>createdB2CSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... used to capture any error messages displayed back to the caller describing the processing outcome.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EvalCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <name>EvalSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... represents the internal-name of the B2C Instance to process.</description>
        <name>instanceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the internal Id for the active B2C Instance.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents if the processing of the B2C Instance was successful.</description>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of updated B2C CustomerLists.</description>
        <name>updatedB2CCustomerLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the collection of updated B2C Sites.</description>
        <name>updatedB2CSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... represents the total number of customerLists associated to the B2C Instance that was processed.</description>
        <name>varB2CInstanceCustomerListRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>... represents the total number of Sites for the B2C Instance that was processed.</description>
        <name>varB2CInstanceSiteRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
