src/sfdc/force-app/main/default/flows/sub_contactResolutionHelper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... attempt to resolve the B2C Customer profile leveraging the Customer Resolution Invocable Action.</description>
        <name>ia_resolveB2CCustomerProfile</name>
        <label>Attempt to Resolve the B2C Customer Profile</label>
        <locationX>854</locationX>
        <locationY>709</locationY>
        <actionName>B2CIACustomerResolution</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ContactFilterMatches_Subflow</targetReference>
        </connector>
        <inputParameters>
            <name>contactList</name>
            <value>
                <elementReference>var_contactToResolve</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_recColResolvedContacts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>... add the Contact to resolve to the collection being processed.</description>
        <name>asn_contactToContactCollection</name>
        <label>Create the Resolution Collection</label>
        <locationX>854</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>var_recColContactsToResolve</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_contactToResolve</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ia_resolveB2CCustomerProfile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... overwrite the contactToResolve object definition.</description>
        <name>asn_contactToResolveOverwrite</name>
        <label>Overwrite the Contact to Resolve</label>
        <locationX>1200</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>var_contactToResolve</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_contactToContactCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... capture an error message indicating that multiple Contact records were resolved.</description>
        <name>asn_errorMultipleContacts</name>
        <label>Error: Multiple Contacts Resolved</label>
        <locationX>1114</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>var_errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple Contacts were resolved.  Please provide more precise resolution properties for the sourceContact -- and try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... no Contact was successfully resolved.</description>
        <name>asn_errorNoContactResolved</name>
        <label>Error: No Contact Was Resolved</label>
        <locationX>856</locationX>
        <locationY>2234</locationY>
        <assignmentItems>
            <assignToReference>var_isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Resolution has completed successfully, but no Contacts were resolved.  Please try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_resolvedContactCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... set the QA Contact Properties to facilitate testing.</description>
        <name>asn_qaContactProperties</name>
        <label>Create the QA Contact</label>
        <locationX>1200</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>var_qaContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_qaContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_qaContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_qaContact.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaB2CCustomerListID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_qaContact.B2C_Customer_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaB2CCustomerNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_qaContact.B2C_Customer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_qaB2CCustomerID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_contactToResolveOverwrite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... update the success flag to denote that resolution was successful; a single contact was resolved.</description>
        <name>asn_resolutionSuccessful</name>
        <label>Resolution Was Successful</label>
        <locationX>1324</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>var_isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_resolvedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_resolvedContact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... update the success flag to denote that resolution was successful; a single contact was resolved.</description>
        <name>asn_resolutionSuccessfulAlt</name>
        <label>Resolution Was Successful</label>
        <locationX>50</locationX>
        <locationY>2235</locationY>
        <assignmentItems>
            <assignToReference>var_isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_resolvedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ContactByDefaultLastEmailCList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_resolvedContactCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... capture the count of resolved Contacts driven by the Resolution action.</description>
        <name>asn_ResolvedContactsCount</name>
        <label>Capture the Count of Resolution Contacts</label>
        <locationX>852</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>var_resolvedContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactFilterMatches_Subflow.ContactMatchesResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasOneContactResolved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the resolved Contact to the output variable for processing.</description>
        <name>asn_resolvedContactToOutputVariable</name>
        <label>Assign First Resolved Contact</label>
        <locationX>1114</locationX>
        <locationY>1336</locationY>
        <assignmentItems>
            <assignToReference>var_resolvedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_retrieveResolvedContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_retrieveResolvedContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Contact_Filter</name>
        <label>Error: Contact Filter</label>
        <locationX>1108</locationX>
        <locationY>901</locationY>
        <assignmentItems>
            <assignToReference>var_errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There Was an Error in Filter Contacts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>... evaluate if a LastName, Email, and B2C CustomerList combination was provided WITHOUT identifiers.</description>
        <name>dec_areLastNameEmailAndB2CCustomerListProvided</name>
        <label>Are LastName, Email, and B2C CustomerList Provided?</label>
        <locationX>849</locationX>
        <locationY>1830</locationY>
        <defaultConnector>
            <targetReference>asn_errorNoContactResolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Provided</defaultConnectorLabel>
        <rules>
            <name>decOut_LastNameEmailCListWereProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contactToResolve.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_contactToResolve.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_contactToResolve.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_IdentifyDefaultConfiguration</targetReference>
            </connector>
            <label>Were Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the resolvedContact has an ID value.</description>
        <name>dec_doesResolvedContactHaveID</name>
        <label>Does the Contact Have an ID?</label>
        <locationX>849</locationX>
        <locationY>1597</locationY>
        <defaultConnector>
            <targetReference>dec_areLastNameEmailAndB2CCustomerListProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ContactID</defaultConnectorLabel>
        <rules>
            <name>decOut_hasContactID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_resolvedContact.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_resolvedContact</targetReference>
            </connector>
            <label>Has ContactID</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if QA Mode is enabled</description>
        <name>dec_isQAModeEnabled</name>
        <label>Is QA Mode Enabled?</label>
        <locationX>846</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>asn_contactToContactCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enabled</defaultConnectorLabel>
        <rules>
            <name>decOut_qaModeIsEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_qaContactProperties</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a Contact record was resolved leveraging the default LastName instead of the provided lastName.</description>
        <name>dec_wasDefaultLastNameRecordResolved</name>
        <label>Was a Record Resolved?</label>
        <locationX>441</locationX>
        <locationY>2237</locationY>
        <defaultConnector>
            <targetReference>asn_errorNoContactResolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Resolved</defaultConnectorLabel>
        <rules>
            <name>decOut_ContactResolvedByDefaultLastName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_ContactByDefaultLastEmailCList.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_resolutionSuccessfulAlt</targetReference>
            </connector>
            <label>Was Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a single Contact was resolved</description>
        <name>dec_wasOneContactResolved</name>
        <label>Was Only One Contact Resolved?</label>
        <locationX>846</locationX>
        <locationY>1172</locationY>
        <defaultConnectorLabel>No Contacts</defaultConnectorLabel>
        <rules>
            <name>decOut_singleContactWasResolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_resolvedContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_retrieveResolvedContact</targetReference>
            </connector>
            <label>Single Contact</label>
        </rules>
        <rules>
            <name>decOut_multipleContactsResolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_resolvedContactCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_errorMultipleContacts</targetReference>
            </connector>
            <label>Multiple Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_There_An_Error_In_Filtering</name>
        <label>Was There An Error In Filtering?</label>
        <locationX>841</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>asn_ResolvedContactsCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>There_Was_An_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactFilterMatches_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Contact_Filter</targetReference>
            </connector>
            <label>There Was An Error</label>
        </rules>
    </decisions>
    <description>... encapsulates the Contact Resolution logic for re-use and implementation simplification.</description>
    <interviewLabel>B2C Commerce: Process: Contact Resolution Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact Resolution Helper</label>
    <loops>
        <description>... iterate over the collection of resolved Contacts to retrieve the specific / resolved Contact Record.</description>
        <name>loop_retrieveResolvedContact</name>
        <label>Iterate and Retrieve the Resolved Contact</label>
        <locationX>856</locationX>
        <locationY>1336</locationY>
        <collectionReference>ContactFilterMatches_Subflow.ContactMatchesResult</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_resolvedContactToOutputVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_doesResolvedContactHaveID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... attempt to resolve the Contact by Default LastName, Email, and CustomerList</description>
        <name>recGet_ContactByDefaultLastEmailCList</name>
        <label>Attempt to Resolve Contact</label>
        <locationX>449</locationX>
        <locationY>2035</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasDefaultLastNameRecordResolved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactToResolve.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>B2C_CustomerList_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactToResolve.B2C_CustomerList_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_defaultConfiguration.Default_Contact_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the default production configuration for b2c-crm-sync.</description>
        <name>recGet_defaultConfiguration</name>
        <label>Retrieve the Default Configuration</label>
        <locationX>449</locationX>
        <locationY>1827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_ContactByDefaultLastEmailCList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_IdentifyDefaultConfiguration.Active_Configuration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRMSync_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... identify which collection of configuration settings represents the defaultConfiguration for b2c-crm-sync.</description>
        <name>recGet_IdentifyDefaultConfiguration</name>
        <label>Identify the Default Configuration</label>
        <locationX>642</locationX>
        <locationY>1827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_defaultConfiguration</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRM_Sync_Default_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the Contact and all of its properties for downstream use.</description>
        <name>recGet_resolvedContact</name>
        <label>Retrieve the Full Contact Details</label>
        <locationX>1120</locationX>
        <locationY>1596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_resolutionSuccessful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_resolvedContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>726</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>dec_isQAModeEnabled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ContactFilterMatches_Subflow</name>
        <label>ContactFilterMatches Subflow</label>
        <locationX>1001</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Was_There_An_Error_In_Filtering</targetReference>
        </connector>
        <flowName>B2C_Commerce_Contact_Filter_Matches</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>var_contactToResolve</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactMatches</name>
            <value>
                <elementReference>var_recColResolvedContacts</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>... represents the B2C Commerce Contact to resolve.</description>
        <name>var_contactToResolve</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the errorMessage provided by the evaluation of Contact Resolution results.</description>
        <name>var_errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>... describes if the resolution activity was successful</description>
        <name>var_isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the B2C Customer ID used to test the Customer Resolution sub-flow.</description>
        <name>var_qaB2CCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList ID used to test the Customer Resolution sub-flow.</description>
        <name>var_qaB2CCustomerListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C Customer No used to test the Customer Resolution sub-flow.</description>
        <name>var_qaB2CCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents a test / QA Contact to use when debugging this flow.</description>
        <name>var_qaContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the emailAddress used to test the Customer Resolution sub-flow.</description>
        <name>var_qaEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the firstName used to test the Customer Resolution sub-flow.</description>
        <name>var_qaFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the lastName used to test the Customer Resolution sub-flow.</description>
        <name>var_qaLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes if the flow is in QA mode for testing / processing.</description>
        <name>var_qaMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of B2C Commerce records to resolve.</description>
        <name>var_recColContactsToResolve</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the collection of resolvedContacts.</description>
        <name>var_recColResolvedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the single Contact to resolve.</description>
        <name>var_resolvedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the total number of Contacts that were resolved.</description>
        <name>var_resolvedContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
