src/sfdc/base/main/default/flows/B2C_Commerce_B2C_Customer_Address_View_Address_Book.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Reset_address_IDs</name>
        <label>Reset address IDs</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>editAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>viewAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B2C_Commerce_Address_Book</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ViewModeEdit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>edit</stringValue>
        </value>
    </constants>
    <constants>
        <name>ViewModeView</name>
        <dataType>String</dataType>
        <value>
            <stringValue>view</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_the_user_selected_an_address_to_edit</name>
        <label>If the user selected an address to edit</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_edit_an_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>editAddressId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_B2C_Address</targetReference>
            </connector>
            <label>YES edit an address</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_user_selected_an_address_to_view</name>
        <label>If the user selected an address to view</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>If_the_user_selected_an_address_to_edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_view_an_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>viewAddressId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>View_B2C_Address</targetReference>
            </connector>
            <label>Yes view an address</label>
        </rules>
    </decisions>
    <interviewLabel>B2C Commerce: B2C Customer Address: View Address Book {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: B2C Customer Address: View Address Book</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>B2C_Commerce_Address_Book</name>
        <label>B2C Commerce Address Book</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_the_user_selected_an_address_to_view</targetReference>
        </connector>
        <fields>
            <name>AddressBook</name>
            <extensionName>c:b2CAddressBook</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEditAddressDetails</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowViewAddressDetails</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>editAddressId</assignToReference>
                <name>editAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>viewAddressId</assignToReference>
                <name>viewAddressId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_B2C_Address</name>
        <label>Edit B2C Address</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_address_IDs</targetReference>
        </connector>
        <fields>
            <name>EditForm</name>
            <extensionName>c:b2CAddressForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressId</name>
                <value>
                    <elementReference>editAddressId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>viewMode</name>
                <value>
                    <elementReference>ViewModeEdit</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>View_B2C_Address</name>
        <label>View B2C Address</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_address_IDs</targetReference>
        </connector>
        <fields>
            <name>ViewForm</name>
            <extensionName>c:b2CAddressForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressId</name>
                <value>
                    <elementReference>viewAddressId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>viewMode</name>
                <value>
                    <elementReference>ViewModeView</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_address_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>editAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refreshView</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>viewAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
