src/sfdc/base/main/default/flows/B2CCommerce_Trigger_B2CSite_SetCustomerListAssociation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Lookup_Assignment</name>
        <label>Lookup Assignment</label>
        <locationX>176</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>$Record.CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CCustomerList.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Lookup_Assignment_0</name>
        <label>Lookup Assignment</label>
        <locationX>488</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CCustomerListID.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>... evaluate if a B2C CustomerList ID has been set; if so -- then don&apos;t process the trigger.</description>
        <name>dec_hasB2CCustomerListIDBeenSet</name>
        <label>Has a B2C CustomerList ID Been Set?</label>
        <locationX>167</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>Has Not Been Set</defaultConnectorLabel>
        <rules>
            <name>dec_hasB2CCustomerListIDBeenSetTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CustomerList_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_B2CCustomerListID</targetReference>
            </connector>
            <label>CustomerList ID Has Changed</label>
        </rules>
        <rules>
            <name>CustomerList_RecordID_Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_List__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Customer_List__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Customer_List__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_B2CCustomerList</targetReference>
            </connector>
            <label>CustomerList RecordID Has Changed</label>
        </rules>
    </decisions>
    <description>... this updates the B2C CustomerList association for a given B2C Site whenever the site&apos;s B2C CustomerList ID value is set.</description>
    <interviewLabel>B2C Commerce: Site Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Trigger: B2C Site: Update CustomerList Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the B2C CustomerList parent for the current site.</description>
        <name>recGet_B2CCustomerList</name>
        <label>Retrieve the Parent B2C CustomerList</label>
        <locationX>176</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_List__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C CustomerList parent for the current site.</description>
        <name>recGet_B2CCustomerListID</name>
        <label>Retrieve the Parent B2C CustomerList</label>
        <locationX>488</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Assignment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CustomerList_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>dec_hasB2CCustomerListIDBeenSet</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Customer_List__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CustomerList_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>B2C_Site__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
