src/sfdc/base/main/default/flows/B2CCommerce_B2CPromotion_View_Active_Customer_Promotions_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CustomerAuth_Action</name>
        <label>CustomerAuth Action</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <actionName>B2CIAAuthCustomerClientCredentialsGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_the_Customer_successfully_authenticated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>selectedCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <elementReference>selectedSiteApi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>selectedSiteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>ia_getBusinessManagerUserGrant.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>selectedSiteVersion</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Active_Customer_Promotions</name>
        <label>Get Active Customer Promotions</label>
        <locationX>314</locationX>
        <locationY>2702</locationY>
        <actionName>B2CIAActiveCustomerPromotion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Render_Active_Customer_Promotions</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>getCustomerProfileCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <elementReference>selectedSiteApi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promotionIds</name>
            <value>
                <elementReference>Get_the_Customer_Shopper_profile.promotionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>selectedSiteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>ia_getBusinessManagerUserGrant.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>selectedSiteVersion</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_the_Customer_Shopper_profile</name>
        <label>Get the Customer Shopper profile</label>
        <locationX>446</locationX>
        <locationY>2462</locationY>
        <actionName>B2CIACustomerShopperProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_CustomerRetrieval</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>getCustomerProfileCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <elementReference>selectedSiteApi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expandParameter</name>
            <value>
                <elementReference>constExpandShopperProfileParameter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>selectedSiteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>getCustomerProfileAccessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>selectedSiteVersion</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... obtain a Business Manager user grant from the B2C Instance.</description>
        <name>ia_getBusinessManagerUserGrant</name>
        <label>Obtain a Business Manager User Grant</label>
        <locationX>776</locationX>
        <locationY>1430</locationY>
        <actionName>B2CIABusinessManagerGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_wasBMUserGrantAuthTokenReturned</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namedCredential</name>
            <value>
                <elementReference>selectedOOBONamedCredential</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>... assign the active B2C Site Count to a local variable.</description>
        <name>asn_activeB2CSites</name>
        <label>Assign the Active B2C Site Count</label>
        <locationX>1287</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>activeB2CSitesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recGet_activeB2CSites</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activeB2CSites</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_activeB2CSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasActiveB2CSiteFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... take the properties from the single B2C Site and copy them to the collection of selected values.</description>
        <name>asn_selectedB2CSiteValues</name>
        <label>Assign the Selected Site Values</label>
        <locationX>1009</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>selectedClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.B2C_Client_ID_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlCustom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_Custom_Site_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlInternal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_Internal_Site_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Active_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteApi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_API_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OCAPI_Version_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedOOBONamedCredential</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Named_Credential_Developer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedOOBOCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_iterateB2CSites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Access_Token</name>
        <label>Assign Customer Access Token</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>getCustomerProfileAccessToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerAuth_Action.accessToken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCustomerProfileCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedCustomerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Customer_Shopper_profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OOBO_Customer_ID_and_BM_Access_Token</name>
        <label>Assign OOBO Customer ID and BM Access Token</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>getCustomerProfileAccessToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ia_getBusinessManagerUserGrant.accessToken</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCustomerProfileCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOOBOCustomerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ooboCustomerContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Customer_Shopper_profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_the_selected_customer_Id</name>
        <label>Capture the selected customer Id</label>
        <locationX>1029</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasOnlyOneSiteFound</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constExpandShopperProfileParameter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>promotions</stringValue>
        </value>
    </constants>
    <decisions>
        <description>... evaluate if the customerRetrieval event succeeded with no errors.</description>
        <name>dec_CustomerRetrieval</name>
        <label>Was the Customer Retrieval Successful?</label>
        <locationX>446</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Successful</defaultConnectorLabel>
        <rules>
            <name>decOut_CustomerRetrievalWasSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Customer_Shopper_profile.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Customer_Promotions</targetReference>
            </connector>
            <label>Was Successful</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate the configuration requirements for Promotion retrieval and determine if the user can proceed.</description>
        <name>dec_validateConfigRequirements</name>
        <label>Validate Configuration Requirements</label>
        <locationX>1029</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>scrn_ConfigurationInvalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>decOut_validateConfigRequirementsIsValid</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) AND ((6 AND 7) OR (8 AND 9))</conditionLogic>
            <conditions>
                <leftValueReference>selectedClientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteApi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlInternal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lbl_b2cSiteCustomShopUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_getBusinessManagerUserGrant</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if at least one (1) active B2C Site was retrieved</description>
        <name>dec_wasActiveB2CSiteFound</name>
        <label>Was an Active B2C Site Found?</label>
        <locationX>1287</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>scrn_noActiveB2CSitesFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_ActiveB2CSiteFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeB2CSitesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_contactRecord</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a Business Manager User Grant authToken was returned.</description>
        <name>dec_wasBMUserGrantAuthTokenReturned</name>
        <label>Was an AuthToken Returned?</label>
        <locationX>776</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Returned</defaultConnectorLabel>
        <rules>
            <name>decOut_BMUserAuthTokenReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getBusinessManagerUserGrant.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Registered_Customer</targetReference>
            </connector>
            <label>Was Returned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if only one site was found among the list of available B2C Sites supporting the active customer promotions retrieval.</description>
        <name>dec_wasOnlyOneSiteFound</name>
        <label>Was Only One Site Found?</label>
        <locationX>1029</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>scrn_b2cSiteSelect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Sites</defaultConnectorLabel>
        <rules>
            <name>decOut_wasOnlyOneSiteFound_oneSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeB2CSitesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_iterateB2CSites</targetReference>
            </connector>
            <label>Only One Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Registered_Customer</name>
        <label>Is Registered Customer?</label>
        <locationX>446</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Is_the_OOBO_Customer_ID_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not registered customer</defaultConnectorLabel>
        <rules>
            <name>Registered_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_contactRecord.B2C_Customer_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerAuth_Action</targetReference>
            </connector>
            <label>Registered Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_OOBO_Customer_ID_available</name>
        <label>Is the OOBO Customer ID available?</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OOBO Customer ID not configured</defaultConnectorLabel>
        <rules>
            <name>YES_OOBO_Customer_ID_configured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedOOBOCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_ooboCustomerContactRecord</targetReference>
            </connector>
            <label>YES OOBO Customer ID configured</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_Customer_successfully_authenticated</name>
        <label>Was the Customer successfully authenticated?</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error during authentication</defaultConnectorLabel>
        <rules>
            <name>Successfully_authenticated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerAuth_Action.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Access_Token</targetReference>
            </connector>
            <label>Successfully authenticated</label>
        </rules>
    </decisions>
    <description>... this flow is used to launch the Order on Behalf Of shopping experience for Service Agents.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of active B2C Sites mapped to the selected / filtered CustomerList.</description>
        <name>rcActiveB2CSites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enable_Active_Customer_Promotion_Sync__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_CustomerList_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Instance_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>B2C_Site__c</object>
        <outputAssignments>
            <assignToReference>selectedClientId</assignToReference>
            <field>B2C_Client_ID_Value__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteApi</assignToReference>
            <field>Base_API_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlCustom</assignToReference>
            <field>Base_Custom_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlInternal</assignToReference>
            <field>Base_Internal_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteId</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteVersion</assignToReference>
            <field>OCAPI_Version_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlType</assignToReference>
            <field>OOBO_Active_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBOCustomerId</assignToReference>
            <field>OOBO_Customer_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBOCustomerNo</assignToReference>
            <field>OOBO_Customer_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedOOBONamedCredential</assignToReference>
            <field>OOBO_Named_Credential_Developer_Name__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>... evaluates which storefrontUrl to leverage -- the internalUrl or the customUrl driven by the urlType configuration.</description>
        <name>frm_selectedStorefrontUrl</name>
        <dataType>String</dataType>
        <expression>IF({!selectedShopUrlType} = &quot;Internal&quot;, {!selectedShopUrlInternal}, IF(ISBLANK({!selectedShopUrlCustom}),{!selectedShopUrlInternal}, {!selectedShopUrlCustom}))</expression>
    </formulas>
    <interviewLabel>B2C Commerce: B2C Promotion: View Active Customer Promotions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: B2C Promotion: View Active Customer Promotions</label>
    <loops>
        <description>... loop over the collection of B2C Sites that are available</description>
        <name>loop_iterateB2CSites</name>
        <label>Loop Over the B2C Sites</label>
        <locationX>921</locationX>
        <locationY>878</locationY>
        <collectionReference>recGet_activeB2CSites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_selectedB2CSiteValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_validateConfigRequirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the collection of active B2C Sites to validate that at least one (1) exists.</description>
        <name>recGet_activeB2CSites</name>
        <label>Get B2C Sites</label>
        <locationX>1287</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_activeB2CSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_CustomerList_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Instance_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enable_Active_Customer_Promotion_Sync__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_B2C_Client_ID_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_JWT_Certificate_Verified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the contact record used to launch the OOBO flow.</description>
        <name>recGet_contactRecord</name>
        <label>Retrieve the Contact</label>
        <locationX>1029</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_the_selected_customer_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2C_Instance__c</queriedFields>
        <queriedFields>B2C_CustomerList_ID__c</queriedFields>
        <queriedFields>B2C_CustomerList__c</queriedFields>
        <queriedFields>B2C_Customer_ID__c</queriedFields>
        <queriedFields>B2C_Customer_No__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recGet_ooboCustomerContactRecord</name>
        <label>Get OOBO Customer Contact Record</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_OOBO_Customer_ID_and_BM_Access_Token</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedOOBOCustomerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Render_Active_Customer_Promotions</name>
        <label>Render Active Customer Promotions</label>
        <locationX>314</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>dec_wasOnlyOneSiteFound</targetReference>
        </connector>
        <fields>
            <name>lwc_ActiveCustomerPromotions</name>
            <extensionName>c:b2CActiveCustomerPromotions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>promotionsAsJSON</name>
                <value>
                    <elementReference>Get_Active_Customer_Promotions.promotionsAsJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowGetCouponCodes</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>siteId</name>
                <value>
                    <elementReference>selectedSiteId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Auth</name>
        <label>Error Screen</label>
        <locationX>776</locationX>
        <locationY>3194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_b2cCommerceRESTAPIError_Headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to retrieve the active customer promotions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Error_Auth_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Error_Auth_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_ErrorWithAuth</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;The B2C Commerce Instance&apos;s REST API Responded With an Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;An error occurred when interacting with the B2C Commerce environment and attempting to authenticate the Service Against.  Please review the REST API error message(s) below for details regarding this failure.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Business Manager User Grant&lt;/b&gt;&lt;/a&gt; is used to authenticate the Service Agent against the B2C Commerce Instance&lt;/li&gt;&lt;li&gt;The &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/shop/Resources/Customers.html#id152104953__id-1055795270&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;OOBO Customer Authentication&lt;/b&gt;&lt;/a&gt; is used to authenticate the B2C Commerce Customer against the selected storefront in order to retrieve its active promotions.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_restAPIError_Image</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroemergency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Error_Auth_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Error_Auth_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_bmUserGrantAuthError_subTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Business Manager User Grant&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantErrorMessage</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ia_getBusinessManagerUserGrant.errorMessage</elementReference>
                    </defaultValue>
                    <fieldText>B2C User Grant Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantResponseBody</name>
                    <defaultValue>
                        <stringValue>{!ia_getBusinessManagerUserGrant.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>B2C User Grant Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_customerAuthError_subTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Customer Authentication&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_customerAuthErrorMessage</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_the_Customer_Shopper_profile.errorMessage</elementReference>
                    </defaultValue>
                    <fieldText>Customer Authentication Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_customerAuthResponseBody</name>
                    <defaultValue>
                        <stringValue>{!Get_the_Customer_Shopper_profile.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>Customer Authentication Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_RESTAPIError</name>
            <fieldText>&lt;p&gt;Please resolve these error(s) prior to launching another promotions retrieval. Verify that the&lt;a href=&quot;https://platform-velocity-6771-dev-ed.lightning.force.com/one/one.app#/settings/personal/ExternalObjectUserSettings/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt; Per-User NamedCredential&lt;/b&gt;&lt;/a&gt; for the Service Agent is configured property -- and that the password follows the &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html?cp=0_15_2_23&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;SFCC &quot;Password:ClientSecret&quot; Based64 encoding structure&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Auth_0</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_b2cCommerceRESTAPIError_Headline_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to retrieve the active customer promotions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Error_Auth_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Error_Auth_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_ErrorWithAuth_0</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;The customer does not have registration information from B2C Commerce, and no OOBO Customer is configured.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please ensure to run this flow on a registered customer, or to configure the OOBO Customer.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_restAPIError_Image_0</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroemergency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Error_Auth_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Error_Auth_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_bmUserGrantAuthError_subTitle_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Business Manager User Grant&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantErrorMessage_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ia_getBusinessManagerUserGrant.errorMessage</elementReference>
                    </defaultValue>
                    <fieldText>B2C User Grant Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantResponseBody_0</name>
                    <defaultValue>
                        <stringValue>{!ia_getBusinessManagerUserGrant.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>B2C User Grant Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_customerAuthError_subTitle_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Customer Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_customerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Customer ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_ooboCustomerID</name>
                    <defaultValue>
                        <stringValue>{!selectedOOBOCustomerId}</stringValue>
                    </defaultValue>
                    <fieldText>OOBO Customer ID</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_RESTAPIError_0</name>
            <fieldText>&lt;p&gt;Please resolve these error(s) prior to launching another promotions retrieval. Verify that the&lt;a href=&quot;https://platform-velocity-6771-dev-ed.lightning.force.com/one/one.app#/settings/personal/ExternalObjectUserSettings/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt; Per-User NamedCredential&lt;/b&gt;&lt;/a&gt; for the Service Agent is configured property -- and that the password follows the &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html?cp=0_15_2_23&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;SFCC &quot;Password:ClientSecret&quot; Based64 encoding structure&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Auth_0_0</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_b2cCommerceRESTAPIError_Headline_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to retrieve the active customer promotions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Error_Auth_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Error_Auth_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_ErrorWithAuth_0_0</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;The B2C Commerce Instance&apos;s REST API Responded With an Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;An error occurred when interacting with the B2C Commerce environment and attempting to authenticate the Service Against.  Please review the REST API error message(s) below for details regarding this failure.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Business Manager User Grant&lt;/b&gt;&lt;/a&gt; is used to authenticate the Service Agent against the B2C Commerce Instance&lt;/li&gt;&lt;li&gt;The &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/shop/Resources/Customers.html#id152104953__id-1055795270&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;OOBO Customer Authentication&lt;/b&gt;&lt;/a&gt; is used to authenticate the B2C Commerce Customer against the selected storefront in order to retrieve its active promotions.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_restAPIError_Image_0_0</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroemergency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Error_Auth_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Error_Auth_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_bmUserGrantAuthError_subTitle_0_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Business Manager User Grant&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantErrorMessage_0_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ia_getBusinessManagerUserGrant.errorMessage</elementReference>
                    </defaultValue>
                    <fieldText>B2C User Grant Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantResponseBody_0_0</name>
                    <defaultValue>
                        <stringValue>{!ia_getBusinessManagerUserGrant.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>B2C User Grant Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_customerAuthError_subTitle_0_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Customer Authentication&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_customerAuthErrorMessage_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CustomerAuth_Action.errorMessage</elementReference>
                    </defaultValue>
                    <fieldText>Customer Authentication Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_customerAuthResponseBody_0</name>
                    <defaultValue>
                        <stringValue>{!CustomerAuth_Action.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>Customer Authentication Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_RESTAPIError_0_0</name>
            <fieldText>&lt;p&gt;Please resolve these error(s) prior to launching another promotions retrieval. Verify that the&lt;a href=&quot;https://platform-velocity-6771-dev-ed.lightning.force.com/one/one.app#/settings/personal/ExternalObjectUserSettings/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt; Per-User NamedCredential&lt;/b&gt;&lt;/a&gt; for the Service Agent is configured property -- and that the password follows the &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html?cp=0_15_2_23&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;SFCC &quot;Password:ClientSecret&quot; Based64 encoding structure&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... select a B2C Site.</description>
        <name>scrn_b2cSiteSelect</name>
        <label>Select a B2C Site</label>
        <locationX>1137</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_validateConfigRequirements</targetReference>
        </connector>
        <fields>
            <name>lbl_selectB2CStorefront_headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please Select a B2C Commerce Storefront&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_b2cSiteSelect_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>scrn_b2cSiteSelect_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_SelectSite</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Retrieving active customer promotions requires an active B2C Site&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please select the B2C Commerce Site that should be used to retrieve the active customer promotions.  &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>pklB2CSite</name>
                    <choiceReferences>rcActiveB2CSites</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the B2C Site</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>lbl_changeYourB2CSite</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select an active B2C Site and Click &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_b2cSiteSelect_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_storefrontSelectImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroshopping</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... explain to the user that the configuration is invalid -- and could not be advanced.</description>
        <name>scrn_ConfigurationInvalid</name>
        <label>Error: Configuration Invalid</label>
        <locationX>1282</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_b2cSiteConfigurationInvalid_Headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to retrieve the active customer promotions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CouldNotInvokeCallout_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The B2C Site Configuration Is Invalid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please validate that the selected Storefront&apos;s configuration is valid -- and is not missing key details.  Review the following configuration values and note which values are missing or potentially configured incorrectly.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Remember to create the Per-User Named Credential for the Service Agent&lt;/li&gt;&lt;li&gt;The siteUrlType specified must have a corresponding URL define&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_ConfigurationInvalid_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>scrn_ConfigurationInvalid_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_errorConfigSite</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;B2C Site Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_b2cSiteId</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteId</elementReference>
                    </defaultValue>
                    <fieldText>Site ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteClientID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedClientId</elementReference>
                    </defaultValue>
                    <fieldText>Client ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the namedCredential used to perform system-to-system REST API interactions between the Salesforce Platform and B2C Commerce.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOCAPIVersion</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteVersion</elementReference>
                    </defaultValue>
                    <fieldText>OCAPI Version</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the OCAPI Version number used to drive OOBO REST API interactions.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_ConfigurationInvalid_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_b2cSiteShopUrlType</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlType</elementReference>
                    </defaultValue>
                    <fieldText>Configured Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the version of the storefront url that will be used to launch the OOBO shopping session.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteInteralShopUrl</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlInternal</elementReference>
                    </defaultValue>
                    <fieldText>Internal Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the internal SFCC storefront url leveraging the base B2C Instance Url.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteCustomShopUrl</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlCustom</elementReference>
                    </defaultValue>
                    <fieldText>Custom Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;... represents the external customer-facing SFCC storefront url.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteNamedCredential</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedOOBONamedCredential</elementReference>
                    </defaultValue>
                    <fieldText>Per-User Named Credential</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the per-user Named Credential used to authenticate Service Agents as B2C Commerce Business Manager Agents.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_b2cSiteConfigurationErrorFooter</name>
            <fieldText>&lt;p&gt;Please note that the configured Shop URL type must have a valid URL value. Validate that each of these settings is configured with correct values -- and try launching the promotions retrieval session for the selected customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... no active B2C Sites was configured.  OOBO cannot be processed.</description>
        <name>scrn_noActiveB2CSitesFound</name>
        <label>Error: No Active B2C Sites Found</label>
        <locationX>1546</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_noActiveB2CSitesExistHeadline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to retrieve active customer promotions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_noActiveB2CSitesFound_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>scrn_noActiveB2CSitesFound_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_noActiveB2CSitesIntroText</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;No Active B2C Sites Exists&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The retrieval of active customer promotions requires that at least one (1) active B2C Site is configured in this Salesforce org. The session cannot be launched without this configuration pre-requisite.  Please ensure that:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The parent &lt;a href=&quot;/lightning/o/B2C_Instance__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Instance&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;At least one (1) &lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C CustomerList&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;At least one (1) B2C Site of the active &lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C CustomerList&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;The active &lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Site&lt;/a&gt; has the &lt;b&gt;Enable Active Customer Promotion&lt;/b&gt; permission turned on&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please review each of these configuration properties to ensure that related &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_Instance__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Instance&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;, &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;CustomerList&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;, and &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(61, 62, 63);&quot;&gt;&lt;u&gt;Site&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; are enabled -- and then retry launching the retrieval of active customer promotions.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_noActiveB2CSitesFound_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_noActiveB2CSitesErrorImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astrosecurity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>OOBO Setup: Info</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1161</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recGet_activeB2CSites</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... records the number of active customerLists present.</description>
        <name>activeB2CCustomerListCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of active B2C Sites configured for the current Salesforce org.</description>
        <name>activeB2CSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... manages the count of active B2C Sites for the selected B2C CustomerList</description>
        <name>activeB2CSitesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>b2cSiteCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the customerList attached to the Contact</description>
        <name>contactCustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getCustomerProfileAccessToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getCustomerProfileCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes whether the current shopping session is anonymous or for a specific customer</description>
        <name>isAnonymousShoppingSession</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the selected B2C CustomerList</description>
        <name>selectedCustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedNamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOOBOCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the CustomerNo mapped to a given OOBO user.</description>
        <name>selectedOOBOCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the OOBO Named Credential (per-user used to authenticate an Agent).</description>
        <name>selectedOOBONamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the custom storefront Url for a given B2C Site.</description>
        <name>selectedShopUrlCustom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedShopUrlInternal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the type of shopUrl that is active for the OOBO experience.</description>
        <name>selectedShopUrlType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RefArch</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedSiteVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the configured storefrontUrl (either the internal or custom based on the urlType configured).</description>
        <name>selectedStorefrontUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
