src/sfdc/base/main/default/flows/B2CCommerce_Process_Contact_EvaluateContactArgument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>... audit the error and bubble it upwards.</description>
        <name>asn_auditErrors</name>
        <label>Audit the Error</label>
        <locationX>541</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.verifiedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.hasIdentifiers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.isVerfied</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... audit the success scenario and bubble it upwards.</description>
        <name>asn_auditSuccessAttributes</name>
        <label>Set the Success Attributes</label>
        <locationX>818</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.verifiedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.hasError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasIdentifiers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.hasIdentifiers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_verifyContact.isVerfied</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_isQAModeEnabled</name>
        <label>Is QA Mode Enabled?</label>
        <locationX>810</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>sub_verifyContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Enabled</defaultConnectorLabel>
        <rules>
            <name>dec_isQAModeEnabledTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_overrideContactToResolve</targetReference>
            </connector>
            <label>Is Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if an error was caught during validation.</description>
        <name>dec_wasErrorCaught</name>
        <label>Was an Error Caught?</label>
        <locationX>809</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>asn_auditSuccessAttributes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>dec_wasErrorCaughtTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_verifyContact.hasError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_auditErrors</targetReference>
            </connector>
            <label>Error Was Caught</label>
        </rules>
    </decisions>
    <description>... evaluate the Contact argument and determine if we have a verifiedContact.</description>
    <interviewLabel>B2C Commerce: Process: Contact: Evaluate Contact Argument {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact: Evaluate Contact Argument</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>692</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>dec_isQAModeEnabled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... process the QA input variables and produce a Contact object that can be used to resolution.</description>
        <name>sub_overrideContactToResolve</name>
        <label>Override the Contact</label>
        <locationX>1124</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>sub_verifyContact</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_QAModeHelper</flowName>
        <inputAssignments>
            <name>var_qaB2CCustomerID</name>
            <value>
                <elementReference>var_qaB2CCustomerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerListID</name>
            <value>
                <elementReference>var_qaB2CCustomerListID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerNo</name>
            <value>
                <elementReference>var_qaB2CCustomerNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaContactID</name>
            <value>
                <elementReference>var_qaContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaEmailAddress</name>
            <value>
                <elementReference>var_qaEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaFirstName</name>
            <value>
                <elementReference>var_qaFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaLastName</name>
            <value>
                <elementReference>var_qaLastName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sourceContact</assignToReference>
            <name>var_qaContact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>... this flow attempts to verify that an identifiable Contact record exists using the B2C CustomerID / ContactID attributes that can be provided.</description>
        <name>sub_verifyContact</name>
        <label>Verify the Contact Record</label>
        <locationX>817</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>dec_wasErrorCaught</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_Contact_VerifyRecord</flowName>
        <inputAssignments>
            <name>sourceContact</name>
            <value>
                <elementReference>sourceContact</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>... represents the Contact record to be resolved and processed.</description>
        <name>contactToResolve</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... used to collect any error messages caught during processing of this flow.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>... describes if an error was caught during flow processing.</description>
        <name>hasError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... describes if the contactToResolve had contactIdentifiers that could be used to resolve the record.</description>
        <name>hasIdentifiers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... describes if resolution was successful (true = resolution was successful, false = resolution failed).</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... describes if the contactToResolve record could be verified using the specified identifiers.</description>
        <name>isVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents a copy fo the sourceContact -- as the sourceContact is modified when going through the resolution process.</description>
        <name>originalContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the parentAccount record for the specified Contact.</description>
        <name>parentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the parent B2C CustomerList for the resolved Contact record.</description>
        <name>parentB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the sourceContact definition that will be used to resolve customerProfiles.</description>
        <name>sourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the B2C Commerce customerId representing a customerProfile.  This QA variable is used to manually set this contactProperty without defining the contactObject in debug / QA mode.</description>
        <name>var_qaB2CCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList ID used to test the B2C Contact Resolve flow.</description>
        <name>var_qaB2CCustomerListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerNo the be used to resolve the Contact within the flow.</description>
        <name>var_qaB2CCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the ContactID of the profile being resolved.</description>
        <name>var_qaContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the emailAddress used to test the B2CContactProcess sub-flow.</description>
        <name>var_qaEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the firstName of the customerProfile to be resolved -- and used to override the existing contact record.</description>
        <name>var_qaFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... placeholder variable for the contact&apos;s lastName; used to test the contact resolve flow.</description>
        <name>var_qaLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes if the current flow is operating in QAMode (when checked).  Used to override the contactObject with the individual contact attributes labeled with the QA prefix.</description>
        <name>var_qaMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents a Contact record retrieved using one of the customerProfile identifiers.</description>
        <name>verifiedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
