src/sfdc/base/main/default/flows/B2CCommerce_Schedule_B2CClientID_AuthTokensDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>... assign the recordCount of the selected records to delete.</description>
        <name>asn_recordCountOfRecords</name>
        <label>Assign the Record Count</label>
        <locationX>510</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>recountCountToDelete</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recGet_expiredAuthTokens</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasRecordRetrieved</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if any records were retrieved.</description>
        <name>dec_wasRecordRetrieved</name>
        <label>Was a Record Retrieved?</label>
        <locationX>502</locationX>
        <locationY>742</locationY>
        <defaultConnectorLabel>No Records Were Retrieved</defaultConnectorLabel>
        <rules>
            <name>decOut_wasRecordRetrievedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recountCountToDelete</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recDel_b2cAuthTokens</targetReference>
            </connector>
            <label>Records Were Retrieved</label>
        </rules>
    </decisions>
    <description>... deletes the expired or invalid authTokens associated to a given B2C Client ID.</description>
    <interviewLabel>B2C Commerce: Schedule: B2C Client ID: AuthTokens: Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Schedule: B2C Client ID: AuthTokens: Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>... delete the expired B2C AuthTokens from the Salesforce Org.</description>
        <name>recDel_b2cAuthTokens</name>
        <label>Delete Expired B2C AuthToken Records</label>
        <locationX>511</locationX>
        <locationY>999</locationY>
        <inputReference>recGet_expiredAuthTokens</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>... retrieve the collection of expired authTokens for a given B2C ClientID.</description>
        <name>recGet_expiredAuthTokens</name>
        <label>Get Expired AuthTokens</label>
        <locationX>509</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_recordCountOfRecords</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>B2C_Client_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_AuthToken__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>Expiration_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>383</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>recGet_expiredAuthTokens</targetReference>
        </connector>
        <object>B2C_Client_ID__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-07-12</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>... retrieve a recordCount of the records to delete.</description>
        <name>recountCountToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
