src/sfdc/base/main/default/flows/B2CCommerce_QuickAction_Contact_IntegrationStatusReset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>... this flow resets the integration status for a Contact to support REST API interactions with B2C Commerce.</description>
    <interviewLabel>B2C Commerce: Quick Action: Reset Integration Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: Contact: Integration Status: Enable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>... updates the Contact Details based on the assignments made previously in the flow</description>
        <name>recUpd_ContactDetails</name>
        <label>Update Contact Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>screen_B2CCommerceResetIntegrationStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_resolvedContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2C_Disable_Integration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_by_B2C_Platform_Event__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <description>... this screen is used to alert the user that the integration state / status for this Contact has been reset.</description>
        <name>screen_B2CCommerceResetIntegrationStatus</name>
        <label>B2C Commerce Integration Status is Reset</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_B2CRestAPIAuditingEnabled</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;REST API Integration with B2C Commerce has been Reset&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The B2C Commerce integration status for this Contact has been reset -- and this Contact is now able to interact with B2C Commerce REST APIs.  The following Contact properties were updated to enable this feature:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>var_resolvedContact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>var_resolvedContact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>informalName</name>
                <value>
                    <elementReference>var_resolvedContact.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lbl_contactId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId</elementReference>
            </defaultValue>
            <fieldText>Contact ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_disableB2CCommerceIntegration</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Disable B2C Commerce Integration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_bypassB2CCommercePlatformEvent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Bypass B2C Commerce Platform Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_disableInstructions</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note that the &lt;b&gt;Disable B2C Commerce Integration&lt;/b&gt; property can be used to disable B2C Commerce REST API interactions for this Contact.  &lt;b&gt;Bypass B2C Commerce Platform Event &lt;/b&gt;is an internal property used to prevent circular updates between B2C Commerce and the Salesforce Platform.  It must be unchecked to enable the publishing of Contact updates to B2C Commerce. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sub_retrieveContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... retrieves the Contact record (either directly or in-directly via the Account).</description>
        <name>sub_retrieveContact</name>
        <label>Retrieve the Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>recUpd_ContactDetails</targetReference>
        </connector>
        <flowName>B2CCommerce_QuickAction_Contact_GetterHelper</flowName>
        <inputAssignments>
            <name>var_recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_resolvedContact</assignToReference>
            <name>var_resolvedContact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>... represents the recordId of the Contact Record being processed.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the Contact record that was resolved (either directly or indirectly through the Account relationship)</description>
        <name>var_resolvedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
