src/sfdc/base/main/default/flows/B2CCommerce_QuickAction_B2CCustomerList_NamedCredentialsApply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>... evaluate if the current CustomerList has a valid Named Credential?</description>
        <name>dec_wasNamedCredentialFound</name>
        <label>Was a Named Credential found?</label>
        <locationX>527</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>screen_B2CCustomerListMessage_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_NamedCredentialExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisCustomerList.Named_Credential_Developer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_applyNamedCredentialsToSites</targetReference>
            </connector>
            <label>Named Credential Exists</label>
        </rules>
    </decisions>
    <description>... takes the namedCredential configured for a given B2C CustomerList and applies it to all the child sites that exist.</description>
    <interviewLabel>B2C Commerce: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: B2C CustomerList: Sites: Named Credentials: Apply</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the current B2C CustomerList.</description>
        <name>recGet_b2cCustomerList</name>
        <label>Retrieve the B2C CustomerList</label>
        <locationX>535</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasNamedCredentialFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2C_CustomerList__c</object>
        <outputReference>thisCustomerList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Named_Credential_Developer_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <description>... display to the user that the B2C CustomerList&apos;s ClientID value has been applied to child sites.</description>
        <name>screen_B2CCustomerListMessage</name>
        <label>Display Status for the B2C CustomerList</label>
        <locationX>536</locationX>
        <locationY>919</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_resetB2CNamedCredentialHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The Named Credential For this CustomerList Has Been Applied to Its Sites&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The Named Credential value associated to this CustomerList have been applied to its child Sites.  Details of this update are included below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Id</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Name</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>B2C_NamedCredential_DeveloperName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Named_Credential_Developer_Name__c</elementReference>
            </defaultValue>
            <fieldText>Named Credential Developer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_numberOfSitesUpdatedNC</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sub_applyNamedCredentialsToSites.recOut_sitesRecordCount</elementReference>
            </defaultValue>
            <fieldText>Number of Sites Updated</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>lbl_footer</name>
            <fieldText>&lt;p&gt;Please remember that any external service-calls to B2C Commerce are dependent on the Named Credential values attached to the CustomerList of corresponding Sites.  If these calls begin to fail, please check the Named Credential values and ensure that they auth against the configured AuthProvider. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... display to the user that the B2C CustomerList&apos;s Name Credential value has not been verified.</description>
        <name>screen_B2CCustomerListMessage_Error</name>
        <label>No NamedCredential Value Found</label>
        <locationX>295</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_resetB2CNamedCredentialHeader_Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The Named Credential For this CustomerList Has Not Been Set&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The Named Credential value associated to this CustomerList has not been set.  Please update this CustomerList with a valid NamedCredential Developer Name before applying this value to child Sites.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListId_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Id</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListName_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Name</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>B2C_NamedCredential_DeveloperName_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Named_Credential_Developer_Name__c</elementReference>
            </defaultValue>
            <fieldText>Named Credential Developer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_footer_0</name>
            <fieldText>&lt;p&gt;Please remember that any external service-calls to B2C Commerce are dependent on the Named Credential values attached to the CustomerList of corresponding Sites.  If these calls begin to fail, please check the Named Credential values and ensure that they auth against the configured AuthProvider. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>409</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>recGet_b2cCustomerList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... applies the namedCredentials to its child Sites.</description>
        <name>sub_applyNamedCredentialsToSites</name>
        <label>Apply the Named Credential to Child Sites</label>
        <locationX>536</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>screen_B2CCustomerListMessage</targetReference>
        </connector>
        <flowName>B2CCommerce_B2CCustomerList_ListSitesNamedCredentialApply</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>... represents the recordId of the B2C Commerce CustomerList being activated.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerList being interacted with.</description>
        <name>thisCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the updated B2C CustomerList.</description>
        <name>varB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
</Flow>
