src/sfdc/base/main/default/flows/B2CCommerce_QuickAction_Contact_ContactPublish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... takes the Contact, CustomerList, and ProcessMode -- and evaluates whether to enable or disable B2C Commerce integration for the selected Contact record.</description>
        <name>ia_validateContactIntegrationOptions</name>
        <label>Validate Contact Integration Options</label>
        <locationX>538</locationX>
        <locationY>1895</locationY>
        <actionName>B2CIAValidateContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_isB2CCommerceIntegrationAllowed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>b2cInstance</name>
            <value>
                <elementReference>recGet_B2CInstanceForCustomerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contact</name>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerList</name>
            <value>
                <elementReference>varCustomerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processMode</name>
            <value>
                <elementReference>varProcessMode</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>... evaluates if the Contact has the required fields representing a B2C Commerce Customer Profile.</description>
        <name>dec_doesContactRequiredFields</name>
        <label>Does the Contact Have Required Fields?</label>
        <locationX>530</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>recGet_CustomerList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is a B2C Commerce Customer Profile</defaultConnectorLabel>
        <rules>
            <name>dec_isNotAB2CCommerceCustomerProfile</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContact.B2C_CustomerList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContact.B2C_Customer_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_notAB2CCommerceProfile</targetReference>
            </connector>
            <label>Is Not a B2C Commerce Customer Profile</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate that the B2C Client ID associated to the current B2C CustomerList is active and well-formed.</description>
        <name>dec_isB2CClientIDValid</name>
        <label>Is the B2C Client ID Valid?</label>
        <locationX>530</locationX>
        <locationY>1115</locationY>
        <defaultConnector>
            <targetReference>screen_B2CClientID_IsInvalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is InValid</defaultConnectorLabel>
        <rules>
            <name>dec_isB2CClientIDValidTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerList.Is_B2C_Client_ID_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCustomerList.Is_JWT_Certificate_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_B2CInstanceForCustomerList</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if the integration process for the selected Contact is supported.  The integration options for the selected Contact and its related CustomerList are reviewed to determine if the integration process should be supported for this request.</description>
        <name>dec_isB2CCommerceIntegrationAllowed</name>
        <label>Is B2C Commerce Integration Process Allowed?</label>
        <locationX>530</locationX>
        <locationY>2131</locationY>
        <defaultConnector>
            <targetReference>recCreate_ProcessContactPlatformEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integration Process is Supported</defaultConnectorLabel>
        <rules>
            <name>dec_B2CCommerceProcessIntegrationNotSupported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_validateContactIntegrationOptions.allowIntegrationProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_integrationProcessNotSupported</targetReference>
            </connector>
            <label>Integration Process is Not Supported</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the parent B2C Instance is active; if not -- end processing</description>
        <name>dec_isB2CInstanceActive</name>
        <label>Is B2C Instance Active?</label>
        <locationX>529</locationX>
        <locationY>1617</locationY>
        <defaultConnector>
            <targetReference>ia_validateContactIntegrationOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>B2C Instance is Active</defaultConnectorLabel>
        <rules>
            <name>decOut_isB2CInstanceInActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_B2CInstanceForCustomerList.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_B2CInstanceInActive</targetReference>
            </connector>
            <label>B2C Instance is InActive</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a contact record was successfully resolved or found.</description>
        <name>dec_wasContactRecordFound</name>
        <label>Was a Contact Found?</label>
        <locationX>528</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>screen_contactNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_wasFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_doesContactRequiredFields</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <description>... this flow is used to trigger the publishing of this Contact details to its corresponding B2C Customer Profile.  It creates a Platform Event which makes a B2C Commerce OCAPI REST API request to publish the Contact details and then consume the Customer Profile details for the configured B2C Instance.</description>
    <interviewLabel>B2C Commerce: Quick Action: Trigger Customer Details Publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: Contact: Customer Profile: Publish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>... creates the Platform Event to update publish the Contact details to B2C Commerce.</description>
        <name>recCreate_ProcessContactPlatformEvent</name>
        <label>Create the Process Contact Platform Event</label>
        <locationX>539</locationX>
        <locationY>2389</locationY>
        <assignRecordIdToReference>varPlatformEventId</assignRecordIdToReference>
        <connector>
            <targetReference>screen_ProcessContactPlatformEventSuccess</targetReference>
        </connector>
        <inputAssignments>
            <field>Api_Url__c</field>
            <value>
                <elementReference>varCustomerList.Base_API_Url__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_API_Response__c</field>
            <value>
                <elementReference>varContact.Audit_OCAPI_API_Response__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2C_CustomerList_ID__c</field>
            <value>
                <elementReference>varCustomerList.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2C_Customer_No__c</field>
            <value>
                <elementReference>varContact.B2C_Customer_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Contact_ID__c</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerList_ID__c</field>
            <value>
                <elementReference>varCustomerList.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCAPI_Version_Number__c</field>
            <value>
                <elementReference>varCustomerList.OCAPI_Version_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Mode__c</field>
            <value>
                <elementReference>varProcessMode</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Commerce_ProcessCustomerDetails__e</object>
    </recordCreates>
    <recordLookups>
        <description>... retrieve the B2C Instance associated to the retrieved customerList</description>
        <name>recGet_B2CInstanceForCustomerList</name>
        <label>Get the Related B2C Instance</label>
        <locationX>538</locationX>
        <locationY>1366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_isB2CInstanceActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerList.B2C_Instance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieves the B2C Commerce CustomerList associated to the specified Contact.</description>
        <name>recGet_CustomerList</name>
        <label>Get the Related CustomerList</label>
        <locationX>538</locationX>
        <locationY>858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_isB2CClientIDValid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact.B2C_CustomerList__c</elementReference>
            </value>
        </filters>
        <object>B2C_CustomerList__c</object>
        <outputReference>varCustomerList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Base_API_Url__c</queriedFields>
        <queriedFields>OCAPI_Version_No__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Enable_Profile_Creation__c</queriedFields>
        <queriedFields>Enable_Profile_Publishing__c</queriedFields>
        <queriedFields>Enable_Profile_Retrieval__c</queriedFields>
        <queriedFields>Enable_Profile_Updates__c</queriedFields>
        <queriedFields>Is_Active__c</queriedFields>
        <queriedFields>Audit_OCAPI_API_Response__c</queriedFields>
        <queriedFields>B2C_Instance__c</queriedFields>
        <queriedFields>B2C_Client_ID__c</queriedFields>
        <queriedFields>B2C_Client_ID_Value__c</queriedFields>
        <queriedFields>Is_B2C_Client_ID_Active__c</queriedFields>
        <queriedFields>Is_JWT_Certificate_Verified__c</queriedFields>
        <queriedFields>JWT_Certificate_Name__c</queriedFields>
    </recordLookups>
    <screens>
        <description>... alert the user that the parent B2C Instance is InActive and should be enabled / activated to create the Process Contact Platform Event.</description>
        <name>screen_B2CClientID_IsInvalid</name>
        <label>B2C Client ID is InValid</label>
        <locationX>281</locationX>
        <locationY>1114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_invalidB2CCustomerList_B2CClientIDErrorHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The B2C Client ID Associated to the CustomerList is InValid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The B2C Client ID associated to this B2C CustomerList is inValid.  Integration with B2C Commerce requires an active and properly configured B2C Client ID record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerListIDValue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerList.Id</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerListName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerList.Name</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CustomerListIsActive</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varCustomerList.Is_Active__c</elementReference>
            </defaultValue>
            <fieldText>This B2C CustomerList is Active</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_invalidB2CClientIDErrorHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;B2C Client ID Configuration Properties&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please review the following B2C Client ID properties and address any issues prior to attempting Contact synchronization with B2C Commerce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerListB2CClientID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerList.B2C_Client_ID__c</elementReference>
            </defaultValue>
            <fieldText>B2C Client ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerListB2CClientIDValue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerList.B2C_Client_ID_Value__c</elementReference>
            </defaultValue>
            <fieldText>B2C Client ID Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerListB2CClientIDisActive</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varCustomerList.Is_B2C_Client_ID_Active__c</elementReference>
            </defaultValue>
            <fieldText>This B2C Client ID is Active</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerListB2CClientIDJWTCertName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerList.JWT_Certificate_Name__c</elementReference>
            </defaultValue>
            <fieldText>B2C Client ID JWT Certificate Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerListB2CClientIDisCertValid</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varCustomerList.Is_JWT_Certificate_Verified__c</elementReference>
            </defaultValue>
            <fieldText>The JWT Certificate Has Been Verified</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... alert the user that the parent B2C Instance is InActive and should be enabled / activated to create the Process Contact Platform Event.</description>
        <name>screen_B2CInstanceInActive</name>
        <label>B2C Instance is InActive</label>
        <locationX>274</locationX>
        <locationY>1609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_invalidB2CInstanceInActive</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The Parent B2C Instance Associated to the B2C CustomerList is InActive&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The B2C Instance associated to the related B2C CustomerList is inActive.  Please update the active status of the B2C Instance to create the Process Contact Platform Event.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_errorB2CInstanceID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_B2CInstanceForCustomerList.Id</elementReference>
            </defaultValue>
            <fieldText>B2C Instance ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CInstanceName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_B2CInstanceForCustomerList.Name</elementReference>
            </defaultValue>
            <fieldText>B2C Instance Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CInstanceIsActive</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>recGet_B2CInstanceForCustomerList.Is_Active__c</elementReference>
            </defaultValue>
            <fieldText>Is Active</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CInstanceUrl</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recGet_B2CInstanceForCustomerList.API_Url__c</elementReference>
            </defaultValue>
            <fieldText>B2C Instance Url</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... this screen is displayed to explain that the Contact selected is not a B2C Commerce Customer Profile.</description>
        <name>screen_contactNotFound</name>
        <label>Contact Not Found</label>
        <locationX>192</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_CouldNotLocateSpecifiedB2CContact</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Could Not Locate the Specified B2C Contact Record&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;The recordId used by this visual flow could not be used to locate a Contact record.  As a result, we cannot publish Contact details to a B2C Commerce profile for this specific record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_errorRecordID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId</elementReference>
            </defaultValue>
            <fieldText>recordId Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_ContactNotFoundGuidance</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please verify that this quickAction is either attached to a recordDetail page for a Contact or PersonAccount.  This flow can resolve a Contact record via the recordId either directly (by providing a Contact.Id) or indirectly (by providing an Account.Id).  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Lastly, please verify that the recordId provided resolves to a Contact or an Account with a child Contact.  This flow is not designed to resolve any other Contact relationships.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... this screen is displayed to explain that integration options for this Contact and CustomerList combination are not supported.</description>
        <name>screen_integrationProcessNotSupported</name>
        <label>Integration is Disabled for this Process</label>
        <locationX>236</locationX>
        <locationY>2132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_ContactIsNotAB2CCustomerProfile_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;B2C Integration Is Disabled for this Process, Contact, and CustomerList&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Integration with B2C Commerce for this Contact is managed by multiple flags on Contact and the parent CustomerList records.  Integration is disabled for the specified process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_errorB2CCommerceIntegrationErrorMessage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ia_validateContactIntegrationOptions.configurationMessage</elementReference>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CCommerceIntegrationProfileProcessMode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varProcessMode</elementReference>
            </defaultValue>
            <fieldText>B2C Commerce: Customer Profile Integration Process</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Represents the current integration process being evaluated.   These processes leverage B2C Commerce&apos;s OCAPI Data API to pull or push profile data.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&apos;Retrieve&apos; represents the process of pulling B2C Commerce Customer Profiles.&lt;/li&gt;&lt;li&gt;&apos;Publish&apos; represents the process of pushing B2C Commerce Customer Profile updates.&lt;/li&gt;&lt;/ul&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_errorContactDisableIntegration</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ia_validateContactIntegrationOptions.isContactIntegrationDisabled</elementReference>
            </defaultValue>
            <fieldText>Salesforce Contact: Disable B2C Commerce Integration</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When checked, all B2C Commerce integration processes are disabled for the configured Contact record.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorCustomerListIsActive</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ia_validateContactIntegrationOptions.isCustomerListActive</elementReference>
            </defaultValue>
            <fieldText>CustomerList: Is Active</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Indicates if the CustomerList is Active within the Salesforce Platform.  B2C CustomerLists must be configured as Active in order to support integration processes. &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorCustomerListProfileRetrieval</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ia_validateContactIntegrationOptions.isProfileRetrievalEnabled</elementReference>
            </defaultValue>
            <fieldText>CustomerList: Enable B2C Commerce Profile Retrieval</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Indicates if the CustomerList supports the retrieval of B2C Commerce Customer Profiles via OCAPI Data REST APIs.  When checked, profiles can be retrieved.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorCustomerListProfilePublishing</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ia_validateContactIntegrationOptions.isProfilePublishingEnabled</elementReference>
            </defaultValue>
            <fieldText>CustomerList: Enable B2C Commerce Profile Publishing</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Indicates if the CustomerList supports publishing profile updates to B2C Commerce Customer Profiles via OCAPI Data REST APIs.  When checked, B2C Commerce Customer Profiles can be modified by the Salesforce Platform.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_errorCustomerListContactUpdate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ia_validateContactIntegrationOptions.isContactUpdateEnabled</elementReference>
            </defaultValue>
            <fieldText>CustomerList: Enable Contact Updates</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When enabled, B2C Commerce Customer Profile updates can be applied to Contacts associated to the associated CustomerList.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_ContactIsNotAB2CCustomerProfileGuidance_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the following Contact and CustomerList Integration controls.  Integration processes can be enabled or disabled globally by managing CustomerLsits.  Integration processes can be enabled or disabled at the Contact level via the Disable B2C Commerce Integration flag.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... this screen is displayed to explain that the Contact selected is not a B2C Commerce Customer Profile.</description>
        <name>screen_notAB2CCommerceProfile</name>
        <label>Contact Is Not a B2C Commerce Customer Profile</label>
        <locationX>199</locationX>
        <locationY>634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_ContactIsNotAB2CCustomerProfile</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;The Selected Contact is Not a B2C Commerce Customer Profile&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;The selected Contact record must have a valid B2C Commerce CustomerList, Customer Number, and Customer ID value to be considered a B2C Commerce Customer Profile.  No integration action will be executed with B2C Commerce for this Contact.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_errorB2CInstance</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContact.B2C_Instance__c</elementReference>
            </defaultValue>
            <fieldText>B2C Instance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerListID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContact.B2C_CustomerList__c</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_errorB2CCustomerNo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContact.B2C_Customer_No__c</elementReference>
            </defaultValue>
            <fieldText>B2C Customer No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_ContactIsNotAB2CCustomerProfileGuidance</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the following Contact fields.  Not all Contacts will also represent B2C Commerce Customer Profiles.  To convert this contact to a Customer Profile, please update these fields to reflect the B2C Commerce Customer Profile that should map to this Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... this screen is displayed to confirm that the Process Contact Platform Event has been successfully created.</description>
        <name>screen_ProcessContactPlatformEventSuccess</name>
        <label>Process Contact Platform Event Created</label>
        <locationX>539</locationX>
        <locationY>2656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_processContactPlatformEventSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Process Contact Platform Event Created (Publish B2C Customer Profile Updates)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Process Contact Platform Event was successfully created -- and will publish this record to B2C Commerce.  Please review the B2C CustomerList&apos;s and Contact&apos;s &lt;b&gt;Integration Properties &lt;/b&gt;field collection&lt;b&gt; &lt;/b&gt;for REST API processing details.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Platform Event and REST API Responses from B2C Commerce are audited&lt;/li&gt;&lt;li&gt;Updates are written only when a change to a mapped field has been identified&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_ProcessContactPlatformEventID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPlatformEventId</elementReference>
            </defaultValue>
            <fieldText>Platform Event ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_ProcessContactProcessMode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varProcessMode</elementReference>
            </defaultValue>
            <fieldText>Process Mode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_ProcessContactCustomerListID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerList.Name</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_ProcessContactContactID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContact.Id</elementReference>
            </defaultValue>
            <fieldText>Contact ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_ProcessContactB2CCustomerNo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContact.B2C_Customer_No__c</elementReference>
            </defaultValue>
            <fieldText>B2C Customer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_ProcessContactBaseAPIUrl</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerList.Base_API_Url__c</elementReference>
            </defaultValue>
            <fieldText>Base API Url</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Audit_B2C_Commerce_REST_API_Response</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varContact.Audit_OCAPI_API_Response__c</elementReference>
            </defaultValue>
            <fieldText>Audit B2C Commerce REST API Response</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_PlatformEvents101</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;REST API results can be audited on the record by checking the &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Audit B2C Commerce REST API Response &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CustomerList&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;property. Updates to Customer Profiles can be triggered via this Platform Event.  Please visit Trailhead to learn how to &lt;/span&gt;&lt;a href=&quot;https://trailhead.salesforce.com/content/learn/modules/platform_events_basics&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;trigger PlatformEvents via Apex, Flows, or APIs&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>sub_retrieveContactDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... retrieve the sourceContact details either directly or in-directly from the recordId provided.</description>
        <name>sub_retrieveContactDetails</name>
        <label>Retrieve Contact Details</label>
        <locationX>536</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>dec_wasContactRecordFound</targetReference>
        </connector>
        <flowName>B2CCommerce_QuickAction_Contact_GetterHelper</flowName>
        <inputAssignments>
            <name>var_recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContactCount</assignToReference>
            <name>var_childContactCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact</assignToReference>
            <name>var_resolvedContact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>... represents the identifier of the current B2C Commerce CustomerList record being processed.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the Contact record being processed.</description>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the count of Contacts that were retrieved by the contactGetter sub-flow.</description>
        <name>varContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the customerList associated to the specified Contact Record.</description>
        <name>varCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the Id of the PlatformEvent that was created for the selected B2C CustomerList.</description>
        <name>varPlatformEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the integration process to perform (retrieve the B2C Commerce Customer Profile, or publish to the B2C Commerce Customer Profile).</description>
        <name>varProcessMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>publish</stringValue>
        </value>
    </variables>
</Flow>
