src/sfdc/base/main/default/flows/B2CCommerce_Process_Contact_HelperServiceEntry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>... default the contactToResolve to the sourceContact</description>
        <name>asn_defaultContactToResolve</name>
        <label>Default the Contact to Resolve</label>
        <locationX>649</locationX>
        <locationY>1062</locationY>
        <assignmentItems>
            <assignToReference>contactToResolve</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_localWorkingVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... alert the user that integration is disabled for the specified Contact.</description>
        <name>asn_errorIntegrationDisabled</name>
        <label>Error: Integration Is Disabled</label>
        <locationX>18</locationX>
        <locationY>1280</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sub_allowIntegrationHelper.var_errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>B2C Commerce Integration is disabled for this B2C Instance, B2C CustomerList, or Contact.  Please check the Salesforce configuration -- and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... alert the user that integration is disabled for the specified Contact.</description>
        <name>asn_errorIntegrationDisabledResolvedContact</name>
        <label>Error: Integration Is Disabled</label>
        <locationX>2486</locationX>
        <locationY>1276</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sub_allowResolvedIntegrationHelper.var_errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>B2C Commerce Integration is disabled for this B2C Instance, B2C CustomerList, or Contact.  Please check the Salesforce configuration -- and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the B2C CustomerList attached to the sourceContact to the IC version.</description>
        <name>asn_evalB2CCustomerListIC</name>
        <label>Assign the Evaluated B2C CustomerList</label>
        <locationX>1806</locationX>
        <locationY>1278</locationY>
        <assignmentItems>
            <assignToReference>icB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>icSourceContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sub_allowResolvedIntegrationHelper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... expose the multipleResults to the output.</description>
        <name>asn_exposeMultipleResults</name>
        <label>Expose the Multiple Results</label>
        <locationX>2443</locationX>
        <locationY>2226</locationY>
        <assignmentItems>
            <assignToReference>ResolvedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContactCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_outputVariablesSingle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign a local variable representing the B2C CustomerList and contactToResolve used to validate integration properties.</description>
        <name>asn_localWorkingVariables</name>
        <label>Assign Local Working Variables</label>
        <locationX>818</locationX>
        <locationY>1062</locationY>
        <assignmentItems>
            <assignToReference>b2cCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasCompleteContactVerified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... pass the argument error forward and return it to the caller.</description>
        <name>asn_outputArgumentError</name>
        <label>Output the Error Message</label>
        <locationX>1189</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.sourceContact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the contactResolution output variables</description>
        <name>asn_outputVariablesNoResolvedContact</name>
        <label>Assign the Output Variables</label>
        <locationX>968</locationX>
        <locationY>1565</locationY>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shortenedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContactCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No Contact was resolved for this combination of identifiers.  Please review the sourceContact properties -- and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the contactResolution output variables</description>
        <name>asn_outputVariablesResolutionErrorOccurred</name>
        <label>Assign the Output Variables</label>
        <locationX>1583</locationX>
        <locationY>1563</locationY>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shortenedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContactCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sub_contactResolution.var_errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolvedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContacts</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the contactResolution output variables</description>
        <name>asn_outputVariablesSingle</name>
        <label>Assign the Output Variables</label>
        <locationX>2226</locationX>
        <locationY>2226</locationY>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ResolvedAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shortenedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContactCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ResolvedAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>icB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the contactResolution output variables</description>
        <name>asn_outputVariablesSingle_0</name>
        <label>Assign the Output Variables</label>
        <locationX>282</locationX>
        <locationY>2249</locationY>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shortenedContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResolutionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.parentB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... over-write the contactToResolve as the verifiedContact.</description>
        <name>asn_overWriteContactToResolve</name>
        <label>Overwrite the Contact to Resolve</label>
        <locationX>1002</locationX>
        <locationY>1062</locationY>
        <assignmentItems>
            <assignToReference>contactToResolve</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_localWorkingVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... refresh the sourceContact to leverage the generated composite.</description>
        <name>asn_refreshSourceContact</name>
        <label>Refresh the Source Contact</label>
        <locationX>817</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>sourceContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.sourceContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasContactVerified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... shorten the contact to include a subset of the overall resolved attributes.</description>
        <name>asn_shortenContact</name>
        <label>Shorten the Contact</label>
        <locationX>2225</locationX>
        <locationY>1705</locationY>
        <assignmentItems>
            <assignToReference>shortenedContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_CustomerList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_CustomerList__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Customer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Customer_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_Customer_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Disable_Integration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_Disable_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Date_Last_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_Date_Last_Modified__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.Audit_OCAPI_API_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.Audit_OCAPI_API_Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_isReturnMultipleEnabled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... shorten the contact to include a subset of the overall resolved attributes.</description>
        <name>asn_shortenValidatedContact</name>
        <label>Shorten the Contact</label>
        <locationX>281</locationX>
        <locationY>1609</locationY>
        <assignmentItems>
            <assignToReference>shortenedContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_CustomerList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.B2C_CustomerList__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.B2C_CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Customer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Customer_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.B2C_Customer_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Disable_Integration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.B2C_Disable_Integration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.B2C_Date_Last_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.B2C_Date_Last_Modified__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shortenedContact.Audit_OCAPI_API_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_evaluateContactArgument.verifiedContact.Audit_OCAPI_API_Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_isReturnMultipleEnabled_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... append the verifiedContact to the resolvedCollection.</description>
        <name>asn_verifiedContactToResolvedCollection</name>
        <label>Add the verifiedContact to the Resolved Collection</label>
        <locationX>27</locationX>
        <locationY>2249</locationY>
        <assignmentItems>
            <assignToReference>ResolvedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shortenedContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_outputVariablesSingle_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C CustomerList to a local variable</description>
        <name>dec_assignB2CCustomerListIC</name>
        <label>Assign the B2C CustomerList</label>
        <locationX>1801</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>icB2CCustomerList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_ResolvedB2CCustomerList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>icSourceContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sub_allowResolvedIntegrationHelper</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if we can allow integration for the specified Contact.</description>
        <name>dec_allowIntegrationForContact</name>
        <label>Allow Integration for this Contact?</label>
        <locationX>272</locationX>
        <locationY>1283</locationY>
        <defaultConnector>
            <targetReference>asn_errorIntegrationDisabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Allow</defaultConnectorLabel>
        <rules>
            <name>decOut_allowIntegrationForContactTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_allowIntegrationHelper.out_allowIntegrationProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_shortenValidatedContact</targetReference>
            </connector>
            <label>Allow</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if we can allow integration for the specified Contact.</description>
        <name>dec_allowIntegrationForResolvedContact</name>
        <label>Allow Integration for this Contact?</label>
        <locationX>2216</locationX>
        <locationY>1280</locationY>
        <defaultConnector>
            <targetReference>asn_errorIntegrationDisabledResolvedContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Allow</defaultConnectorLabel>
        <rules>
            <name>dec_allowIntegrationForResolvedContactTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_allowResolvedIntegrationHelper.out_allowIntegrationProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_ResolvedAccount</targetReference>
            </connector>
            <label>Allow</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if an error occurred during the customerResolution process.</description>
        <name>dec_didResolutionErrorOccur</name>
        <label>Did a Resolution Error Occur?</label>
        <locationX>1274</locationX>
        <locationY>1567</locationY>
        <defaultConnector>
            <targetReference>asn_outputVariablesNoResolvedContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error Occurred</defaultConnectorLabel>
        <rules>
            <name>decOut_didResolutionErrorOccurTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_contactResolution.var_isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sub_contactResolution.var_errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_outputVariablesResolutionErrorOccurred</targetReference>
            </connector>
            <label>Error Occurred</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the resolvedContact has a parent B2C CustomerList; if not -- provide one.</description>
        <name>dec_doesResolvedContactHaveB2CCustomerList</name>
        <label>Does the Contact Have a Parent B2C CustomerList?</label>
        <locationX>1531</locationX>
        <locationY>1283</locationY>
        <defaultConnector>
            <targetReference>recGet_ResolvedB2CCustomerList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No B2C CustomerList</defaultConnectorLabel>
        <rules>
            <name>decOut_doesResolvedContactHaveB2CCustomerListTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_contactResolution.var_resolvedContact.B2C_CustomerList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_evalB2CCustomerListIC</targetReference>
            </connector>
            <label>Has B2C CustomerList</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if an argumentError was caught.</description>
        <name>dec_hasArgumentError</name>
        <label>Was an Error Caught?</label>
        <locationX>808</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>asn_refreshSourceContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>dec_hasArgumentErrorTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_evaluateContactArgument.hasError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_outputArgumentError</targetReference>
            </connector>
            <label>Has Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if all resolutionResults should be included in the output.</description>
        <name>dec_isReturnMultipleEnabled</name>
        <label>Is returnMultiple Enabled?</label>
        <locationX>2217</locationX>
        <locationY>1901</locationY>
        <defaultConnector>
            <targetReference>asn_outputVariablesSingle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Enabled</defaultConnectorLabel>
        <rules>
            <name>dec_isShowAllEnabledTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnMultiple</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_exposeMultipleResults</targetReference>
            </connector>
            <label>Is Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if all resolutionResults should be included in the output.</description>
        <name>dec_isReturnMultipleEnabled_0</name>
        <label>Is returnMultiple Enabled?</label>
        <locationX>273</locationX>
        <locationY>1892</locationY>
        <defaultConnector>
            <targetReference>asn_outputVariablesSingle_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Enabled</defaultConnectorLabel>
        <rules>
            <name>dec_isShowAllEnabledTrue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnMultiple</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_verifiedContactToResolvedCollection</targetReference>
            </connector>
            <label>Is Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a sourceContact was verified during the validation process.</description>
        <name>dec_wasCompleteContactVerified</name>
        <label>Was a Complete Contact Verified?</label>
        <locationX>810</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>sub_contactResolution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Verified</defaultConnectorLabel>
        <rules>
            <name>decOut_wasCompleteContactVerifiedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_evaluateContactArgument.isVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sub_evaluateContactArgument.verifiedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sub_evaluateContactArgument.parentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sub_evaluateContactArgument.parentB2CCustomerList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_allowIntegrationHelper</targetReference>
            </connector>
            <label>Was Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a Contact was resolved via the resolution process.</description>
        <name>dec_wasContactResolved</name>
        <label>Was a Contact Resolved?</label>
        <locationX>1274</locationX>
        <locationY>1283</locationY>
        <defaultConnector>
            <targetReference>dec_didResolutionErrorOccur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Resolved</defaultConnectorLabel>
        <rules>
            <name>dec_wasContactResolvedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_contactResolution.var_resolvedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sub_contactResolution.var_resolvedContactCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_doesResolvedContactHaveB2CCustomerList</targetReference>
            </connector>
            <label>Was Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a sourceContact was verified during the validation process.</description>
        <name>dec_wasContactVerified</name>
        <label>Was a Contact Verified?</label>
        <locationX>809</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>asn_defaultContactToResolve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Verified</defaultConnectorLabel>
        <rules>
            <name>dec_wasContactVerifiedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub_evaluateContactArgument.isVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sub_evaluateContactArgument.verifiedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_overWriteContactToResolve</targetReference>
            </connector>
            <label>Was Verified</label>
        </rules>
    </decisions>
    <description>... this flow acts as a serviceEntry for the Process and Resolve services -- consuming the same argument structure to provide data exposed by the processServices.</description>
    <interviewLabel>B2C Commerce: Process: Contact: Service Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact: Helper: Service Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the Parent Account to the resolvedContact.</description>
        <name>recGet_ResolvedAccount</name>
        <label>Retrieve the Parent Account</label>
        <locationX>2225</locationX>
        <locationY>1517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_shortenContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>AccountSource</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C CustomerList that is the parent to the resolvedContact.</description>
        <name>recGet_ResolvedB2CCustomerList</name>
        <label>Retrieve the Parent B2C CustomerList</label>
        <locationX>1539</locationX>
        <locationY>1046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_assignB2CCustomerListIC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sub_contactResolution.var_resolvedContact.B2C_CustomerList__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>690</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>sub_evaluateContactArgument</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... evaluate the configuration of the specified CustomerList and sourceContact to determine if integration should be enabled.</description>
        <name>sub_allowIntegrationHelper</name>
        <label>Evaluate Integration Configuration</label>
        <locationX>524</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>dec_allowIntegrationForContact</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_AllowIntegrationHelper</flowName>
        <inputAssignments>
            <name>rec_b2cCustomerList</name>
            <value>
                <elementReference>b2cCustomerList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_processMode</name>
            <value>
                <elementReference>processMode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_sourceContact</name>
            <value>
                <elementReference>contactToResolve</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... evaluate the configuration of the specified CustomerList and sourceContact to determine if integration should be enabled.</description>
        <name>sub_allowResolvedIntegrationHelper</name>
        <label>Evaluate Integration Configuration</label>
        <locationX>2016</locationX>
        <locationY>1278</locationY>
        <connector>
            <targetReference>dec_allowIntegrationForResolvedContact</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_AllowIntegrationHelper</flowName>
        <inputAssignments>
            <name>rec_b2cCustomerList</name>
            <value>
                <elementReference>icB2CCustomerList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_processMode</name>
            <value>
                <elementReference>processMode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_sourceContact</name>
            <value>
                <elementReference>icSourceContact</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... attempt to resolve the Contact against the collection of Contacts in this Salesforce Org.</description>
        <name>sub_contactResolution</name>
        <label>Attempt Contact Resolution</label>
        <locationX>1072</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>dec_wasContactResolved</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_ContactResolutionHelper</flowName>
        <inputAssignments>
            <name>var_contactToResolve</name>
            <value>
                <elementReference>contactToResolve</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... attempt to evaluate and verify the Contact argument.</description>
        <name>sub_evaluateContactArgument</name>
        <label>Evaluate the Contact Argument</label>
        <locationX>816</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>dec_hasArgumentError</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_Contact_EvaluateContactArgument</flowName>
        <inputAssignments>
            <name>sourceContact</name>
            <value>
                <elementReference>sourceContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerID</name>
            <value>
                <elementReference>var_qaB2CCustomerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerListID</name>
            <value>
                <elementReference>var_qaB2CCustomerListID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerNo</name>
            <value>
                <elementReference>var_qaB2CCustomerNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaContactID</name>
            <value>
                <elementReference>var_qaContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaEmailAddress</name>
            <value>
                <elementReference>var_qaEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaFirstName</name>
            <value>
                <elementReference>var_qaFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaLastName</name>
            <value>
                <elementReference>var_qaLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaMode</name>
            <value>
                <elementReference>var_qaMode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>... represents the parentAccount to a resolvedContact.</description>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList that will be used to validate the integration configuration.</description>
        <name>b2cCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents a resolved Contact record.</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the Contact record to be resolved and processed.</description>
        <name>contactToResolve</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... used to collect any error messages caught during processing of this flow.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList used for integration / security checks.</description>
        <name>icB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the sourceContact to use for integration permission-checks.</description>
        <name>icSourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... describes if resolution was successful (true = resolution was successful, false = resolution failed).</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the parentAccount record for the specified Contact.</description>
        <name>parentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the parent B2C CustomerList for the resolved Contact record.</description>
        <name>parentB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... describes the processMode to employ for the current service.</description>
        <name>processMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>resolve</stringValue>
        </value>
    </variables>
    <variables>
        <description>... represents the count of Contacts that were resolved.</description>
        <name>ResolutionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of Contacts that were resolved prior to filtering.</description>
        <name>ResolvedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... this flag manages if all matched results should be included -- or if just incremental results should be included</description>
        <name>returnMultiple</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents a sub-set of Contact attributes to expose representing the resolvedContact.</description>
        <name>shortenedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the sourceContact definition that will be used to resolve customerProfiles.</description>
        <name>sourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the B2C Commerce customerId representing a customerProfile.  This QA variable is used to manually set this contactProperty without defining the contactObject in debug / QA mode.</description>
        <name>var_qaB2CCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList ID used to test the B2C Contact Resolve flow.</description>
        <name>var_qaB2CCustomerListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerNo the be used to resolve the Contact within the flow.</description>
        <name>var_qaB2CCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the ContactID of the profile to resolve.</description>
        <name>var_qaContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the emailAddress used to test the B2CContactProcess sub-flow.</description>
        <name>var_qaEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the firstName of the customerProfile to be resolved -- and used to override the existing contact record.</description>
        <name>var_qaFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... placeholder variable for the contact&apos;s lastName; used to test the contact resolve flow.</description>
        <name>var_qaLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes if the current flow is operating in QAMode (when checked).  Used to override the contactObject with the individual contact attributes labeled with the QA prefix.</description>
        <name>var_qaMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents a Contact record retrieved using one of the customerProfile identifiers.</description>
        <name>verifiedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
