src/sfdc/base/main/default/flows/B2CCommerce_B2CInstance_CustomerListsSites_Activate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>... activates the CustomerLists and Sites associated to a B2C Instance.</description>
    <interviewLabel>B2C Commerce: B2C Instance: Activate CustomerLists and Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: B2C Instance: CustomerLists and Sites: Activate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the B2C Instance being activated.</description>
        <name>recGet_b2cInstance</name>
        <label>Retrieve the B2C Instance</label>
        <locationX>452</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recUpd_B2CCustomerLists</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>instanceName</elementReference>
            </value>
        </filters>
        <object>B2C_Instance__c</object>
        <outputReference>thisInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>... activate the B2C Sites related to the specified B2C Instance.</description>
        <name>recUpd_activateB2CSites</name>
        <label>Activate Related B2C Commerce Sites</label>
        <locationX>452</locationX>
        <locationY>615</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisInstance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enable_Order_on_Behalf_Of__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>B2C_Site__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>... activate the B2C CustomerLists associated to this Instance.</description>
        <name>recUpd_B2CCustomerLists</name>
        <label>Activate Related B2C CustomerLists</label>
        <locationX>452</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>recUpd_activateB2CSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisInstance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enable_Address_Publishing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enable_Address_Retrieval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enable_Profile_Creation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enable_Profile_Publishing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enable_Profile_Retrieval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enable_Profile_Updates__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>B2C_CustomerList__c</object>
    </recordUpdates>
    <start>
        <locationX>326</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>recGet_b2cInstance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the instanceName of the B2C Instance whose customerLists and sites will be activated.</description>
        <name>instanceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the collection of B2C CustomerLists.</description>
        <name>out_b2cCustomerLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the collection of updated B2C Sites</description>
        <name>out_b2cSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... represents the Id of the B2C Instance whose CustomerLists and Sites will be activated.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the current instance being processed.</description>
        <name>thisInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Instance__c</objectType>
    </variables>
</Flow>
