src/sfdc/base/main/default/flows/B2CCommerce_QuickAction_Contact_PasswordReset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>B2C_Reset_customer_password</name>
        <label>B2C: Reset customer password</label>
        <locationX>1533</locationX>
        <locationY>2667</locationY>
        <actionName>B2CIAPasswordReset</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_the_password_successfully_reset_for_the_customer</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>selectedCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <elementReference>selectedSiteApi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteId</name>
            <value>
                <elementReference>selectedSiteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>ia_getBusinessManagerUserGrant.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>selectedSiteVersion</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... obtain a Business Manager user grant from the B2C Instance.</description>
        <name>ia_getBusinessManagerUserGrant</name>
        <label>Obtain a Business Manager User Grant</label>
        <locationX>1280</locationX>
        <locationY>2354</locationY>
        <actionName>B2CIABusinessManagerGrant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_wasBMUserGrantAuthTokenReturned</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>selectedClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namedCredential</name>
            <value>
                <elementReference>selectedPasswordResetNamedCredential</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>... assign the active B2C Site Count to a local variable.</description>
        <name>asn_activeB2CSites</name>
        <label>Assign the Active B2C Site Count</label>
        <locationX>1299</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>activeB2CSitesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recGet_activeB2CSites</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activeB2CSites</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_activeB2CSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasActiveB2CSiteFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... capture the Contact identifiers used to identify the B2C Customer record.</description>
        <name>asn_b2cCustomerListAndCustomerID</name>
        <label>Capture the B2C CustomerList ID</label>
        <locationX>1463</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_CustomerList__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isAnonymousShoppingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_CustomerList__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasOnlyOneSiteFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... default the CustomerList of the Contact record.</description>
        <name>asn_customerIDAssignment</name>
        <label>Default the B2C CustomerList</label>
        <locationX>1108</locationX>
        <locationY>1410</locationY>
        <assignmentItems>
            <assignToReference>selectedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isAnonymousShoppingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasOnlyOneSiteFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... take the properties from the single B2C Site and copy them to the collection of selected values.</description>
        <name>asn_selectedB2CSiteValues</name>
        <label>Assign the Selected Site Values</label>
        <locationX>1537</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>selectedClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.B2C_Client_ID_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedCustomerListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedPasswordResetCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Customer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedPasswordResetCustomerNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedPasswordResetNamedCredential</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Named_Credential_Developer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlCustom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_Custom_Site_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlInternal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_Internal_Site_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedShopUrlType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OOBO_Active_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteApi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Base_API_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedSiteVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_iterateB2CSites.OCAPI_Version_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_iterateB2CSites</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if the CustomerList associated to a given Contact is active or present.</description>
        <name>dec_isB2CCustomerListActive</name>
        <label>Evaluate the Contact&apos;s B2C CustomerList</label>
        <locationX>1292</locationX>
        <locationY>1240</locationY>
        <defaultConnector>
            <targetReference>asn_b2cCustomerListAndCustomerID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>decOut_isB2CCustomerListActiveNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_contactRecord.B2C_CustomerList__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_customerIDAssignment</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate the configuration requirements for Password Reset and determine if the user can proceed.</description>
        <name>dec_validatePasswordResetConfigRequirements</name>
        <label>Validate Password Reset Configuration Requirements</label>
        <locationX>1271</locationX>
        <locationY>2092</locationY>
        <defaultConnector>
            <targetReference>scrn_PasswordResetConfigurationInvalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>decOut_validatePasswordResetConfigRequirementsIsValid</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) AND ((6 AND 7) OR (8 AND 9))</conditionLogic>
            <conditions>
                <leftValueReference>selectedClientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteApi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedSiteVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlInternal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedShopUrlType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lbl_b2cSiteCustomShopUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_getBusinessManagerUserGrant</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if at least one (1) active B2C Site was retrieved</description>
        <name>dec_wasActiveB2CSiteFound</name>
        <label>Was an Active B2C Site Found?</label>
        <locationX>1290</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>scrn_noActiveB2CSitesFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_ActiveB2CSiteFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeB2CSitesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Init_PasswordReset</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a Business Manager User Grant authToken was returned.</description>
        <name>dec_wasBMUserGrantAuthTokenReturned</name>
        <label>Was an AuthToken Returned?</label>
        <locationX>1272</locationX>
        <locationY>2565</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Returned</defaultConnectorLabel>
        <rules>
            <name>decOut_BMUserAuthTokenReturned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_getBusinessManagerUserGrant.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2C_Reset_customer_password</targetReference>
            </connector>
            <label>Was Returned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if only one site was found among the list of available B2C Sites supporting OOBO.</description>
        <name>dec_wasOnlyOneSiteFound</name>
        <label>Was Only One Site Found?</label>
        <locationX>1278</locationX>
        <locationY>1565</locationY>
        <defaultConnector>
            <targetReference>scrn_b2cSiteSelect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Sites</defaultConnectorLabel>
        <rules>
            <name>decOut_wasOnlyOneSiteFound_oneSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeB2CSitesCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_iterateB2CSites</targetReference>
            </connector>
            <label>Only One Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_password_successfully_reset_for_the_customer</name>
        <label>Was the password successfully reset for the customer?</label>
        <locationX>1525</locationX>
        <locationY>2842</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_Auth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Successful</defaultConnectorLabel>
        <rules>
            <name>decOut_PasswordResetWasSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B2C_Reset_customer_password.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrn_Password_Reset_Session_Success</targetReference>
            </connector>
            <label>Was Successful</label>
        </rules>
    </decisions>
    <description>... this flow is used to launch the Password Reset shopping experience for Service Agents.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of active B2C Sites mapped to the selected / filtered CustomerList.</description>
        <name>rcActiveB2CSites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enable_Password_Reset__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_CustomerList_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Instance_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>B2C_Site__c</object>
        <outputAssignments>
            <assignToReference>selectedClientId</assignToReference>
            <field>B2C_Client_ID_Value__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteApi</assignToReference>
            <field>Base_API_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlCustom</assignToReference>
            <field>Base_Custom_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlInternal</assignToReference>
            <field>Base_Internal_Site_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteId</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedSiteVersion</assignToReference>
            <field>OCAPI_Version_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedShopUrlType</assignToReference>
            <field>OOBO_Active_Url__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedPasswordResetCustomerId</assignToReference>
            <field>OOBO_Customer_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedPasswordResetCustomerNo</assignToReference>
            <field>OOBO_Customer_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedPasswordResetNamedCredential</assignToReference>
            <field>OOBO_Named_Credential_Developer_Name__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>... evaluates which storefrontUrl to leverage -- the internalUrl or the customUrl driven by the urlType configuration.</description>
        <name>frm_selectedStorefrontUrl</name>
        <dataType>String</dataType>
        <expression>IF({!selectedShopUrlType} = &quot;Internal&quot;, {!selectedShopUrlInternal}, IF(ISBLANK({!selectedShopUrlCustom}),{!selectedShopUrlInternal}, {!selectedShopUrlCustom}))</expression>
    </formulas>
    <interviewLabel>B2C Commerce: Order On Behalf Of {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Password Reset: Contacts</label>
    <loops>
        <description>... loop over the collection of B2C Sites that are available</description>
        <name>loop_iterateB2CSites</name>
        <label>Loop Over the B2C Sites</label>
        <locationX>1288</locationX>
        <locationY>1788</locationY>
        <collectionReference>recGet_activeB2CSites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_selectedB2CSiteValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_validatePasswordResetConfigRequirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the collection of active B2C Sites to validate that at least one (1) exists.</description>
        <name>recGet_activeB2CSites</name>
        <label>Get B2C Sites</label>
        <locationX>1299</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_activeB2CSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_CustomerList_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Instance_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enable_Password_Reset__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_B2C_Client_ID_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_JWT_Certificate_Verified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the contact record used to launch the Password Reset flow.</description>
        <name>recGet_contactRecord</name>
        <label>Retrieve the Contact</label>
        <locationX>1300</locationX>
        <locationY>1063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_isB2CCustomerListActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2C_Instance__c</queriedFields>
        <queriedFields>B2C_CustomerList_ID__c</queriedFields>
        <queriedFields>B2C_CustomerList__c</queriedFields>
        <queriedFields>B2C_Customer_ID__c</queriedFields>
        <queriedFields>B2C_Customer_No__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Error_Auth</name>
        <label>Error Screen</label>
        <locationX>1290</locationX>
        <locationY>2958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_b2cCommerceRESTAPIError_Headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to Create a Password Reset Session&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Error_Auth_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Error_Auth_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_ErrorWithAuth</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;The B2C Commerce Instance&apos;s REST API Responded With an Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;An error occurred when interacting with the B2C Commerce environment and attempting to authenticate the Service Against.  Please review the REST API error message(s) below for details regarding this failure.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Business Manager User Grant&lt;/b&gt;&lt;/a&gt; is used to authenticate the Service Agent against the B2C Commerce Instance&lt;/li&gt;&lt;li&gt;The &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/shop/Resources/Customers.html#id152104953__id-1055795270&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Customer Authentication&lt;/b&gt;&lt;/a&gt; is used to authenticate the B2C Commerce Customer against the selected storefront&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_restAPIError_Image</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroemergency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Error_Auth_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Error_Auth_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_bmUserGrantAuthError_subTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Business Manager User Grant&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantErrorMessage</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ia_getBusinessManagerUserGrant.errorMessage</elementReference>
                    </defaultValue>
                    <fieldText>B2C User Grant Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_BMUserGrantResponseBody</name>
                    <defaultValue>
                        <stringValue>{!ia_getBusinessManagerUserGrant.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>B2C User Grant Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Error_Auth_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_passwordResetError_subTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Password Reset&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_PasswordResetErrorMessage</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>B2C_Reset_customer_password.errorMessage</elementReference>
                    </defaultValue>
                    <fieldText>Password Reset Error Message</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_PasswordResetResponseBody</name>
                    <defaultValue>
                        <stringValue>{!B2C_Reset_customer_password.responseBody}</stringValue>
                    </defaultValue>
                    <fieldText>Password Reset Response Body</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_RESTAPIError</name>
            <fieldText>&lt;p&gt;Please resolve these error(s) prior to launching another Password Reset Shopping Session.  Verify that the&lt;a href=&quot;https://platform-velocity-6771-dev-ed.lightning.force.com/one/one.app#/settings/personal/ExternalObjectUserSettings/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt; Per-User NamedCredential&lt;/b&gt;&lt;/a&gt; for the Service Agent is configured property -- and that the password follows the &lt;a href=&quot;https://documentation.b2c.commercecloud.salesforce.com/DOC2/topic/com.demandware.dochelp/OCAPI/current/usage/OAuth.html?cp=0_15_2_23&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;SFCC &quot;Password:ClientSecret&quot; Based64 encoding structure&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Initial screen, start of Password Reset dialog</description>
        <name>Screen_Init_PasswordReset</name>
        <label>Init Screen</label>
        <locationX>1300</locationX>
        <locationY>886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recGet_contactRecord</targetReference>
        </connector>
        <fields>
            <name>lbl_launchAPasswordResetSession_headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Launch a Password Reset Session&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Init_PasswordReset_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>Screen_Init_PasswordReset_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_passwordResetIntroduction</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;About the Password Reset Configuration Requirements&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Password Reset use-case has a &lt;b&gt;number of configuration requirements&lt;/b&gt; that must be set in order for this feature to execute successfully. Please ensure that the following items have been configured in your Salesforce environment:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The &lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Site&lt;/a&gt; where Password Reset is enabled is Active&lt;/li&gt;&lt;li&gt;The &lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Site&lt;/a&gt; is configured with a valid Client ID&lt;/li&gt;&lt;li&gt;The &lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Site&lt;/a&gt; is configured with a valid OOBO Named Credential (because the password reset uses the same credentials)&lt;/li&gt;&lt;li&gt;The &lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C CustomList&lt;/a&gt; for the configured Site is Active&lt;/li&gt;&lt;li&gt;The &lt;a href=&quot;/lightning/o/B2C_Instance__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Instance&lt;/a&gt; for the related B2C CustomerList is Active&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Init_PasswordReset_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_welcomeImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astrotrailblazer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_introTextFooter</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Setup Your Agent Per-User Named Credential&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Lastly, a &lt;a href=&quot;/one/one.app#/settings/personal/ExternalObjectUserSettings/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;per-user Named Credential&lt;/b&gt;&lt;/a&gt; must be configured for each Service Agent that can reset passwords on behalf of customers.  These users must also have SFCC Account Manager Accounts mapped to the B2C Commerce storefront.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; to Continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... select a B2C Site based on the customerList that was identified.</description>
        <name>scrn_b2cSiteSelect</name>
        <label>Select a B2C Site</label>
        <locationX>1107</locationX>
        <locationY>1795</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_validatePasswordResetConfigRequirements</targetReference>
        </connector>
        <fields>
            <name>lbl_selectB2CStorefront_headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please Select a B2C Commerce Storefront&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_b2cSiteSelect_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>scrn_b2cSiteSelect_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText_SelectSite</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Reset Customer Password requires an active B2C Site&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please select the B2C Commerce Site that should be used to launch the Password Reset session.  &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>pklB2CSite</name>
                    <choiceReferences>rcActiveB2CSites</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the B2C Site for the Password Reset Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>lbl_changeYourCustomerList</name>
                    <fieldText>&lt;p&gt;Please select an active B2C Site and Click &lt;b&gt;Next&lt;/b&gt; to continue.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_b2cSiteSelect_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_storefrontSelectImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astroshopping</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... no active B2C Sites were configured. Password Reset cannot be processed.</description>
        <name>scrn_noActiveB2CSitesFound</name>
        <label>Error: No Active B2C Sites Found</label>
        <locationX>1047</locationX>
        <locationY>670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_noActiveB2CSitesExistHeadline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to Launch the Password Reset Session&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_noActiveB2CSitesFound_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>scrn_noActiveB2CSitesFound_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_noActiveB2CSitesIntroText</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;No Active B2C Sites Exists&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Password Reset session requires that at least one (1) active B2C Site is configured in this Salesforce org. The session cannot be launched without this configuration pre-requisite.  Please ensure that:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The parent &lt;a href=&quot;/lightning/o/B2C_Instance__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Instance&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;At least one (1) &lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C CustomerList&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;At least one (1) B2C Site of the active &lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C CustomerList&lt;/a&gt; is active&lt;/li&gt;&lt;li&gt;The active &lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;B2C Site&lt;/a&gt; has the &lt;b&gt;Enable Password Reset&lt;/b&gt; permission turned on&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please review each of these configuration properties to ensure that related &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_Instance__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Instance&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;, &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_CustomerList__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;CustomerList&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;, and &lt;/span&gt;&lt;a href=&quot;/lightning/o/B2C_Site__c/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(61, 62, 63);&quot;&gt;&lt;u&gt;Site&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; are enabled -- and then retry launching the password reset session.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_noActiveB2CSitesFound_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_noActiveB2CSitesErrorImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astrosecurity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>Password Reset Setup: Info</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... Displays the success message from the password reset session</description>
        <name>scrn_Password_Reset_Session_Success</name>
        <label>Password Reset Session Success</label>
        <locationX>1532</locationX>
        <locationY>3079</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_successMessage_headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;The Customer Password Successfully Reset&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_Password_Reset_Session_Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>scrn_Password_Reset_Session_Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_successMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;The customer should have received an email asking to click on the reset link. This link will allow the customer to reset the password tied to the customer profile.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_Password_Reset_Session_Success_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_success_image</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>astrosuccess</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_successCustomerDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Customer Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;As a reminder, the Password Reset session has been done for the following customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_Password_Reset_Session_Success_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>scrn_Password_Reset_Session_Success_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_PasswordResetSuccessContactID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.Id</elementReference>
                    </defaultValue>
                    <fieldText>Contact ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_PasswordResetSuccessFirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_PasswordResetSuccessLastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_PasswordResetSuccessEmail</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_Password_Reset_Session_Success_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_B2CCustomerListID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_CustomerList_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>B2C CustomerList ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_PasswordResetSuccessCustomerID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>B2C Customer ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_PasswordResetSuccessCustomerNo</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recGet_contactRecord.B2C_Customer_No__c</elementReference>
                    </defaultValue>
                    <fieldText>B2C Customer No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Click &lt;b&gt;Finish &lt;/b&gt;to &lt;b&gt;cancel &lt;/b&gt;OOBO launch.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... explain to the user that the Password Reset configuration is invalid -- and could not be advanced.</description>
        <name>scrn_PasswordResetConfigurationInvalid</name>
        <label>Error: Password Reset Configuration Invalid</label>
        <locationX>1098</locationX>
        <locationY>2082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lbl_b2cSiteConfigurationInvalid_Headline</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unable to Create a Password Reset Session&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CouldNotInvokeCallout_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The configuration Is Invalid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please validate that the selected Storefront&apos;s configuration is valid -- and is not missing key details.  Review the following configuration values and note which values are missing or potentially configured incorrectly.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Remember to create the Per-User Named Credential for the Service Agent&lt;/li&gt;&lt;li&gt;The siteUrlType specified must have a corresponding URL define&lt;/li&gt;&lt;li&gt;The contact record needs a valid B2C Customer ID / Customer No pair&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrn_PasswordResetConfigurationInvalid_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fields>
                <name>scrn_PasswordResetConfigurationInvalid_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_errorConfigSite</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;B2C Site Details&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lbl_b2cSiteId</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteId</elementReference>
                    </defaultValue>
                    <fieldText>Site ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteClientID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedClientId</elementReference>
                    </defaultValue>
                    <fieldText>Client ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the namedCredential used to perform system-to-system REST API interactions between the Salesforce Platform and B2C Commerce.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteOCAPIVersion</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedSiteVersion</elementReference>
                    </defaultValue>
                    <fieldText>OCAPI Version</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the OCAPI Version number used to drive REST API interactions.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrn_PasswordResetConfigurationInvalid_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lbl_b2cSiteShopUrlType</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlType</elementReference>
                    </defaultValue>
                    <fieldText>Configured Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the version of the storefront url that will be used to launch the password reset session.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteInteralShopUrl</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlInternal</elementReference>
                    </defaultValue>
                    <fieldText>Internal Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the internal SFCC storefront url leveraging the base B2C Instance Url.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteCustomShopUrl</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedShopUrlCustom</elementReference>
                    </defaultValue>
                    <fieldText>Custom Shop URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;... represents the external customer-facing SFCC storefront url.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>lbl_b2cSiteNamedCredential</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedPasswordResetNamedCredential</elementReference>
                    </defaultValue>
                    <fieldText>Per-User Named Credential</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;... represents the per-user Named Credential used to authenticate Service Agents as B2C Commerce Business Manager Agents.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_b2cSiteConfigurationErrorFooter</name>
            <fieldText>&lt;p&gt;Please note that the configured Shop URL type must have a valid URL value.  Validate that each of these settings is configured with correct values -- and try launching the Password Reset shopping session for the selected customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1173</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>recGet_activeB2CSites</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... records the number of active customerLists present.</description>
        <name>activeB2CCustomerListCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of active B2C Sites configured for the current Salesforce org.</description>
        <name>activeB2CSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... manages the count of active B2C Sites for the selected B2C CustomerList</description>
        <name>activeB2CSitesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the customerList attached to the Contact</description>
        <name>contactCustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes whether the current shopping session is anonymous or for a specific customer</description>
        <name>isAnonymousShoppingSession</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the selected B2C CustomerList</description>
        <name>selectedCustomerListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedNamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPasswordResetCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the CustomerNo mapped to a given user.</description>
        <name>selectedPasswordResetCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the OOBO Named Credential (per-user used to authenticate an Agent).</description>
        <name>selectedPasswordResetNamedCredential</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the custom storefront Url for a given B2C Site.</description>
        <name>selectedShopUrlCustom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedShopUrlInternal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the type of shopUrl that is active for the reset password experience.</description>
        <name>selectedShopUrlType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RefArch</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedSiteVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the configured storefrontUrl (either the internal or custom based on the urlType configured).</description>
        <name>selectedStorefrontUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
