src/sfdc/base/main/default/flows/B2CCommerce_B2CSite_SitesEvaluate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignB2CClientID</name>
        <label>Assign the B2C Client ID</label>
        <locationX>1258</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>EvalSite_Loop.B2C_Client_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_B2CClientID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecord_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>copyB2CClientIDToSite</name>
        <label>Assign the B2C Client ID</label>
        <locationX>201</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>CurrentSite_Loop.B2C_Client_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_B2CClientID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyValues_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyValues_Assignment</name>
        <label>Copy Eval Site Values</label>
        <locationX>577</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>CurrentSite_Loop.API_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalSite_Loop.API_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSite_Loop.CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalSite_Loop.CustomerList_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSite_Loop.Storefront_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EvalSite_Loop.Storefront_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateRecord_Assignment</name>
        <label>Add to the Create Collection</label>
        <locationX>1258</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>CreateSiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EvalSite_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EvalSite_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... set the recordFound flag to false for every site record being evaluated.</description>
        <name>recordFoundInit_Assignment</name>
        <label>Default the recordFound flag</label>
        <locationX>748</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>recordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentSite_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecord_Assignment</name>
        <label>Add to the Update Collection</label>
        <locationX>199</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>UpdateSiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSite_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentSite_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>existsB2CClientIDForSite</name>
        <label>Is the B2C Client ID Mapped to this Site?</label>
        <locationX>194</locationX>
        <locationY>916</locationY>
        <defaultConnector>
            <targetReference>CopyValues_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>populateB2CClientIDForSite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSite_Loop.B2C_Client_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentSite_Loop.B2C_Client_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>copyB2CClientIDToSite</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordFound_Decision</name>
        <label>Was the Eval Site Found in the Current Site Collection?</label>
        <locationX>738</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>CurrentSite_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Is Not Found</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_RecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EvalSite_Loop.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentSite_Loop.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existsB2CClientIDForSite</targetReference>
            </connector>
            <label>Record Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a Site was matched between the current and evaluation collections.</description>
        <name>RecordNotFound_Decision</name>
        <label>Was a Site Found?</label>
        <locationX>972</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>EvalSite_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_RecordNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignB2CClientID</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>... this flow compares retrieved B2C Sites against existing B2C Sites and evaluates if the B2C ClientID should be applied.  It also determines which Sites should be created (because they do not exist) or updated (because they exist).</description>
    <interviewLabel>B2C Commerce: Evaluate Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: B2C Instance: Sites: Evaluate</label>
    <loops>
        <description>... loop over the collection of currently configured / setup sites.</description>
        <name>CurrentSite_Loop</name>
        <label>Loop Over the Current Site Collection</label>
        <locationX>748</locationX>
        <locationY>449</locationY>
        <collectionReference>CurrentSiteList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordFound_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecordNotFound_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EvalSite_Loop</name>
        <label>EvalSite Loop</label>
        <locationX>981</locationX>
        <locationY>241</locationY>
        <collectionReference>EvalSiteList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>recordFoundInit_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>855</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>EvalSite_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <name>CurrentSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <name>EvalSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <name>recordFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UpdateSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>B2C ClientID of the related B2C instance.</description>
        <name>var_B2CClientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
