src/sfdc/base/main/default/flows/B2CCommerce_Process_ContactFilterMatches.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>... assigns the count of contactMatches to evaluate if this flow should process.</description>
        <name>asn_contactMatchesCount</name>
        <label>Assign contactMatches Count</label>
        <locationX>1053</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>var_contactMatchesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactMatches</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wereMatchResultsFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... store the count of email / lastName matches that were recorded.</description>
        <name>asn_emailLastNameMatchesCount</name>
        <label>Assign the Email LastName Matches Count</label>
        <locationX>709</locationX>
        <locationY>3274</locationY>
        <assignmentItems>
            <assignToReference>var_contactMatchesEmailLastNameCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactMatchesEmailLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasMoreThanOneSimpleMatchFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... exit early, as there are no matches to iterate over</description>
        <name>asn_noMatchesToProcess</name>
        <label>No Matches to Process</label>
        <locationX>816</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... since only one match was found -- overwrite the contactMatches result with the simple results.</description>
        <name>asn_overwriteContactMatchesWithSimpleResults</name>
        <label>Overwrite the Contact Matches with the Simple Match Results</label>
        <locationX>710</locationX>
        <locationY>3745</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactMatchesEmailLastName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ContactMatchesResult_Assignment</name>
        <label>ContactMatchesResult Assignment</label>
        <locationX>1709</locationX>
        <locationY>1396</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerIdMatches_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerIdMatches_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMatchResultForCustomerListIdAndCustomerNo_Assignment</name>
        <label>ContactMatchResultForCustomerListIdAndCustomerNo Assignment</label>
        <locationX>373</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListIdCustomerNo_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdCustomerNo_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMatchResultForCustomerListIdEmail_Assignment</name>
        <label>ContactMatchResultForCustomerListIdEmail Assignment</label>
        <locationX>1719</locationX>
        <locationY>2611</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListIdEmail_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdEmail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMatchResultForCustomerListIdEmail_Assignment_0</name>
        <label>ContactMatchResultForCustomerListIdEmail Assignment</label>
        <locationX>263</locationX>
        <locationY>3033</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesEmailLastName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LastNameEmail_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LastNameEmail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMatchResultForCustomerListIdEmailDefaultLastName_Assignment_0</name>
        <label>ContactMatchResultForCustomerListIdEmailDefaultLastName Assignment</label>
        <locationX>373</locationX>
        <locationY>2291</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListIdEmailDefaultLastName_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdEmailDefaultLastName_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactMatchResultForCustomerListIdLastNameEmail_Assignment</name>
        <label>ContactMatchResultForCustomerListIdLastNameEmail Assignment</label>
        <locationX>1712</locationX>
        <locationY>2015</locationY>
        <assignmentItems>
            <assignToReference>ContactMatchesResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListIdLastNameEmail_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>matchesFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdLastNameEmail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerIdCustomerListAndCustomerNoMismatch_Assignment</name>
        <label>CustomerIdCustomerListAndCustomerNoMismatch Assignment</label>
        <locationX>1401</locationX>
        <locationY>1611</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerIdMatchIdentifiers_Subflow.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerIdMatches_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerIdCustomerListAndCustomerNoMismatch_Assignment2</name>
        <label>CustomerIdCustomerListAndCustomerNoMismatch Assignment2</label>
        <locationX>702</locationX>
        <locationY>1892</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListCustomerNoMatchIdentifiers_Subflow.errors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdCustomerNo_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerListEmailError_Assignment</name>
        <label>CustomerListEmailError Assignment</label>
        <locationX>1373</locationX>
        <locationY>2842</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListEmailMatchIdentifiers_Subflow.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdEmail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerListLastNameEmailError_Assignment</name>
        <label>CustomerListLastNameEmailError Assignment</label>
        <locationX>1371</locationX>
        <locationY>2240</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListLastNameEmailMatchIdentifiers_Subflow.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdLastNameEmail_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerListLastNameEmailError_Assignment_0</name>
        <label>CustomerListLastNameEmailError Assignment</label>
        <locationX>701</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerListEmailDefaultLastNameMatchIdentifiers_Subflow.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomerListIdEmailDefaultLastName_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CustomerIdMatch_Decision</name>
        <label>Does CustomerId Match?</label>
        <locationX>1704</locationX>
        <locationY>1219</locationY>
        <defaultConnector>
            <targetReference>CustomerIdMatches_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match CustomerId</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerIdMatches</name>
            <conditionLogic>(2 AND 1)</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerIdMatches_Loop.B2C_Customer_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerIdMatches_Loop.B2C_Customer_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerIdMatchIdentifiers_Subflow</targetReference>
            </connector>
            <label>Customer Id Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerIdSet_Decision</name>
        <label>Was CustomerId Set?</label>
        <locationX>1045</locationX>
        <locationY>1212</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdAndCustomerNoSet_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Set</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerIdWasSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerIdMatches_Loop</targetReference>
            </connector>
            <label>Customer Id Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdAndCustomerNoMatch_Decision</name>
        <label>Does CustomerListId and CustomerNo Match?</label>
        <locationX>366</locationX>
        <locationY>1533</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdCustomerNo_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdAndCustomerNoMatches2</name>
            <conditionLogic>3 AND (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdCustomerNo_Loop.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdCustomerNo_Loop.B2C_Customer_No__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListIdCustomerNo_Loop.B2C_Customer_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListCustomerNoMatchIdentifiers_Subflow</targetReference>
            </connector>
            <label>CustomerListId and CustomerNo Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdAndCustomerNoSet_Decision</name>
        <label>Was CustomerListId and CustomerNo Set?</label>
        <locationX>1046</locationX>
        <locationY>1530</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdLastNameAndEmailSet_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Set</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdAndCustomerNoWasSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_Customer_No__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdCustomerNo_Loop</targetReference>
            </connector>
            <label>CustomerListId and CustomerNo Was Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdAndEmailMatch_Decision</name>
        <label>Does CustomerListId and Email Match</label>
        <locationX>1710</locationX>
        <locationY>2419</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdEmail_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdAndEmailDoesMatch</name>
            <conditionLogic>3 AND (2 AND 1)</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdEmail_Loop.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdEmail_Loop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListIdEmail_Loop.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListEmailMatchIdentifiers_Subflow</targetReference>
            </connector>
            <label>CustomerListId and Email Does Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdAndEmailSet_Decision</name>
        <label>Was CustomerListId and Email Set?</label>
        <locationX>1047</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>LastNameEmailSet_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdEmailWereSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdEmail_Loop</targetReference>
            </connector>
            <label>CustomerListId and Email Were Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdEmailDefaultLastNameMatch_Decision</name>
        <label>Does CustomerListId Email Default LastName Match?</label>
        <locationX>361</locationX>
        <locationY>2100</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdEmailDefaultLastName_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdEmailDefaultLastNameDoesMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdEmailDefaultLastName_Loop.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdEmailDefaultLastName_Loop.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdEmailDefaultLastName_Loop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListIdEmailDefaultLastName_Loop.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListEmailDefaultLastNameMatchIdentifiers_Subflow</targetReference>
            </connector>
            <label>CustomerListId Email Default LastName Does Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>CustomerListIdLastNameAndEmailMatch_Decision</name>
        <label>Does CustomerListId LastName and Email Match</label>
        <locationX>1697</locationX>
        <locationY>1826</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdLastNameEmail_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdLastNameAndEmailDoesMatch</name>
            <conditionLogic>4 AND (1 AND 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdLastNameEmail_Loop.B2C_CustomerList_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdLastNameEmail_Loop.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerListIdLastNameEmail_Loop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomerListIdLastNameEmail_Loop.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListLastNameEmailMatchIdentifiers_Subflow</targetReference>
            </connector>
            <label>CustomerListId LastName and Email Does Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if a CustomerList, Email, and LastName combination was set -- where the lastName does not equal the default record.</description>
        <name>CustomerListIdLastNameAndEmailSet_Decision</name>
        <label>Was CustomerListId Email LastName Set?</label>
        <locationX>1046</locationX>
        <locationY>1829</locationY>
        <defaultConnector>
            <targetReference>dec_wasCustomerListIdEmailDefaultLastNameSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdLastNameAndEmailWereSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recGet_defaultConfigurationProfile.Default_Contact_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdLastNameEmail_Loop</targetReference>
            </connector>
            <label>CustomerListId LastName and Email Were Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if a CustomerList, Email, and the default LastName combination was set -- where the lastName does not equal the default record.</description>
        <name>dec_wasCustomerListIdEmailDefaultLastNameSet</name>
        <label>Was CustomerListId Email Default LastName Set?</label>
        <locationX>1046</locationX>
        <locationY>2105</locationY>
        <defaultConnector>
            <targetReference>CustomerListIdAndEmailSet_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdLastNameAndEmailWereSet_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recGet_defaultConfigurationProfile.Default_Contact_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerListIdEmailDefaultLastName_Loop</targetReference>
            </connector>
            <label>CustomerListId Email Default LastName Were Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if a match was found -- and if not, attempts to match on the simplest terms seeking only one record to match.</description>
        <name>dec_wasCustomerMatchFound</name>
        <label>Was a Match Found?</label>
        <locationX>699</locationX>
        <locationY>3037</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_customerMatchFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_emailLastNameMatchesCount</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate how many simple matches were found; if only one was found -- absorb it as the final match.</description>
        <name>dec_wasMoreThanOneSimpleMatchFound</name>
        <label>Was Only One Match Found?</label>
        <locationX>701</locationX>
        <locationY>3503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decOut_oneSimpleMatchFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contactMatchesEmailLastNameCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_overwriteContactMatchesWithSimpleResults</targetReference>
            </connector>
            <label>One Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if matches were found by the duplicate rules and presented in a collection to this flow.</description>
        <name>dec_wereMatchResultsFound</name>
        <label>Were Matched Found?</label>
        <locationX>1045</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>asn_noMatchesToProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_matchesWereFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contactMatchesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_defaultConfiguration</targetReference>
            </connector>
            <label>Matches Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_CustomerList_Identifier_Match</name>
        <label>Does CustomerList Identifier Match?</label>
        <locationX>2039</locationX>
        <locationY>2833</locationY>
        <defaultConnector>
            <targetReference>CustomerListEmailError_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdentifiersMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerListEmailMatchIdentifiers_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchResultForCustomerListIdEmail_Assignment</targetReference>
            </connector>
            <label>CustomerList Email Identifier Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_CustomerListCustomerNo_Identifier_Match</name>
        <label>Does CustomerListCustomerNo Identifier Match?</label>
        <locationX>50</locationX>
        <locationY>1890</locationY>
        <defaultConnector>
            <targetReference>CustomerIdCustomerListAndCustomerNoMismatch_Assignment2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListCustomerNoIdentifiersMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerListCustomerNoMatchIdentifiers_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchResultForCustomerListIdAndCustomerNo_Assignment</targetReference>
            </connector>
            <label>CustomerListCustomerNo Identifiers Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesCustomerIdIdentifierMatch_Decision</name>
        <label>Does CustomerId Identifier Match?</label>
        <locationX>2037</locationX>
        <locationY>1606</locationY>
        <defaultConnector>
            <targetReference>CustomerIdCustomerListAndCustomerNoMismatch_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerIdIdentifiersMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerIdMatchIdentifiers_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchesResult_Assignment</targetReference>
            </connector>
            <label>CustomerId Identifiers Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>LastNameEmailMatch_Decision</name>
        <label>Does LastName and Email Match?</label>
        <locationX>255</locationX>
        <locationY>2706</locationY>
        <defaultConnector>
            <targetReference>LastNameEmail_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_LastNameAndEmailDoesMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastNameEmail_Loop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LastNameEmail_Loop.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastNameEmail_Loop.B2C_CustomerList_ID__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchResultForCustomerListIdEmail_Assignment_0</targetReference>
            </connector>
            <label>LastName and Email Does Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>LastNameEmailSet_Decision</name>
        <label>Was LastName and Email Set?</label>
        <locationX>1046</locationX>
        <locationY>2703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_LastNameEmailWereSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>matchesFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastNameEmail_Loop</targetReference>
            </connector>
            <label>LastName and Email Were Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeIs_DoesCustomerListIdEmailDefaultLastNameIdentifiersMatch</name>
        <label>Does CustomerListId Email Default LastName Identifiers Match?</label>
        <locationX>53</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>CustomerListLastNameEmailError_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdEmailDefaultLastNameIsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerListEmailDefaultLastNameMatchIdentifiers_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchResultForCustomerListIdEmailDefaultLastName_Assignment_0</targetReference>
            </connector>
            <label>CustomerListId Email DefaultLastName Identifiers Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeIs_DoesCustomerListIdLastNameEmailIdentifiersMatch</name>
        <label>Does CustomerListIdLastNameEmail Identifiers Match?</label>
        <locationX>2042</locationX>
        <locationY>2236</locationY>
        <defaultConnector>
            <targetReference>CustomerListLastNameEmailError_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Match</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CustomerListIdLastNameEmailIdentifiersMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerListLastNameEmailMatchIdentifiers_Subflow.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactMatchResultForCustomerListIdLastNameEmail_Assignment</targetReference>
            </connector>
            <label>CustomerListIdLastNameEmail Identifiers Match</label>
        </rules>
    </decisions>
    <description>... this flow takes a Contact record and collection of potential matches -- and evaluates if the Contact can me matches to one of the Contact records in the potential match collection.</description>
    <interviewLabel>B2C Commerce: Contact Filter Matches {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Contact Filter Matches</label>
    <loops>
        <name>CustomerIdMatches_Loop</name>
        <label>CustomerIdMatches Loop</label>
        <locationX>1401</locationX>
        <locationY>1217</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerIdMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CustomerListIdAndCustomerNoSet_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CustomerListIdCustomerNo_Loop</name>
        <label>CustomerListIdCustomerNo Loop</label>
        <locationX>702</locationX>
        <locationY>1528</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerListIdAndCustomerNoMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CustomerListIdLastNameAndEmailSet_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>... loop over the collection of resolved results and evaluate the CustomerList / Email combinations.</description>
        <name>CustomerListIdEmail_Loop</name>
        <label>CustomerListIdEmail Loop</label>
        <locationX>1373</locationX>
        <locationY>2424</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerListIdAndEmailMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LastNameEmailSet_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CustomerListIdEmailDefaultLastName_Loop</name>
        <label>CustomerListId Email Default LastName Loop</label>
        <locationX>701</locationX>
        <locationY>2103</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerListIdEmailDefaultLastNameMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CustomerListIdAndEmailSet_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CustomerListIdLastNameEmail_Loop</name>
        <label>CustomerListIdLastNameEmail Loop</label>
        <locationX>1371</locationX>
        <locationY>1831</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerListIdLastNameAndEmailMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_wasCustomerListIdEmailDefaultLastNameSet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>... loop over the collection of resolved results and evaluate the LastName / Email combinations.</description>
        <name>LastNameEmail_Loop</name>
        <label>LastNameEmail Loop</label>
        <locationX>706</locationX>
        <locationY>2703</locationY>
        <collectionReference>ContactMatches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LastNameEmailMatch_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_wasCustomerMatchFound</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the default meta-data configuration for b2c-crm-sync.</description>
        <name>recGet_defaultConfiguration</name>
        <label>Identify the Default Configuration</label>
        <locationX>1053</locationX>
        <locationY>814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_defaultConfigurationProfile</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRM_Sync_Default_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the configuration profile that is mapped to the default configuration.</description>
        <name>recGet_defaultConfigurationProfile</name>
        <label>Retrieve the Configuration Profile</label>
        <locationX>1053</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerIdSet_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_defaultConfiguration.Active_Configuration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRMSync_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>927</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>asn_contactMatchesCount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CustomerIdMatchIdentifiers_Subflow</name>
        <label>CustomerIdMatchIdentifiers Subflow</label>
        <locationX>2045</locationX>
        <locationY>1216</locationY>
        <connector>
            <targetReference>DoesCustomerIdIdentifierMatch_Decision</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_ContactMatchIdentifiers</flowName>
        <inputAssignments>
            <name>SourceContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetContact</name>
            <value>
                <elementReference>CustomerIdMatches_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CustomerListCustomerNoMatchIdentifiers_Subflow</name>
        <label>CustomerListCustomerNoMatchIdentifiers Subflow</label>
        <locationX>58</locationX>
        <locationY>1528</locationY>
        <connector>
            <targetReference>Does_CustomerListCustomerNo_Identifier_Match</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_ContactMatchIdentifiers</flowName>
        <inputAssignments>
            <name>SourceContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetContact</name>
            <value>
                <elementReference>CustomerListIdCustomerNo_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CustomerListEmailDefaultLastNameMatchIdentifiers_Subflow</name>
        <label>CustomerList Email DefaultLastName MatchIdentifiers Subflow</label>
        <locationX>61</locationX>
        <locationY>2101</locationY>
        <connector>
            <targetReference>OutcomeIs_DoesCustomerListIdEmailDefaultLastNameIdentifiersMatch</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_ContactMatchIdentifiers</flowName>
        <inputAssignments>
            <name>SourceContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetContact</name>
            <value>
                <elementReference>CustomerListIdEmailDefaultLastName_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CustomerListEmailMatchIdentifiers_Subflow</name>
        <label>CustomerListEmailMatchIdentifiers Subflow</label>
        <locationX>2047</locationX>
        <locationY>2417</locationY>
        <connector>
            <targetReference>Does_CustomerList_Identifier_Match</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_ContactMatchIdentifiers</flowName>
        <inputAssignments>
            <name>SourceContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetContact</name>
            <value>
                <elementReference>CustomerListIdEmail_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CustomerListLastNameEmailMatchIdentifiers_Subflow</name>
        <label>CustomerListLastNameEmail MatchIdentifiers Subflow</label>
        <locationX>2050</locationX>
        <locationY>1821</locationY>
        <connector>
            <targetReference>OutcomeIs_DoesCustomerListIdLastNameEmailIdentifiersMatch</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_ContactMatchIdentifiers</flowName>
        <inputAssignments>
            <name>SourceContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetContact</name>
            <value>
                <elementReference>CustomerListIdLastNameEmail_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents duplicates that match on CustomerList / Email independent of the Default LastName.</description>
        <name>ContactCustomerListEmailDuplicates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactMatches</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents simple contact matches (only on email and lastName)</description>
        <name>ContactMatchesEmailLastName</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactMatchesResult</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>matchesFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the count of CustomerList / Email duplicates found.</description>
        <name>var_contactDuplicateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents a count of the contactMatches provided to this flow.</description>
        <name>var_contactMatchesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the total count of simple Email / LastName matches.</description>
        <name>var_contactMatchesEmailLastNameCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
