src/sfdc/base/main/default/flows/B2CCommerce_Schedule_B2CClientID_AuthTokensDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>... deletes the expired or invalid authTokens associated to a given B2C Client ID.</description>
    <interviewLabel>B2C Commerce: Schedule: B2C Client ID: AuthTokens: Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Schedule: B2C Client ID: AuthTokens: Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>... delete the expired B2C AuthTokens from the Salesforce Org.</description>
        <name>recDel_b2cAuthTokens</name>
        <label>Delete Expired B2C AuthToken Records</label>
        <locationX>508</locationX>
        <locationY>497</locationY>
        <inputReference>recGet_expiredAuthTokens</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>... retrieve the collection of expired authTokens for a given B2C ClientID.</description>
        <name>recGet_expiredAuthTokens</name>
        <label>Get Expired AuthTokens</label>
        <locationX>509</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recDel_b2cAuthTokens</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>B2C_Client_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_AuthToken__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>Expiration_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>383</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>recGet_expiredAuthTokens</targetReference>
        </connector>
        <object>B2C_Client_ID__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-07-12</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
