src/sfdc/base/main/default/flows/B2CContactProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... this action remove the read-only PersonAccount properties attached to a Contact from the Contact -- so that the Contact record can be independently updated.</description>
        <name>ia_removeROAccountPropertiesFromContact</name>
        <label>Remove Read-Only Account Properties</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <actionName>B2CIARemovePAPropertiesFromContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>recUpd_sourceContactUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contact</name>
            <value>
                <elementReference>resolvedContactToUpdate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>resolvedContactToUpdate</assignToReference>
            <name>processedContact</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>... attempt to take the sourceContact attributes and apply them to the resolvedContact.</description>
        <name>ia_synchronizeContactValues</name>
        <label>Synchronize Contact Values</label>
        <locationX>600</locationX>
        <locationY>638</locationY>
        <actionName>B2CIASynchronizeContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_EvaluateContactRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceContact</name>
            <value>
                <elementReference>sourceContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetContact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>resolvedContactToUpdate</assignToReference>
            <name>synchronizedTargetContact</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>asn_AccountIDToSourceContact</name>
        <label>Assign the AccountID to the Contact</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>resolvedContactToUpdate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_contactProcessSuccessfully_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the Account Name to the Business Account after the recordType is created.</description>
        <name>asn_AccountNameToBusinessAccount</name>
        <label>Assign the Account Name to the Business Account</label>
        <locationX>1458</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_accountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recCreate_ParentB2CAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C Account Properties to the Contact&apos;s parent Account (Name and RecordTypeId).</description>
        <name>asn_B2CAccountRecordType</name>
        <label>Assign the B2C Account Properties</label>
        <locationX>1458</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer - Direct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sub_calculateAccountName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... ensure that the sourceContact has a well defined B2C CustomerList relationship.</description>
        <name>asn_B2CCustomerListRelationship_Update</name>
        <label>Assign the B2C CustomerList Relationship</label>
        <locationX>798</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>resolvedContactToUpdate.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_b2cCustomerList.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resolvedContactToUpdate.B2C_CustomerList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_b2cCustomerList.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_updateArePersonAccountsEnabled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... alert the user that updates cannot be made without identifiers being provided.</description>
        <name>asn_cannotUpdateWithoutIdentifiers</name>
        <label>Error: Cannot Update Without Identifiers</label>
        <locationX>1062</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully resolved a record but could not process an update.  Please include at least one set of identifiers to update this record.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resolvedContactToUpdate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... set the output variables for the successful processing of the sourceContact record.</description>
        <name>asn_contactProcessSuccessfully_Update</name>
        <label>Contact Processed Successfully</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resolvedContactToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentAccount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error that Contact Integration is disabled.</description>
        <name>asn_ErrorContactIntegrationDisabled_Assignment</name>
        <label>Error: Contact Integration Disabled</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>B2C Commerce Integration is disabled for this Contact.  Please check the Contact record and try again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resolvedContactToUpdate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... throw an error explaining the Contact&apos;s attributes must include a LastName if a CustomerList / CustomerNo are not provided.</description>
        <name>asn_ErrorContactLastNameMissing_Assignment</name>
        <label>Error: Contact LastName is Missing</label>
        <locationX>1326</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>synchronizedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_defaultConfiguration.Default_Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recGet_B2CRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... throw an error explaining that multiple Contacts were resolved.</description>
        <name>asn_ErrorMultipleContactsResolved_Assignment</name>
        <label>Error: Multiple Contacts Resolved</label>
        <locationX>1766</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactResolutionErrors</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... assign the parent B2C Commerce Account to the Contact</description>
        <name>asn_parentB2CAccount</name>
        <label>Assign the Parent Account to the Contact</label>
        <locationX>1458</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>synchronizedContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recCreate_BusinessRecord_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the parent B2C CustomerList to the sourceContact.</description>
        <name>asn_parentB2CCustomerListID</name>
        <label>Assign the B2C CustomerList</label>
        <locationX>1458</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>synchronizedContact.B2C_CustomerList__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_b2cCustomerList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>synchronizedContact.B2C_CustomerList_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_b2cCustomerList.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_doesContactHaveLastName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... record the resolutionError and expose it to the caller.</description>
        <name>asn_resolutionError</name>
        <label>Resolution Error</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactResolutionErrors</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... set the success flag and announce that the Contact Processing was successful</description>
        <name>ContactCreateSuccess_Assignment</name>
        <label>Contact Processed Successfully Assignment</label>
        <locationX>1458</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>synchronizedContact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>... evaluate if we can resolve the Contact record using the identifiers provided.</description>
        <name>dec_CanWeResolveThisContact</name>
        <label>Was a Contact Resolved?</label>
        <locationX>1040</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Unknown Outcome</defaultConnectorLabel>
        <rules>
            <name>decOut_resolutionError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactWasResolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactResolutionErrors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_resolutionError</targetReference>
            </connector>
            <label>Resolution Error</label>
        </rules>
        <rules>
            <name>decOut_ContactWasResolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactResolutionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactWasResolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_synchronizeContactValues</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>decOut_ContactWasNotResolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactResolutionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactWasResolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_B2CCommerceContactAssignmentHelper</targetReference>
            </connector>
            <label>Not Resolved</label>
        </rules>
        <rules>
            <name>decOut_multipleContactsResolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactResolutionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactWasResolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_ErrorMultipleContactsResolved_Assignment</targetReference>
            </connector>
            <label>Multiple Resolutions</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C CustomerList relationship already exists on the sourceContact.</description>
        <name>dec_doesB2CCustomerListRelationshipExist</name>
        <label>Does a B2C CustomerList Relationship Exist?</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>asn_B2CCustomerListRelationship_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resolvedContactToUpdate.B2C_CustomerList__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_updateArePersonAccountsEnabled</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a Contact has a lastName assigned -- and prevent saving of the Account / Contact records if one is not provided.</description>
        <name>dec_doesContactHaveLastName</name>
        <label>Does the Contact Have a LastName Assigned?</label>
        <locationX>1458</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>recGet_B2CRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assigned</defaultConnectorLabel>
        <rules>
            <name>decOut_ContactLastNameIsNotAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>synchronizedContact.LastName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_ErrorContactLastNameMissing_Assignment</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates the Contact Record to determine if it can be processed.</description>
        <name>dec_EvaluateContactRecord</name>
        <label>Evaluate the Contact Record</label>
        <locationX>600</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>dec_isTrustworthyIDPresentInOriginalContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Process Contact Update</defaultConnectorLabel>
        <rules>
            <name>decOut_ContactCannotBeUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resolvedContactToUpdate.B2C_Disable_Integration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_ErrorContactIntegrationDisabled_Assignment</targetReference>
            </connector>
            <label>Contact Cannot be Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the contact is missing its parent AccountID</description>
        <name>dec_isContactMissingAccountID</name>
        <label>Is the Contact Missing an AccountID?</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>asn_contactProcessSuccessfully_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Missing</defaultConnectorLabel>
        <rules>
            <name>decOut_AccountIDIsMissing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>resolvedContactToUpdate.AccountId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_AccountIDToSourceContact</targetReference>
            </connector>
            <label>Is Missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>... check the originalContact and evaluate if at least one set of identifiers was included.</description>
        <name>dec_isTrustworthyIDPresentInOriginalContact</name>
        <label>Is An ID Present in the originalContact?</label>
        <locationX>886</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>asn_cannotUpdateWithoutIdentifiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IDs Not Present</defaultConnectorLabel>
        <rules>
            <name>decOut_IdsArePresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resolvedContactToUpdate.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_doesB2CCustomerListRelationshipExist</targetReference>
            </connector>
            <label>IDs Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>... retrieve the configured customerModel to leverage when synchronizing B2C Commerce Customer Profiles.</description>
        <name>dec_RetrieveCustomerModel</name>
        <label>Retrieve the Customer Model</label>
        <locationX>1458</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>B2CCommerce_Process_PlatformEventHelper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accounts / Contacts Enabled</defaultConnectorLabel>
        <rules>
            <name>decOut_PersonAccountsEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_defaultConfiguration.Account_Contact_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_B2CPARecordType</targetReference>
            </connector>
            <label>PersonAccounts Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if PersonAccounts are enabled as the active customerModel.</description>
        <name>dec_updateArePersonAccountsEnabled</name>
        <label>Are PersonAccounts Enabled as the Active CustomerModel?</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>recUpd_sourceContactUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enabled</defaultConnectorLabel>
        <rules>
            <name>decOut_updatePersonAccountsEnabledTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_defaultConfiguration.Account_Contact_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_removeROAccountPropertiesFromContact</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <description>... this flow is used to execute Contact Processing requests from B2C Commerce -- and evaluate if a Contact record should be created or updated within the Salesforce Platform.</description>
    <interviewLabel>B2C Commerce: Create Or Update Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Process: Create Or Update Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>... create the Contact Record for the B2C Business Account</description>
        <name>recCreate_BusinessRecord_Create</name>
        <label>Create B2C Business Contact Record</label>
        <locationX>1458</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>dec_RetrieveCustomerModel</targetReference>
        </connector>
        <inputReference>synchronizedContact</inputReference>
    </recordCreates>
    <recordCreates>
        <description>... create the Parent B2C Account so that we can attach the Contact record to it.</description>
        <name>recCreate_ParentB2CAccount</name>
        <label>Create the Parent Account</label>
        <locationX>1458</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>asn_parentB2CAccount</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordCreates>
    <recordLookups>
        <description>... retrieve the recordType describing B2C Customer Profiles so it can be added to the Person Account.</description>
        <name>recGet_B2CPARecordType</name>
        <label>Get the B2C Person Account RecordType</label>
        <locationX>1326</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recUpd_PersonAccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_defaultConfiguration.PersonAccount_Record_Type_Developername__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the recordType describing B2C Customer Profiles so it can be added to the Account.</description>
        <name>recGet_B2CRecordType</name>
        <label>Get the B2C Business Account RecordType</label>
        <locationX>1458</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_B2CAccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_defaultConfiguration.Account_Record_Type_Developername__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the defaultConfiguration for the current b2c-crm-sync instance.</description>
        <name>recGet_defaultConfiguration</name>
        <label>Get the Default Configuration</label>
        <locationX>1040</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CanWeResolveThisContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_IdentifyDefaultConfiguration.Active_Configuration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRMSync_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... identify which b2c-crm-sync configuration profile is being used as the default.</description>
        <name>recGet_IdentifyDefaultConfiguration</name>
        <label>Identify the Default Configuration</label>
        <locationX>1040</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_defaultConfiguration</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRM_Sync_Default_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>... update the recordType on the Account to convert it to a PersonAccount.</description>
        <name>recUpd_PersonAccountRecordType</name>
        <label>Update the RecordType on the Account</label>
        <locationX>1326</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>B2CCommerce_Process_PlatformEventHelper</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recGet_B2CPARecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>... update the sourceContact record accordingly.</description>
        <name>recUpd_sourceContactUpdate</name>
        <label>Update the Contact Record</label>
        <locationX>710</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>B2CCommerce_PlatformEvent_ProcessContactUpdate</targetReference>
        </connector>
        <inputReference>resolvedContactToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sub_resolveCustomerProfile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... generate the Contact Process Platform Event.</description>
        <name>B2CCommerce_PlatformEvent_ProcessContactUpdate</name>
        <label>Create the Contact Process Platform Event</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>dec_isContactMissingAccountID</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_PlatformEventHelper</flowName>
        <inputAssignments>
            <name>var_contactToProcess</name>
            <value>
                <elementReference>resolvedContactToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_customerList</name>
            <value>
                <elementReference>var_b2cCustomerList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_platformEventProcess</name>
            <value>
                <stringValue>retrieve</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... generate the Contact Process Platform Event.</description>
        <name>B2CCommerce_Process_PlatformEventHelper</name>
        <label>Create the Contact Process Platform Event</label>
        <locationX>1458</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>ContactCreateSuccess_Assignment</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_PlatformEventHelper</flowName>
        <inputAssignments>
            <name>var_contactToProcess</name>
            <value>
                <elementReference>synchronizedContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_customerList</name>
            <value>
                <elementReference>var_b2cCustomerList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_platformEventProcess</name>
            <value>
                <stringValue>retrieve</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>... this flow is used to take Contact properties from the sourceContact presented to this flow -- and assign them to the output Contact that will be returned in the flow results.</description>
        <name>sub_B2CCommerceContactAssignmentHelper</name>
        <label>Assign Source Contact Properties</label>
        <locationX>1458</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>asn_parentB2CCustomerListID</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_ContactAssignmentHelper</flowName>
        <inputAssignments>
            <name>assignedContact</name>
            <value>
                <elementReference>var_resolvedContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceContact</name>
            <value>
                <elementReference>sourceContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_defaultContactName</name>
            <value>
                <elementReference>recGet_defaultConfiguration.Default_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>synchronizedContact</assignToReference>
            <name>assignedContact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>... attempt to calculate the Account Name based on the Contact properties provided.</description>
        <name>sub_calculateAccountName</name>
        <label>Calculate the Account Name</label>
        <locationX>1458</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>asn_AccountNameToBusinessAccount</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_AccountAssignmentHelper</flowName>
        <inputAssignments>
            <name>sourceContact</name>
            <value>
                <elementReference>synchronizedContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_defaultAccountName</name>
            <value>
                <elementReference>recGet_defaultConfiguration.Default_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_accountName</assignToReference>
            <name>var_accountName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>... attempt to resolve a customerProfile using the serviceArguments.</description>
        <name>sub_resolveCustomerProfile</name>
        <label>Resolve a Customer profile</label>
        <locationX>1040</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>recGet_IdentifyDefaultConfiguration</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_Contact_HelperServiceEntry</flowName>
        <inputAssignments>
            <name>returnMultiple</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceContact</name>
            <value>
                <elementReference>sourceContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerID</name>
            <value>
                <elementReference>var_qaB2CCustomerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerListID</name>
            <value>
                <elementReference>var_qaB2CCustomerListID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerNo</name>
            <value>
                <elementReference>var_qaB2CCustomerNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaContactID</name>
            <value>
                <elementReference>var_qaContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaEmailAddress</name>
            <value>
                <elementReference>var_qaEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaFirstName</name>
            <value>
                <elementReference>var_qaFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaLastName</name>
            <value>
                <elementReference>var_qaLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaMode</name>
            <value>
                <elementReference>var_qaMode</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Account</assignToReference>
            <name>Account</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact</assignToReference>
            <name>Contact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>seContactToResolve</assignToReference>
            <name>contactToResolve</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactResolutionErrors</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactWasResolved</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>parentAccount</assignToReference>
            <name>parentAccount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_b2cCustomerList</assignToReference>
            <name>parentB2CCustomerList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactResolutionCount</assignToReference>
            <name>ResolutionCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sourceContact</assignToReference>
            <name>sourceContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_resolvedContact</assignToReference>
            <name>verifiedContact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the resolved Contact Record via non-ContactID means</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... used to capture the number of contacts resolved by the B2C CustomerResolution IA.</description>
        <name>ContactResolutionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the collection of errors captured during the contactResolution process.</description>
        <name>ContactResolutionErrors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the successFlag value from the contactResolution class.</description>
        <name>ContactWasResolved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the resolved parentAccount from the resolutionProcess.</description>
        <name>parentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the resolvedContact that will be updated as part of the resolutionFlow.</description>
        <name>resolvedContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the contactToResolve produced by the Service Entry flow.</description>
        <name>seContactToResolve</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the input parameters used to process a Contact record.</description>
        <name>sourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the combination of the source and resolvedContact.</description>
        <name>synchronizedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the name applied to the B2C Commerce Account.</description>
        <name>var_accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... variable used to store the B2C CustomerList details that other elements of this flow are dependent on.</description>
        <name>var_b2cCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the iterative count of resolvedContact items</description>
        <name>var_loopResolvedContactIterationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the customerID used to process the Contact within the flow.</description>
        <name>var_qaB2CCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList ID used to test the B2C Contact Process flow.</description>
        <name>var_qaB2CCustomerListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerNo the be used to process the Contact within the flow.</description>
        <name>var_qaB2CCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the ContactID the be used to process the Contact within the flow.</description>
        <name>var_qaContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the emailAddress used to test the B2CContactProcess sub-flow.</description>
        <name>var_qaEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the firstName of the QA Contact to assemble for testing.</description>
        <name>var_qaFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... placeholder variable for the contact&apos;s lastName.</description>
        <name>var_qaLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes if the current flow is operating in QAMode</description>
        <name>var_qaMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the resolvedContact provided by the contactResolutionHelper.</description>
        <name>var_resolvedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
