src/sfdc/base/main/default/flows/B2CCommerce_QuickAction_B2CSite_NamedCredentialAssign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>... assign the B2C Site NamedCredential value.</description>
        <name>asn_b2cSiteAMNamedCredential</name>
        <label>Assign the Named Credential Value</label>
        <locationX>754</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>varB2CSite.Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pkl_FilteredNamedCredentials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasOOBONCSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the Certificate value.</description>
        <name>asn_b2cSiteCertificate</name>
        <label>Assign the Certificate value</label>
        <locationX>297</locationX>
        <locationY>1369</locationY>
        <assignmentItems>
            <assignToReference>varB2CSite.JWT_Certificate_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SiteCertificate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_hasSiteBeenUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C Site ClientID value.</description>
        <name>asn_b2cSiteClientID</name>
        <label>Assign the B2C Client ID value</label>
        <locationX>767</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>varB2CSite.B2C_Client_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SiteClientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasCertificateSpecified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C Site NamedCredential value.</description>
        <name>asn_b2cSiteOOBONamedCredential</name>
        <label>Assign the Named Credential Value</label>
        <locationX>290</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>varB2CSite.OOBO_Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pkl_OOBOFilteredNamedCredentials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wasB2CClientIDSpecified</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>... represents an affirmative choice to associate the selected Named Credential to all CustomerLists.</description>
        <name>cbxB2C_addNamedCredentialToCustomerLists</name>
        <choiceText>Associate this Named Credential to the Instance&apos;s related CustomerLists</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <description>... evaluate if the current site has been updated via the three exposed fields.</description>
        <name>dec_hasSiteBeenUpdated</name>
        <label>Has the Site Been Updated</label>
        <locationX>525</locationX>
        <locationY>1622</locationY>
        <defaultConnectorLabel>Not Updated</defaultConnectorLabel>
        <rules>
            <name>decOut_hasSiteBeenUpdatedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recUpd_assignNamedCredential</targetReference>
            </connector>
            <label>Has Been Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the B2C ClientID was specified.</description>
        <name>dec_wasB2CClientIDSpecified</name>
        <label>Was the B2C Client ID Specified?</label>
        <locationX>526</locationX>
        <locationY>1119</locationY>
        <defaultConnector>
            <targetReference>dec_wasCertificateSpecified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_b2cClientIDWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteClientId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varB2CSite.B2C_Client_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cSiteClientID</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Certificate was specified.</description>
        <name>dec_wasCertificateSpecified</name>
        <label>Was a Certificate Specified?</label>
        <locationX>528</locationX>
        <locationY>1368</locationY>
        <defaultConnector>
            <targetReference>dec_hasSiteBeenUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_certificateWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteCertificate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varB2CSite.JWT_Certificate_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cSiteCertificate</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a client-based namedCredential was specified; this is the namedCredential for site communication -- vs. OOBO interactions.</description>
        <name>dec_wasClientNCSelected</name>
        <label>Was a Client Named Credential Selected?</label>
        <locationX>528</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>dec_wasOOBONCSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_clientNCWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pkl_FilteredNamedCredentials</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varB2CSite.Named_Credential_Developer_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cSiteAMNamedCredential</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the oobo-based namedCredential was specified.</description>
        <name>dec_wasOOBONCSelected</name>
        <label>Was the OOBO Named Credential Selected?</label>
        <locationX>527</locationX>
        <locationY>889</locationY>
        <defaultConnector>
            <targetReference>dec_wasB2CClientIDSpecified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>decOut_ooboNCWasSpecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pkl_OOBOFilteredNamedCredentials</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varB2CSite.OOBO_Named_Credential_Developer_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cSiteOOBONamedCredential</targetReference>
            </connector>
            <label>Was Specified</label>
        </rules>
    </decisions>
    <description>... allows System Administrators to assign Named Credentials, a JWT Certificate, and the B2C Client ID to a B2C Commerce Site record.</description>
    <dynamicChoiceSets>
        <description>... represents the collection of filtered named credentials that are mapped to B2C Commerce Account Manager</description>
        <name>rcB2C_AMNamedCredentials</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNamedCredentialFilterValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varB2CSite.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>... represents the Named Credential associated to the selected B2C Site.</description>
        <name>rcB2C_B2CSiteNamedCredential</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varB2CSite.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varNamedCredentialFilterValue</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>... represents the selected OOBO Named Credential for the current B2C Site.</description>
        <name>rcB2C_B2CSiteOOBO</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varOOBOFilterValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varB2CSite.OOBO_Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcB2C_OOBO</name>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varOOBOFilterValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varB2CSite.OOBO_Named_Credential_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>NamedCredential</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>B2C Commerce: Screen: Assign Named Credential to B2C Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: B2C Site: Configuration Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the current B2C Site being interacted with.</description>
        <name>recGet_B2CSite</name>
        <label>Get the Current B2C Site</label>
        <locationX>536</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>b2c_selectANamedCredential</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2C_Site__c</object>
        <outputReference>varB2CSite</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Named_Credential_Developer_Name__c</queriedFields>
        <queriedFields>OOBO_Named_Credential_Developer_Name__c</queriedFields>
        <queriedFields>B2C_Client_ID__c</queriedFields>
        <queriedFields>JWT_Certificate_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>... assigns the selected Named Credential to the selected B2C Site.</description>
        <name>recUpd_assignNamedCredential</name>
        <label>Assign Named Credential to B2C Site</label>
        <locationX>534</locationX>
        <locationY>1859</locationY>
        <inputReference>varB2CSite</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>... visual widget enabling users to select which named credential should be used to generate a B2C Commerce REST API AuthToken.</description>
        <name>b2c_selectANamedCredential</name>
        <label>Select a B2C Commerce Account Manager Credential to Use</label>
        <locationX>536</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_wasClientNCSelected</targetReference>
        </connector>
        <fields>
            <name>lblB2C_namedCredentialDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Specify an Integration Configuration for this B2C Site&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please specify the named credential, certificate, and B2C Client that should be assigned to the selected B2C Site.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pkl_FilteredNamedCredentials</name>
            <choiceReferences>rcB2C_B2CSiteNamedCredential</choiceReferences>
            <choiceReferences>rcB2C_AMNamedCredentials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Named Credential to Associate with this B2C Site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;The list of Named Credentials presented in this flow are filtered from the super-set of credentials managed by this Salesforce Org.  To appear in this list, Named Credentials must have the phrase &quot;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;B2C_AMCredentials&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&quot;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;present in their Developer Name.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SiteCertificate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varB2CSite.JWT_Certificate_Name__c</elementReference>
            </defaultValue>
            <fieldText>Specify the Certificate to use with this Named Credential</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;... represents the certificate developerName that will be used with this namedCredential to mint a JWT and exchange it for a B2C Commerce Account Manager AuthToken.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SiteClientId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varB2CSite.B2C_Client_ID__c</elementReference>
            </defaultValue>
            <fieldText>Specify the B2C Client ID to use with this Named Credential</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;... represents the B2C ClientID that will be used with this namedCredential to mint a JWT and exchange it for a B2C Commerce Account Manager AuthToken.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lblB2C_ooboDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Select a Default Named Credential for Order On Behalf Of (OOBO)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please select the named credential that should be used when executing the Order On Behalf Of use-case.  This use case requires a perUser Named Credential that is separate from the site credential defined above.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pkl_OOBOFilteredNamedCredentials</name>
            <choiceReferences>rcB2C_B2CSiteOOBO</choiceReferences>
            <choiceReferences>rcB2C_OOBO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Named Credential to Leverage for Order on Behalf of</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>recGet_B2CSite</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... internal flag to determine if the site definition has been updated.</description>
        <name>isUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the recordId of the current selected B2C Instance.  We&apos;ll use it to retrieve the record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the active / selected B2C Site.</description>
        <name>varB2CSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... represents the string value used to filter applicable Named Credentials.</description>
        <name>varNamedCredentialFilterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>B2C_AMCredentials</stringValue>
        </value>
    </variables>
    <variables>
        <description>... represents the Named Credential value used to identify Named Credentials that can be used with the OOBO use-case.</description>
        <name>varOOBOFilterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OOBO</stringValue>
        </value>
    </variables>
</Flow>
