src/sfdc/base/main/default/flows/B2CCommerce_B2CCustomerList_ListSitesNamedCredentialApply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>... apply the current site to the collection used to process updates.</description>
        <name>asn_addB2CSiteToUpdateCollection</name>
        <label>Add the Site to the Update Collection</label>
        <locationX>496</locationX>
        <locationY>1497</locationY>
        <assignmentItems>
            <assignToReference>recCol_b2cSitesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisSite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_b2cSites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... apply the CustomerList&apos;s NamedCredential to the Site&apos;s AM NamedCredential value</description>
        <name>asn_B2CSiteNamedCredentialSet</name>
        <label>Apply the Named Credential to the Site</label>
        <locationX>496</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>thisSite.Named_Credential_Developer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisCustomerList.Named_Credential_Developer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_addB2CSiteToUpdateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... apply the recordCount of sites for consuming parent-flows.</description>
        <name>asn_b2cSitesRecordCount</name>
        <label>Set the Sites RecordCount</label>
        <locationX>1026</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>recOut_sitesRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recGet_b2cSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_wereB2CSitesRetrieved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... create a local reference to the current B2C Site being processed.</description>
        <name>asn_b2cSiteToThisSite</name>
        <label>Abstract the Current B2C Site</label>
        <locationX>677</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>thisSite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_b2cSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asn_B2CSiteNamedCredentialSet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluate if any B2C Sites were retrieved for a given CustomerList.</description>
        <name>dec_wereB2CSitesRetrieved</name>
        <label>Were Any Sites Retrieved?</label>
        <locationX>1018</locationX>
        <locationY>942</locationY>
        <defaultConnector>
            <targetReference>loop_b2cSites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sites Found</defaultConnectorLabel>
        <rules>
            <name>decOut_noSitesRetrived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_b2cSites</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Sites Found</label>
        </rules>
    </decisions>
    <description>... apply the AM NamedCredential value associated to a given B2C CustomerList to its child Sites.</description>
    <interviewLabel>B2C Commerce: B2C CustomerList: Sites: AM NamedCredential: Apply {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: B2C CustomerList: Sites: AM NamedCredentials: Apply</label>
    <loops>
        <description>... iterate over the collection of sites and process updates to each one.</description>
        <name>loop_b2cSites</name>
        <label>Loop Over the Collection of Sites</label>
        <locationX>1026</locationX>
        <locationY>1165</locationY>
        <collectionReference>recGet_b2cSites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asn_b2cSiteToThisSite</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>recUpd_b2cSites</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... retrieve the B2C Commerce CustomerList to process.</description>
        <name>recGet_b2cCustomerList</name>
        <label>Retrieve the B2C CustomerList</label>
        <locationX>1028</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_b2cSites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2C_CustomerList__c</object>
        <outputReference>thisCustomerList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Named_Credential_Developer_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the collection of sites that are associated to the B2C CustomerList.</description>
        <name>recGet_b2cSites</name>
        <label>Retrieve the CustomerList&apos;s Sites</label>
        <locationX>1027</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_b2cSitesRecordCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisCustomerList.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>B2C_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>... record the changes to the related B2C Sites</description>
        <name>recUpd_b2cSites</name>
        <label>Update the B2C Sites</label>
        <locationX>1027</locationX>
        <locationY>1484</locationY>
        <inputReference>recCol_b2cSitesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>902</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>recGet_b2cCustomerList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the collection of B2C Site definitions to update.</description>
        <name>recCol_b2cSitesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
    <variables>
        <description>... represents the identifier for the B2C CustomerList being processed.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the count of sites updated.</description>
        <name>recOut_sitesRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the current B2C CustomerList being evaluated.</description>
        <name>thisCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the current B2C Site being processed</description>
        <name>thisSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_Site__c</objectType>
    </variables>
</Flow>
