src/sfdc/base/main/default/flows/B2CCommerce_PlatformEvent_ProcessContactUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>... evaluate if we should persist the B2C AuthToken properties -- and also evaluate if we should include the B2C AuthToken integration properties.</description>
        <name>ia_persistAndAuditB2CAuthToken</name>
        <label>Persist and Audit the B2C AuthToken</label>
        <locationX>665</locationX>
        <locationY>4309</locationY>
        <actionName>B2CIAPersistB2CAuthToken</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accessToken</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.accessToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountManagerUrl</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.accountManagerUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>auditAuthenticationAPIInteractions</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.auditAuthenticationAPIInteractions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cClientId</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.b2cClientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cClientIdRecordId</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.b2cClientIdRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bypassAuthTokenAuditing</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.bypassAuthTokenAuditing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expiresIn</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.expiresIn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isError</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.isError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>persistAuthToken</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.persistAuthToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.requestBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseBody</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.responseBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusCode</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.statusCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tokenType</name>
            <value>
                <elementReference>ia_requestB2CAuthToken.tokenType</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>... update the Salesforce Contact leveraging the data retrieved from B2C Commerce.</description>
        <name>ia_processContactUpdateB2CProfile</name>
        <label>Process Contact Update from B2C Commerce</label>
        <locationX>79</locationX>
        <locationY>3647</locationY>
        <actionName>B2CIAProcessCustomerProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_AuditB2CCustomerProfileRetrieveResponse</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>b2cCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerNo</name>
            <value>
                <elementReference>$Record.B2C_Customer_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmCustomerListId</name>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isError</name>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.isError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseBody</name>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.responseBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.status</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>... takes the response provided by the publish event and updates the B2C Commerce profile accordingly.</description>
        <name>ia_processPublishContactUpdateB2CProfile</name>
        <label>Process Contact Update from B2C Commerce</label>
        <locationX>1240</locationX>
        <locationY>3657</locationY>
        <actionName>B2CIAProcessCustomerProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_auditContactUpdateFromPublishResponse</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>b2cCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerNo</name>
            <value>
                <elementReference>$Record.B2C_Customer_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isError</name>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.isError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseBody</name>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.responseBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusCode</name>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.statusCode</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>... take the specified Contact and publish field updates to B2C Commerce based on updatable field mappings created</description>
        <name>ia_publishB2CCommerceProfileUpdates</name>
        <label>Publish Updates to the B2C Commerce Profile</label>
        <locationX>985</locationX>
        <locationY>3244</locationY>
        <actionName>B2CIAPublishCustomerProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_hasB2CCommerceProfileBeenUpdated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiUrl</name>
            <value>
                <elementReference>recGet_B2CCustomerList.Base_API_Url__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apiVersion</name>
            <value>
                <elementReference>$Record.OCAPI_Version_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cAuthToken</name>
            <value>
                <elementReference>B2CAuthToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerNo</name>
            <value>
                <elementReference>$Record.B2C_Customer_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cProfileJSON</name>
            <value>
                <elementReference>$Record.B2C_Profile_Publish_JSON__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContact</name>
            <value>
                <elementReference>recGet_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmCustomerListId</name>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... request a B2C AuthToken via the Account Manager configuration.</description>
        <name>ia_requestB2CAuthToken</name>
        <label>Request a B2C AuthToken</label>
        <locationX>300</locationX>
        <locationY>2813</locationY>
        <actionName>B2CIARequestB2CAuthToken</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_wasB2CAuthTokenRetrieved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>auditAuthenticationAPIInteractions</name>
            <value>
                <elementReference>recGet_B2CCustomerList.B2C_Client_ID__r.Audit_Authentication_API_Interactions__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cClientId</name>
            <value>
                <elementReference>recGet_B2CCustomerList.B2C_Client_ID_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cClientIdRecordId</name>
            <value>
                <elementReference>recGet_B2CCustomerList.B2C_Client_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jwtCertificate</name>
            <value>
                <elementReference>recGet_B2CCustomerList.JWT_Certificate_Name__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... retrieve the B2C Commerce Customer Profile via the OCAPI REST API.</description>
        <name>ia_retrieveB2CCommerceCustomerProfile</name>
        <label>Retrieve the B2C Commerce Customer Profile</label>
        <locationX>336</locationX>
        <locationY>3245</locationY>
        <actionName>B2CIAGetCustomerProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_B2CCustomerProfileDetailsRetrievedSuccessfully</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiUrl</name>
            <value>
                <elementReference>recGet_B2CCustomerList.Base_API_Url__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apiVersion</name>
            <value>
                <elementReference>$Record.OCAPI_Version_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cAuthToken</name>
            <value>
                <elementReference>B2CAuthToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerListId</name>
            <value>
                <elementReference>$Record.B2C_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b2cCustomerNo</name>
            <value>
                <elementReference>$Record.B2C_Customer_No__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmContactId</name>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crmCustomerListId</name>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>... validates the integration configuration for the selected Contact and returns configuration properties that indicate if integration can continue for the configured processMode</description>
        <name>ia_validateIntegrationConfiguration</name>
        <label>Validate Integration Configuration</label>
        <locationX>651</locationX>
        <locationY>1385</locationY>
        <actionName>B2CIAValidateContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dec_isIntegrationEnabledForPlatformEvent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>b2cInstance</name>
            <value>
                <elementReference>recGet_B2CInstance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contact</name>
            <value>
                <elementReference>recGet_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerList</name>
            <value>
                <elementReference>recGet_B2CCustomerList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processMode</name>
            <value>
                <elementReference>$Record.Process_Mode__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>... assign the B2C AuthToken to a local variable for future reference.</description>
        <name>asn_b2cAuthToken</name>
        <label>Assign the B2C AuthToken</label>
        <locationX>652</locationX>
        <locationY>2815</locationY>
        <assignmentItems>
            <assignToReference>B2CAuthToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_B2CAuthToken.B2C_AuthToken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_RetrieveOrPublishB2CCustomerProfiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... assign the B2C AuthToken to a local variable for future reference.</description>
        <name>asn_b2cAuthToken_0</name>
        <label>Assign the B2C AuthToken</label>
        <locationX>522</locationX>
        <locationY>3041</locationY>
        <assignmentItems>
            <assignToReference>B2CAuthToken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ia_requestB2CAuthToken.accessToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_RetrieveOrPublishB2CCustomerProfiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... increment the retryCount by one</description>
        <name>asn_incrementRetryCount</name>
        <label>Increment the RetryCount</label>
        <locationX>42</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>authTokenRetryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_hasRetryCountBeenExceeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... capture the retryCount from the AccountManager configuration settings.</description>
        <name>asn_retryCount</name>
        <label>Assign the RetryCount</label>
        <locationX>652</locationX>
        <locationY>2235</locationY>
        <assignmentItems>
            <assignToReference>RetryCountPicklistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recGet_accountManagerConfig.Retry_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recGet_B2CAuthToken</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>... evaluates if the B2C Commerce Customer Profile response should be audited.</description>
        <name>dec_AuditB2CCustomerProfileRetrieveResponse</name>
        <label>Audit the Details of the B2C Commerce Response</label>
        <locationX>328</locationX>
        <locationY>3929</locationY>
        <defaultConnector>
            <targetReference>dec_isAuthTokenPersistenceEnabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Audit API Response</defaultConnectorLabel>
        <rules>
            <name>decOutcome_AuditRetrieveAPIResponse</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Audit_API_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recGet_B2CCustomerList.Audit_OCAPI_API_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_contactValidateRetrieve</targetReference>
            </connector>
            <label>Audit API Response</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact update driven by the publish response should be audited.</description>
        <name>dec_auditContactUpdateFromPublishResponse</name>
        <label>Audit the Details of the Contact Update</label>
        <locationX>978</locationX>
        <locationY>3939</locationY>
        <defaultConnector>
            <targetReference>dec_isAuthTokenPersistenceEnabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Audit the Contact Update</defaultConnectorLabel>
        <rules>
            <name>decOut_AuditContactUpdateFromPublish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Audit_API_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recGet_B2CCustomerList.Audit_OCAPI_API_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_contactValidatePublish</targetReference>
            </connector>
            <label>Audit the Contact Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if B2C Commerce Customer Profile Details were successfully retrieved from the specified B2C Commerce Instance and CustomerList.</description>
        <name>dec_B2CCustomerProfileDetailsRetrievedSuccessfully</name>
        <label>Were B2C Customer Profile Details Successfully Retrieved</label>
        <locationX>328</locationX>
        <locationY>3652</locationY>
        <defaultConnector>
            <targetReference>ia_processContactUpdateB2CProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes; Details Retrieved</defaultConnectorLabel>
        <rules>
            <name>decOutcome_B2CCustomerProfileDetailHasError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_retrieveB2CCommerceCustomerProfile.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_AuditB2CCustomerProfileRetrieveResponse</targetReference>
            </connector>
            <label>No; An Error Was Caught</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact has a parent Account; if not -- exit early (do not process the Contact update).</description>
        <name>dec_doesContactHaveParentAccount</name>
        <label>Does the Contact Have a Parent Account?</label>
        <locationX>644</locationX>
        <locationY>861</locationY>
        <defaultConnector>
            <targetReference>recGet_B2CCustomerList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Has a Parent Account</defaultConnectorLabel>
        <rules>
            <name>decOut_ContactDoesNotHaveParentAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_Contact.Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Does Not Have a Parent Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if the Contact&apos;s fields that are mapped to B2C Customer Profile properties have been updated.</description>
        <name>dec_hasB2CCommerceProfileBeenUpdated</name>
        <label>Has the Update Been Published to the B2C Commerce Profile?</label>
        <locationX>977</locationX>
        <locationY>3658</locationY>
        <defaultConnector>
            <targetReference>ia_processPublishContactUpdateB2CProfile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes; Updates were Published</defaultConnectorLabel>
        <rules>
            <name>decOutcome_B2CProfileUpdatesWerePublished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_publishB2CCommerceProfileUpdates.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_auditContactUpdateFromPublishResponse</targetReference>
            </connector>
            <label>No; An Error Was Caught</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the retryCount has been exceeded during the retrieval of B2C AuthTokens via the Account Manager configuration.</description>
        <name>dec_hasRetryCountBeenExceeded</name>
        <label>Has the RetryCount Been Exceeded?</label>
        <locationX>294</locationX>
        <locationY>2575</locationY>
        <defaultConnector>
            <targetReference>ia_requestB2CAuthToken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exceeded</defaultConnectorLabel>
        <rules>
            <name>dec_hasRetryCountBeenExceededTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>authTokenRetryCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>RetryCountLimit</elementReference>
                </rightValue>
            </conditions>
            <label>Has Been Exceeded</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if authToken persistence is enabled -- and authTokens should be written to the Salesforce org.</description>
        <name>dec_isAuthTokenPersistenceEnabled</name>
        <label>Is AuthToken Persistence Enabled?</label>
        <locationX>657</locationX>
        <locationY>4059</locationY>
        <defaultConnectorLabel>Is Not Enabled</defaultConnectorLabel>
        <rules>
            <name>dec_isAuthTokenPersistenceEnabledTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_requestB2CAuthToken</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ia_requestB2CAuthToken.bypassAuthTokenAuditing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ia_requestB2CAuthToken.persistAuthToken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_persistAndAuditB2CAuthToken</targetReference>
            </connector>
            <label>Is Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates the integration configuration validation results -- and either moves forward with the integration event or stops event processing.</description>
        <name>dec_isIntegrationEnabledForPlatformEvent</name>
        <label>Is Integration Enabled for this Event?</label>
        <locationX>643</locationX>
        <locationY>1542</locationY>
        <defaultConnector>
            <targetReference>recGet_defaultConfiguration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integration is Enabled</defaultConnectorLabel>
        <rules>
            <name>decOut_integrationIsDisabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_validateIntegrationConfiguration.allowIntegrationProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Integration is Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>... validate the ProcessMode attached to the Platform Event.</description>
        <name>dec_isProcessModeValid</name>
        <label>Is ProcessMode Valid</label>
        <locationX>645</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>recGet_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ProcessMode is Valid</defaultConnectorLabel>
        <rules>
            <name>decOutcome_ProcessModeIsInValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Mode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>retrieve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Mode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>publish</stringValue>
                </rightValue>
            </conditions>
            <label>ProcessMode is InValid</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate the ProcessMode of the Platform Event to determine how to execute the event (either retrieving customerProfile details or publishing customerProfile details).</description>
        <name>dec_RetrieveOrPublishB2CCustomerProfiles</name>
        <label>Retrieve or Publish B2C Customer Profiles?</label>
        <locationX>633</locationX>
        <locationY>3250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decOutcome_retrieveB2CCustomerProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>retrieve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_retrieveB2CCommerceCustomerProfile</targetReference>
            </connector>
            <label>Retrieve B2C Commerce Customer Profile</label>
        </rules>
        <rules>
            <name>decOutcome_publishB2CCustomerProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>publish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ia_publishB2CCommerceProfileUpdates</targetReference>
            </connector>
            <label>Publish B2C Commerce Customer Profile</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the specified Contact was retrieved successfully.</description>
        <name>dec_verifyContactWasFound</name>
        <label>Was the Contact Found?</label>
        <locationX>644</locationX>
        <locationY>632</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>decOut_ContactWasVerfiied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Contact_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recGet_Contact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_doesContactHaveParentAccount</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a B2C AuthToken was retrieved via the Account Manager configuration.</description>
        <name>dec_wasB2CAuthTokenRetrieved</name>
        <label>Was a B2C AuthToken Retrieved?</label>
        <locationX>292</locationX>
        <locationY>3043</locationY>
        <defaultConnector>
            <targetReference>asn_incrementRetryCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Retrieved</defaultConnectorLabel>
        <rules>
            <name>dec_wasB2CAuthTokenRetrievedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ia_requestB2CAuthToken.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ia_requestB2CAuthToken.statusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cAuthToken_0</targetReference>
            </connector>
            <label>Was Retrieved</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact was verified prior to auditing.</description>
        <name>dec_wasContactVerified</name>
        <label>Was the Contact Verified?</label>
        <locationX>78</locationX>
        <locationY>4182</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>decOut_wasContactVerifiedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_contactValidateRetrieve</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recCreate_B2CRetrieveContactIntegrationHistory</targetReference>
            </connector>
            <label>Was Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if the Contact was verified prior to auditing.</description>
        <name>dec_wasContactVerifiedPublish</name>
        <label>Was the Contact Verified?</label>
        <locationX>1236</locationX>
        <locationY>4168</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>decOut_wasContactVerifiedPublishTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_contactValidatePublish</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recCreate_B2CRetrieveContactIntegrationHistoryFromPublish</targetReference>
            </connector>
            <label>Was Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluate if a valid B2C AuthToken was retrieved for the specified B2C Client ID.</description>
        <name>dec_wasValidB2CAuthTokenFound</name>
        <label>Was a Valid B2C AuthToken Found?</label>
        <locationX>643</locationX>
        <locationY>2575</locationY>
        <defaultConnector>
            <targetReference>dec_hasRetryCountBeenExceeded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Found</defaultConnectorLabel>
        <rules>
            <name>dec_wasValidB2CAuthTokenFoundTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_B2CAuthToken</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asn_b2cAuthToken</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <description>... this flow is used to retrieve, process, and write B2C Commerce Customer Profile details retrieved via the B2C Commerce OCAPI REST API back to the mapped Salesforce Contact object managed by the Salesforce Platform.</description>
    <formulas>
        <description>... represents the number of retries to support when requesting a B2C AuthToken.</description>
        <name>RetryCountLimit</name>
        <dataType>Number</dataType>
        <expression>VALUE({!RetryCountPicklistValue})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>B2C Commerce: Platform Event: Process Contact: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Platform Event: Process Contact Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>... audit the B2C Commerce Customer Profile integration results for the specific Contact record.</description>
        <name>recCreate_B2CRetrieveContactIntegrationHistory</name>
        <label>Audit the B2C Commerce Customer Profile</label>
        <locationX>337</locationX>
        <locationY>4338</locationY>
        <connector>
            <targetReference>dec_isAuthTokenPersistenceEnabled</targetReference>
        </connector>
        <inputAssignments>
            <field>API_Url__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.apiUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2C_AuthToken__c</field>
            <value>
                <elementReference>B2CAuthToken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2C_CustomerList__c</field>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Has_Error__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.isError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_JSON__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.responseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Message__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Payload__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.requestBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status_Code__c</field>
            <value>
                <elementReference>ia_retrieveB2CCommerceCustomerProfile.statusCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Platform_Event_Processed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Mode__c</field>
            <value>
                <elementReference>$Record.Process_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Contact_Integration_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>... audit the B2C Commerce Customer Profile integration results for the specific Contact record.</description>
        <name>recCreate_B2CRetrieveContactIntegrationHistoryFromPublish</name>
        <label>Audit the B2C Commerce Customer Profile</label>
        <locationX>987</locationX>
        <locationY>4329</locationY>
        <connector>
            <targetReference>dec_isAuthTokenPersistenceEnabled</targetReference>
        </connector>
        <inputAssignments>
            <field>API_Url__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.apiUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2C_AuthToken__c</field>
            <value>
                <elementReference>B2CAuthToken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2C_CustomerList__c</field>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Has_Error__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.isError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_JSON__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.responseBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Message__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Payload__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.requestBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Status_Code__c</field>
            <value>
                <elementReference>ia_publishB2CCommerceProfileUpdates.statusCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Platform_Event_Processed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Mode__c</field>
            <value>
                <elementReference>$Record.Process_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <object>B2C_Contact_Integration_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>... retrieve the Account Manager configuration associated to the configuration settings.</description>
        <name>recGet_accountManagerConfig</name>
        <label>Retrieve the Account Manager Configuration</label>
        <locationX>651</locationX>
        <locationY>2074</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asn_retryCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_activeConfiguration.B2C_CRM_Sync_AuthToken_Settings__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRM_Sync_AuthToken_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... get the active configuration mapped to the default.</description>
        <name>recGet_activeConfiguration</name>
        <label>Retrieve the Active Configuration</label>
        <locationX>651</locationX>
        <locationY>1911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_accountManagerConfig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_defaultConfiguration.Active_Configuration__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRMSync_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... attempt to retrieve a B2C AuthToken for the associated B2C Client ID.</description>
        <name>recGet_B2CAuthToken</name>
        <label>Retrieve an Active B2C AuthToken</label>
        <locationX>651</locationX>
        <locationY>2399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasValidB2CAuthTokenFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>B2C_Client_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_B2CCustomerList.B2C_Client_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Invalidated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_AuthToken__c</object>
        <sortField>Expiration_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the specified B2C CustomerList</description>
        <name>recGet_B2CCustomerList</name>
        <label>Get the B2C CustomerList</label>
        <locationX>652</locationX>
        <locationY>1090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_B2CInstance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_CustomerList_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CustomerList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the B2C Instance related to the attached B2C CustomerList</description>
        <name>recGet_B2CInstance</name>
        <label>Get the Related B2C Instance</label>
        <locationX>651</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ia_validateIntegrationConfiguration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recGet_B2CCustomerList.B2C_Instance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieves the Contact Record to perform validation.</description>
        <name>recGet_Contact</name>
        <label>Get the Contact Record</label>
        <locationX>653</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_verifyContactWasFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... validate that the Contact record exists prior to auditing.</description>
        <name>recGet_contactValidatePublish</name>
        <label>Validate the Contact Exists</label>
        <locationX>986</locationX>
        <locationY>4159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasContactVerifiedPublish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... validate that the Contact record exists prior to auditing.</description>
        <name>recGet_contactValidateRetrieve</name>
        <label>Validate the Contact Exists</label>
        <locationX>337</locationX>
        <locationY>4172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasContactVerified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... retrieve the default configuration for the application.</description>
        <name>recGet_defaultConfiguration</name>
        <label>Retrieve the Default Configuration</label>
        <locationX>650</locationX>
        <locationY>1759</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recGet_activeConfiguration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Production_Configuration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>B2C_CRM_Sync_Default_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>527</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>dec_isProcessModeValid</targetReference>
        </connector>
        <object>B2C_Commerce_ProcessCustomerDetails__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>... represents the incremental retryCount used to request B2C AuthTokens.</description>
        <name>authTokenRetryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the retrieved / generated B2C AuthToken that will be used for future requests.</description>
        <name>B2CAuthToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... transition variable representing the string version of the retryCount for B2C AuthToken requests.</description>
        <name>RetryCountPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the date / time that a contact was last modified taken from the post-publish process.</description>
        <name>varContactLastModifiedDatePostPublish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents if Contact creation is enabled within the integration configuration</description>
        <name>varIsContactCreationEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the last date / time that a Contact was updated resulting from a Contact Processing Platform Event.</description>
        <name>varLastContactUpdatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
