src/sfdc/base/main/default/flows/B2CCommerce_QuickAction_B2CCustomerList_NamedCredentialsReset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>... resets the Named Credential developerName value that exists on all child Sites associated to a given CustomerList.</description>
    <interviewLabel>B2C Commerce: CustomerList: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: B2C CustomerList: Sites: Named Credentials: Reset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>... display to the user that the Named Credential values have been reset successfully.</description>
        <name>screen_activateB2CCustomerListMessage</name>
        <label>Display Reset Status for the B2C CustomerList</label>
        <locationX>536</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_resetB2CClientIDsHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The Named Credentials Have Been Reset for this CustomerList&apos;s Sites&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The Named Credential Developer Name values on this customerList&apos;s child Sites have been reset.  Please note that any integration features dependent on authentication with B2C Commerce will no longer function.  Consider updating the customerList&apos;s &lt;/span&gt;&lt;span style=&quot;font-size: 12px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Sites with a new Named Credential Developer Name value to re-enable dependent features.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sub_resetNamedCredentialsChildSites.thisCustomerList.Id</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sub_resetNamedCredentialsChildSites.thisCustomerList.Name</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lbl_numberOfSitesUpdatedNC</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sub_resetNamedCredentialsChildSites.recOut_sitesRecordCount</elementReference>
            </defaultValue>
            <fieldText>Number of Sites Updated</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>lbl_footer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please remember that any external service-calls to B2C Commerce dependent on authentication will require new Named Credential Developer Name values to function.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>sub_resetNamedCredentialsChildSites</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... resets the namedCredential values currently set on childSites.</description>
        <name>sub_resetNamedCredentialsChildSites</name>
        <label>Reset Named Credentials on Child Sites</label>
        <locationX>536</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>screen_activateB2CCustomerListMessage</targetReference>
        </connector>
        <flowName>B2CCommerce_B2CCustomerList_ListSitesNamedCredentialsReset</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>... represents the recordId of the B2C Commerce CustomerList being activated.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the updated B2C CustomerList.</description>
        <name>varB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
</Flow>
