src/sfdc/base/main/default/flows/B2CCommerce_QuickAction_B2CCustomerList_ClientIDsApply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>... evaluate if the current CustomerList has a valid ClientID?</description>
        <name>dec_wasB2CClientIDFound</name>
        <label>Was a ClientID found?</label>
        <locationX>527</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>screen_B2CCustomerListMessage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>decOut_ClientIDExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisCustomerList.B2C_Client_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_applyCustomerListClientIDToSites</targetReference>
            </connector>
            <label>ClientID Exists</label>
        </rules>
    </decisions>
    <description>... apply the ClientID value configured for a given B2C CustomerList to all child Sites.</description>
    <interviewLabel>B2C Commerce: QuickAction: B2C CustomerList: ClientIDs: Apply {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce: Quick Action: B2C CustomerList: Sites: B2C ClientIDs: Apply</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>... retrieve the current B2C CustomerList.</description>
        <name>recGet_b2cCustomerList</name>
        <label>Retrieve the B2C CustomerList</label>
        <locationX>535</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_wasB2CClientIDFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>B2C_CustomerList__c</object>
        <outputReference>thisCustomerList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2C_Client_ID__c</queriedFields>
        <queriedFields>B2C_Client_ID_Value__c</queriedFields>
        <queriedFields>Is_B2C_Client_ID_Active__c</queriedFields>
        <queriedFields>Total_Sites__c</queriedFields>
        <queriedFields>JWT_Certificate_Name__c</queriedFields>
        <queriedFields>Is_JWT_Certificate_Verified__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <description>... display to the user that the B2C CustomerList&apos;s ClientID value has been applied to child sites.</description>
        <name>screen_B2CCustomerListMessage</name>
        <label>Display Status for the B2C CustomerList</label>
        <locationX>536</locationX>
        <locationY>928</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_resetB2CClientIDsHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The B2C ClientID For this CustomerList Has Been Applied to Its Sites&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The B2C ClientID value associated to this CustomerList have been applied to its child Sites.  Details of this update are included below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Id</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Name</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>B2C_ClientID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.B2C_Client_ID_Value__c</elementReference>
            </defaultValue>
            <fieldText>B2C ClientID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_numberOfSitesUpdatedClientID</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>sub_applyCustomerListClientIDToSites.recOut_sitesRecordCount</elementReference>
            </defaultValue>
            <fieldText>Number of Sites Updated</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>lbl_footer</name>
            <fieldText>&lt;p&gt;Please remember that any external service-calls to B2C Commerce are dependent on the ClientID values attached to the CustomerList of corresponding Sites.  If these calls begin to fail, please check the ClientID values and ensure that they are valid.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>... display to the user that the B2C CustomerList&apos;s ClientID value has been applied to child sites.</description>
        <name>screen_B2CCustomerListMessage_0</name>
        <label>Display Status for the B2C CustomerList</label>
        <locationX>251</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lbl_resetB2CClientIDsHeader_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The B2C ClientID For this CustomerList Has Not Been Set&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The B2C Client ID value associated to this CustomerList has not been set.  Please update this CustomerList with a valid B2C Client ID before applying this value to child Sites.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListId_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Id</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_activateB2CCustomerListName_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.Name</elementReference>
            </defaultValue>
            <fieldText>B2C CustomerList</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>B2C_ClientID_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisCustomerList.B2C_Client_ID_Value__c</elementReference>
            </defaultValue>
            <fieldText>B2C ClientID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lbl_footer_0</name>
            <fieldText>&lt;p&gt;Please remember that any external service-calls to B2C Commerce are dependent on the ClientID values attached to the CustomerList of corresponding Sites.  If these calls begin to fail, please check the ClientID values and ensure that they are valid.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>409</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>recGet_b2cCustomerList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... apply the current customerList&apos;s ClientID value to its child Sites.</description>
        <name>sub_applyCustomerListClientIDToSites</name>
        <label>Apply the CustomerList ClientID to Child Sites</label>
        <locationX>536</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>screen_B2CCustomerListMessage</targetReference>
        </connector>
        <flowName>B2CCommerce_B2CCustomerList_ListSitesClientIDApply</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>... represents the recordId of the B2C Commerce CustomerList being activated.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerList being interacted with.</description>
        <name>thisCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the updated B2C CustomerList.</description>
        <name>varB2CCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
</Flow>
